{% extends '::base.html.twig' %}
{% block content %}
<script>
    $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<div class="container">
    <div class="page-header">
        <h3>Factura detalle</h3>
    </div>

    <!-- Encabezado Movimiento -->
    <div class="panel panel-default">
      <div class="panel-heading">Informacion programacion pago</div>
      <div class="panel-body">
            <table width="100%" class="table table-condensed table-bordered ">
                <tr>
                    <td class="titulo">CODIGO:</td>
                    <td>{{ arFactura.codigoFacturaPk }}</td>
                    <td class="titulo">FECHA:</td>
                    <td class="td-in-well">{{ arFactura.fecha|date("Y/m/d") }}</td>
                    <td class="titulo">BRUTO:</td>
                    <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrBruto | number_format(2, '.', ',') }}</td>                   
                </tr>
                <tr>
                    <td class="titulo">NUMERO:</td>
                    <td class="td-in-well">{{ arFactura.numero }}</td>
                    <td class="titulo">VENCE:</td>
                    <td class="td-in-well">{{ arFactura.fechaVence|date("Y/m/d") }}</td>
                    <td class="titulo">(-)RETENCION FUENTE:</td>
                    <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrRetencionFuente | number_format(2, '.', ',') }}</td>                   
                </tr>
                <tr>
                    <td class="titulo">TERCERO:</td>
                    <td class="td-in-well">{{ arFactura.terceroRel.nombreCorto }}</td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                    <td class="titulo">RETENCION CREE:</td>
                    <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrRetencionCREE | number_format(2, '.', ',') }}</td>
                </tr>    
                <tr>
                    <td class="titulo">CENTRO COSTO:</td>
                    <td class="td-in-well">{{ arFactura.centroCostoRel.nombre }}</td>
                    <td class="titulo">BASE AIU:</td>
                    <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrBaseAIU | number_format(2, '.', ',') }}</td>
                    <td class="titulo">(+)IVA:</td>
                    <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrIva | number_format(2, '.', ',') }}</td>
                </tr>                 
                <tr>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                    <td class="titulo">ADMINISTRACION:</td>
                    <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrTotalAdministracion | number_format(2, '.', ',') }}</td>
                    <td class="titulo">(-)RETENCION IVA:</td>
                    <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrRetencionIva | number_format(2, '.', ',') }}</td>
                </tr> 
                <tr>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                    <td class="titulo">INGRESO MISION:</td>
                    <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrIngresoMision | number_format(2, '.', ',')}}</td>
                    <td class="titulo">TOTAL NETO:</td>
                    <td class="td-in-well-numerico" align="right">$ {{ arFactura.vrNeto | number_format(2, '.', ',') }}</td>
                </tr>                 
                <tr>
                    <td colspan="8">COMENTARIOS:</td>
                </tr>
            </table>
      </div>
    </div>

    <!-- Fin Encabezado Movimiento -->
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="btn-group">                        
            {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                            
            {{ form_widget(form.BtnReliquidar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}            
        </div>
    <br /><br />
    <ul class="nav nav-tabs">
        <li class="active"><a href="#pagos" data-toggle="tab">Pagos</a></li>
        <li><a href="#conceptos" data-toggle="tab">Conceptos</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="pagos">                
                <!-- Menu Encabezado Movimiento -->
                <div id="detalles" style="width: 100%"><br>
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>ID</th>                    
                            <th style="text-align: right">IBC</th>
                            <th style="text-align: right">T. A</th>
                            <th style="text-align: right">V. A</th>
                            <th style="text-align: right">AUX. TRANS</th>
                            <th style="text-align: right">ARP</th>
                            <th style="text-align: right">EPS</th>
                            <th style="text-align: right">PENSION</th>
                            <th style="text-align: right">CAJA</th>
                            <th style="text-align: right">CESANTIAS</th>
                            <th style="text-align: right">VACACIONES</th>
                            <th style="text-align: right">ADMON</th>
                            <th></th>
                        </tr>

                        {% for arFacturaDetallesPagos in arFacturaDetallesPagos %}
                            <tr> 
                                <td><input type="hidden" name="LblCodigo[]" value="{{ arFacturaDetallesPagos.codigoFacturaDetallePagoPk }}">{{ arFacturaDetallesPagos.codigoFacturaDetallePagoPk }}</td>                                  
                                <td style="text-align: right">{{ arFacturaDetallesPagos.VrIngresoBaseCotizacion | number_format(2, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetallesPagos.VrAdicionalTiempo | number_format(2, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetallesPagos.VrAdicionalValor | number_format(2, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetallesPagos.VrAuxilioTransporte | number_format(2, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetallesPagos.VrArp | number_format(2, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetallesPagos.VrEps | number_format(2, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetallesPagos.VrPension | number_format(2, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetallesPagos.VrCaja | number_format(2, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetallesPagos.VrCesantias | number_format(2, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetallesPagos.VrVacaciones | number_format(2, '.', ',') }}</td>
                                <td style="text-align: right">{{ arFacturaDetallesPagos.VrAdministracion | number_format(2, '.', ',') }}</td>
                                <td><input type="checkbox" name="ChkSeleccionarPago[]" value="{{ arFacturaDetallesPagos.codigoFacturaDetallePagoPk }}" /></td>
                            </tr>
                        {% endfor %} 
                    </table>
                    <!-- Fin Botones Menu Items -->
                    <div class="btn-toolbar" style="float:right">
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_facturas_agregar_pago', {'codigoFactura': arFactura.codigoFacturaPk}) }}', 'AgregarGuia', 600, 1000)" >Agregar</a>
                            {{ form_widget(form.BtnRetirarDetallePago, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}                        
                        </div>
                    </div>                    
                </div>            
        </div>
        <div class="tab-pane" id="conceptos">

        </div>                        
    </div>
    <br/><br/>
    <div class="btn-group">
        <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_facturas_lista') }}" style="float:left">Volver</a>
    </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
