{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <h3>Nuevo periodo</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">     
            <div class="form-group form-group-sm">
                <label for="form_clienteRel" class="col-sm-3 control-label">Cliente:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.clienteRel, { 'attr': {'class': 'form-control'} }) }}                      
                </div>                
            </div>             
            <div class="form-group form-group-sm">
                <label for="form_fechaDesde" class="col-sm-3 control-label">Desde:</label>
                <div class="col-sm-9">
                        {{ form_widget(form.fechaDesde) }}
                </div>
            </div> 
            <div class="form-group form-group-sm">
                <label for="form_fechaHasta" class="col-sm-3 control-label">Hasta:</label>
                <div class="col-sm-9">
                        {{ form_widget(form.fechaHasta) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaPago" class="col-sm-3 control-label">Fecha pago:</label>
                <div class="col-sm-9">
                        {{ form_widget(form.fechaPago) }}
                </div>
            </div>                
            <div class="form-group form-group-sm">
                <label for="form_anio" class="col-sm-3 control-label">Año:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.anio, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-3 control-label">Mes:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.mes, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>                
            <div class="form-group form-group-sm">
                <label for="form_anioPago" class="col-sm-3 control-label">Año pago:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.anioPago, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>
            <div class="form-group form-group-sm">
                <label for="form_mesPago" class="col-sm-3 control-label">Mes pago:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.mesPago, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>                
        </div>
    </div>               
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('brs_afi_movimiento_periodo') }}">Cancelar</a>        
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}