{% extends 'zikmontFrontEndBundle::layout_app.html.twig' %}
{% block content %}

{% block javascripts %}


{% endblock %}
<div class="left_articles">                

    <div class="page-header">
        <h2>Listado marcas</h2>
        <a  class="btn btn-mini" id="{{ path('maestros_inventario_marcas_nuevo', { 'codigoMarcaPk':  0 }) }}"><image src="{{ asset('bundles/zikmont/imagenes/tema1/glyphicons_190_circle_plus.png') }}" width=20 height=20> Crear marca</a>
    </div>        

    <table  class="table table-striped table-bordered table-condensed" style="width: 0%"> 
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th></th>
        </tr>

        {% for arMarcas in arMarcas %}
        <tr>
            <td>{{ arMarcas.codigoMarcaPk }}</td>
            <td>{{ arMarcas.nombreMarca }}</td>
            <td style="text-align: center"><a id="{{ path('maestros_inventario_marcas_nuevo', { 'codigoMarcaPk':  arMarcas.codigoMarcaPk }) }}" ><img src="{{ asset('bundles/zikmont/imagenes/tema1/glyphicons_151_edit.png') }}" width=20 height=20></a></td>            
        </tr>   
        {% endfor %}            
    </table>   
</div>
{% endblock %}
