{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Programación de pago - adicionales al pago</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}

        <table  class="table table-striped table-bordered table-condensed">
            <tr>
                <th>CÓDIGO</th>
                <th>CENTRO COSTO</th>
                <th>DESDE</th>
                <th>HASTA</th>
                <th></th>                
                
            </tr>
            {% for arProgramacionPagos in arProgramacionPagos %}
            <tr>
                <td><input type="hidden" name="LblCodigo[]" value="{{ arProgramacionPagos.codigoProgramacionPagoPk }}">{{ arProgramacionPagos.codigoProgramacionPagoPk }} </td>
                <td>{{ arProgramacionPagos.CentroCostoRel.nombre  }}</td>
                <td>{{ arProgramacionPagos.fechaDesde|date("Y/m/d")  }}</td> 
                <td>{{ arProgramacionPagos.fechaHasta|date("Y/m/d")  }}</td>
                <td style="text-align: center"><a href="{{ path('brs_rhu_pagos_adicionales_detalle', { 'codigoProgramacionPago': arProgramacionPagos.codigoProgramacionPagoPk }) }}" ><img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" title="Editar registrosssss"></a></td>
                
            </tr>
            {% endfor %}
        </table>

        <!-- Botones Menu Items -->
        <div class="btn-toolbar" style="float: right">
            
        </div>
        <!-- Fin Botones Menu Items -->
        {{ form_rest(form) }}
    {{ form_end(form) }}        

</div>
{% endblock %}
