{% extends '::base2.html.twig' %}
{% block title %}Cargos nuevo - Soga App{% endblock %} 
{% block content %}
<div class="container">    
    {{ form_start(formCargo, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(formCargo) }}
    <h3>Nuevo cargo</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                        {{ form_widget(formCargo.nombre, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()', 'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Supervigilancia:</label>
                <div class="col-sm-10">
                        {{ form_widget(formCargo.cargoSupervigilanciaRel, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()', 'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>            
</div>
</div>
    <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_base_cargo') }}">Cancelar</a>
            {{ form_widget(formCargo.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>            
    {{ form_end(formCargo) }}
</div>    
{% endblock %}
