{% extends '::base2.html.twig' %}
{% block title %}Proyección costo prestaciones (Con parametros) - Soga App{% endblock %}
{% block content %}
<div class="container">
    <script type="text/javascript">
    $(document).ready(function() {
            $('.date').datepicker({ dateFormat: 'yy-mm-dd' ,dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ], monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]})  });
    </script>
    <div class="page-header">
        <h3>Proyección de costos prestaciones (Con parametros)</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Identificacion:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.TxtIdentificacion, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Hasta:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.fechaHasta, {'attr': {'maxlength' : 10} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}                        
                        {{ form_widget(form.BtnGenerar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}                        
                    </div>                    
                </div>
            </div>
        </div>
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>DOCUMENTO</th>
                <th>EMPLEADO</th>
                <th>CONTRATO</th>
                <th>GRUPO PAGO</th>
                <th>SALARIO</th>
                <th>HASTA</th>                
                <th>SAL_REAL</th>
                <th>POR</th>
                <th>SALARIO</th>                
                <th>PRI_REAL</th>
                <th>PRIMAS</th>
                <th>DIF</th>
                <th>DIAS</th>
                <th>AUS</th>
                <th>U.PAGO</th>                
                <th>SAL_REAL</th>
                <th>POR</th>
                <th>SALARIO</th>
                <th>CES_REAL</th>
                <th>CESANTIAS</th>
                <th>DIF</th>
                <th>INT_REAL</th>
                <th>INTERESES</th>
                <th>DIF</th>
                <th>DIAS</th>
                <th>U.PAGO</th>
                <th>D.AUS</th>
            </tr>
            {% for arProyecciones in arProyecciones %}
            <tr>                
                <td>{{ arProyecciones.empleadoRel.numeroIdentificacion  }}</td>
                <td>{{ arProyecciones.empleadoRel.nombreCorto  }}</td>                
                <td>{{ arProyecciones.codigoContratoFk  }}</td>
                <td>{{ arProyecciones.contratoRel.centroCostoRel.nombre  }}</td>
                <td style="text-align: right">{{ arProyecciones.vrSalario | number_format(0, '.', ',') }}</td>
                <td>{{ arProyecciones.fechaHasta |date('Y-m-d')  }}</td>                                
                <td style="text-align: right">{{ arProyecciones.vrSalarioPromedioPrimasReal | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arProyecciones.porcentajePrimas | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arProyecciones.vrSalarioPromedioPrimas | number_format(0, '.', ',') }}</td>                
                <td style="text-align: right">{{ arProyecciones.vrPrimasReal | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arProyecciones.vrPrimas | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arProyecciones.vrDiferenciaPrimas | number_format(0, '.', ',') }}</td>                
                <td style="text-align: right">{{ arProyecciones.diasPrima | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arProyecciones.diasAusentismoPrimas | number_format(0, '.', ',') }}</td>
                <td>{{ arProyecciones.fechaDesdePrima |date('Y-m-d')  }}</td>                                
                <td style="text-align: right">{{ arProyecciones.vrSalarioPromedioCesantiasReal | number_format(0, '.', ',') }}</td>                
                <td style="text-align: right">{{ arProyecciones.porcentajeCesantias | number_format(0, '.', ',') }}</td>                
                <td style="text-align: right">{{ arProyecciones.vrSalarioPromedioCesantias | number_format(0, '.', ',') }}</td>                
                <td style="text-align: right">{{ arProyecciones.vrCesantiasReal | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arProyecciones.vrCesantias | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arProyecciones.vrDiferenciaCesantias | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arProyecciones.vrInteresesCesantiasReal | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arProyecciones.vrInteresesCesantias | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arProyecciones.vrDiferenciaInteresesCesantias | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arProyecciones.diasCesantias | number_format(0, '.', ',') }}</td>
                <td>{{ arProyecciones.fechaDesdeCesantias |date('Y-m-d')  }}</td>                
                <td style="text-align: right">{{ arProyecciones.diasAusentismo | number_format(0, '.', ',') }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="btn-toolbar" style="float: left">
            <div class="btn-group">
                {{ knp_pagination_render(arProyecciones) }}
            </div>
            <div class="btn-group">
                <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arProyecciones.getTotalItemCount }}</span></div>
            </div>
        </div>
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}
