{% extends '::base_sin_menu.html.twig' %}
{% block title %}Contrato prorroga nuevo - Soga App{% endblock %} 
{% block content %}
<div class="container">
    <script type="text/javascript">
    $(document).ready(function() {
    $('.date').datepicker({ dateFormat: 'yy-mm-dd' ,dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ], monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]})  });
    </script>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <h3>Nuevo contrato prorroga</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body"> 
            <div class="form-group form-group-sm">
                <label for="form_fechaInicioNueva" class="col-sm-5 control-label">Fecha desde:</label>
                <div class="col-sm-7">
                        {{ form_widget(form.fechaInicioNueva) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaFinalNueva" class="col-sm-5 control-label">Fecha hasta:</label>
                <div class="col-sm-7">
                        {{ form_widget(form.fechaFinalNueva) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label for="form_detalle" class="col-sm-5 control-label">Detalle:</label>
                <div class="col-sm-7">
                        {{ form_widget(form.detalle, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
        </div>
</div>
    <div class="modal-footer">
            {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
</div>    
{% endblock %}
