{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}    
    <div class="page-header">
        <h3>Descargar guias</h3>
    </div>    
        <table  class="table table-striped table-bordered table-condensed">
            <tr>
                <th>ID</th>
                <th>Servicio</th>
                <th>Número</th>
                <th>Fecha</th>
                <th>Nit</th>
                <th>Cliente</th>
                <th>Destino</th>
                <th>Ruta</th>
                <th>Unidades</th>
                <th>P. Real</th>
                <th>P. Volumen</th>
                <th>Flete</th>
                <th>Manejo</th>
                <th>Despacho</th>
                <th></th>
                <th></th>
            </tr>

            {% for arGuias in arGuias %}

            <tr>
                <td><input type="hidden" name="LblCodigoMovimiento[]" value="{{ arGuias.codigoGuiaPk }}">{{ arGuias.codigoGuiaPk }} </td>
                <td>{{ arGuias.tipoServicioRel.nombre  }}</td>
                <td>{{ arGuias.numeroGuia | number_format(0)}}</td>
                <td>{{ arGuias.fechaIngreso |date("Y/m/d")  }}</td>
                <td>{{ arGuias.terceroRel.nit  }}</td>
                <td>{{ arGuias.terceroRel.nombreCorto  }}</td>
                <td>{{ arGuias.ciudadDestinoRel.nombre  }}</td>
                <td>{{ arGuias.rutaRel.nombre  }}</td>
                <td style="text-align: right">{{ arGuias.ctUnidades | number_format(0, '.', ',')}}</td>
                <td style="text-align: right">{{ arGuias.ctPesoReal | number_format(0, '.', ',')}}</td>
                <td style="text-align: right">{{ arGuias.ctPesoVolumen | number_format(0, '.', ',')}}</td>
                <td style="text-align: right">{{ arGuias.vrFlete | number_format(2, '.', ',')}}</td>
                <td style="text-align: right">{{ arGuias.vrManejo | number_format(2, '.', ',')}}</td>
                <td>{{ arGuias.codigoDespachoFk  }}</td>                
                <td style="text-align: center"><a href="{{ path('brs_log_guias_detalle', { 'codigoGuia': arGuias.codigoGuiaPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=22 height=22></a></td>                
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arGuias.codigoGuiaPk }}" /></td>                
            </tr>

            {% endfor %}

        </table>

        <!-- Botones Menu Items -->
        <div class="btn-toolbar" style="float: right">            
            <div class="btn-group">                                               
                <button class="btn btn-success btn-mini" type="submit" name="OpSubmit" value="OpDescargar" >Descargar seleccionadas</button>
            </div>
        </div>
        <!-- Fin Botones Menu Items -->

    <br /><br />
    <hr/>
    
    <div class="well">        
            {{ form_errors(form) }}
            <div class="form-group">  
                <label for="form_TxtCodigoGuia" class="col-sm-2 control-label">Codigo</label>
                <div class="col-sm-10">                  
                    {{ form_widget(form.TxtCodigoGuia, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>   
            <div class="form-group">  
                <label for="form_TxtNumeroGuia" class="col-sm-2 control-label">Numero</label>
                <div class="col-sm-10">                  
                    {{ form_widget(form.TxtNumeroGuia, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>     
            <div class="form-group">
                <label for="TxtNombreTercero" class="col-sm-2 control-label">Tercero</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                {{ form_widget(form.TxtNombreTercero, { 'attr': {'class': 'form-control'} }) }}
                                <span class="input-group-btn">
                                    {{ form_widget(form.TxtCodigoTercero, { 'attr': {'class': 'btn btn-default'} }) }}
                                    <a class="btn btn-default" href="javascript:abrirVentana3('{{ path('brs_gen_buscar_tercero') }}', 'BuscarTercero', 600, 900)">Buscar</a>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>        
            <div class="form-group">  
                <label for="form_TxtFechaDesde" class="col-sm-2 control-label">Desde</label>
                <div class="col-sm-10">                  
                    {{ form_widget(form.TxtFechaDesde, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>                                                 
            <div class="form-group">  
                <label for="form_TxtFechaHasta" class="col-sm-2 control-label">Hasta</label>
                <div class="col-sm-10">                  
                    {{ form_widget(form.TxtFechaHasta, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form.Buscar, { 'attr': {'class': 'btn btn-primary'} }) }}
                </div>
            </div>        
            {{ form_rest(form) }}                 
    </div>    
    {{ form_end(form) }}              
</div>
{% endblock %}
