{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>Detalles de las vacaciones</h3>
        </div>

        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        
        <div class="panel panel-default">
            <div class="panel-heading">Información de las vacaciones</div>
            <div class="panel-body">
                <div class="btn-group">
                    {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                </div>    
                <table width="100%" class="table table-condensed table-bordered">
                    <tr>
                        <td class="titulo">CODIGO:</th>
                        <td class="td-in-well">{{ arVacaciones.codigoVacacionPk }}</td>
                        <td class="titulo">FECHA:</th>
                        <td class="td-in-well">{{ arVacaciones.fecha |date("Y/m/d") }}</td>
                        <td class="titulo">TOTAL CREDITO:</th>
                        <td class="td-in-well" align="right">{{ arVacaciones.vrVacaciones | number_format(2, '.', ',')}}</td>                        
                    </tr>
                    <tr>
                        <td class="titulo">EMPLEADO:</th>
                        <td class="td-in-well">{{ arVacaciones.empleadoRel.nombreCorto }}</td>
                        <td class="titulo">CREDITO:</th>
                        <td class="td-in-well">{{ arVacaciones.empleadoRel.numeroIdentificacion }}</td>
                        <td class="titulo">VALOR CUOTA:</th>
                        <td class="td-in-well" align="right">{{ arVacaciones.vrIbc | number_format(2, '.', ',')}}</td>                                                
                    </tr>                    
                    <tr>
                        <td class="titulo"></th>
                        <td class="td-in-well" align="right"></td>
                        <td class="titulo"></th>
                        <td class="td-in-well" align="right"></td>
                        <td class="titulo">SEGURO:</th>
                        <td class="td-label" align="right">{{ arVacaciones.vrIbc | number_format(2, '.', ',')}}</td>
                    </tr>
                    <tr>
                        <td class="titulo">NUMERO CUOTAS:</th>
                        <td class="td-in-well">{{ arVacaciones.diasVacaciones }}</td>
                        <td class="titulo">CUOTA ACTUAL:</th>
                        <td class="td-in-well">{{ arVacaciones.diasVacaciones }}</td>
                        <td class="titulo">ABONOS:</th>
                        <td class="td-in-well" align="right">{{ arVacaciones.vrIbc | number_format(2, '.', ',')}}</td>                        
                    </tr>
                    <tr>
                        <td class="titulo"></th>
                        <td class="td-in-well" align="right"></td>
                        <td class="titulo">PAGADO:</th>
                        <td> {% if arVacaciones.estadoPagado == 1 %}SI{% else %} NO {% endif %}</td>
                        <td class="titulo">SALDO:</th>
                        <td class="td-in-well" align="right">{{ arVacaciones.Ibc | number_format(2, '.', ',')}}</td>                                                
                    </tr>
                    <tr>
                        <td class="titulo"></th>
                        <td class="td-label" align="right"></td>
                        <td class="titulo">APROBADO:</th>
                        <td> {% if arVacaciones.aprobado == 0 %} NO {% else %} SI {% endif %} </td>
                        <td class="titulo">CUOTA TEMPORAL:</th>
                        <td class="td-in-well" align="right">{{ arVacaciones.vrIbc | number_format(2, '.', ',')}}</td>                        
                    </tr>
                    <tr>
                        <td class="titulo">TIPO PAGO:</th>
                        <td class="td-label">{{ arVacaciones.centroCostoRel.nombre }}</td>
                        <td class="titulo">SUSPENDIDO:</th>
                        <td> {% if arVacaciones.estadoPagado == 0 %} NO {% else %} SI {% endif %} </td>
                        <td class="titulo">SALDO REAL:</th>
                        <td class="td-in-well" align="right">{{ arVacaciones.vrIbc | number_format(2, '.', ',')}}</td>                                                                        
                    </tr>
                    <tr>
                        <td class="titulo" >COMENTARIOS: </td>
                        <td class="td-in-well" colspan="7">{{ arVacaciones.comentarios }}</td>
                    </tr>                    
                </table>
            </div>
        </div>
            
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_vacaciones_lista') }}" style="float:left">Volver</a>
            </div>
        </div>
        <br /><br />
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
