{% extends '::base_sin_menu.html.twig' %}
{% block title %}Control acceso nuevo - Soga App{% endblock %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <h3>Cargar acceso empleado</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Cargar archivo</div>
        <div class="panel-body">
            <div>                      
                <div class="form-group form-group-sm">
                    <label for="form_cargar" class="col-sm-2 control-label">Cargar:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.attachment, { 'attr': {'class': 'btn btn-sm btn-default'} }) }}            
                    </div>
                </div>                                
            </div>                                            
        </div>
    </div>                       
    <div class="modal-footer">        
            {{ form_widget(form.BtnCargar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}            
    </div>   
    <table  class="table table-striped table-bordered table-condensed table-hover">            
            <tr>
                <th>Error</th>                
            </tr>            
            {% for arrErrores in arrErrores %}
            <tr>
                <td>{{ arrErrores.error  }}</td>                
            </tr>            
            {% endfor %}                        
        </table>    
    {{ form_end(form) }}
</div>
{% endblock %}