{% extends '::base.html.twig' %}
{% block content %}

<div class="container">          
    <form class="form-horizontal" role="form" id="FrmNuevo" action="{{ path('brs_log_despachos_nuevo', { 'codigoDespacho': 0  }) }}" method="post">
        <h3>{%if arGuia is defined and arGuia is not null%}Editar {%else%}Nuevo {%endif%} despacho</h3>
        <div class="well">
            {% if arGuia is defined and arGuia is not null %}
            <div class="form-group">
                <label for="TxtCodigoDespacho" class="col-sm-2 control-label">Codigo despacho</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="TxtCodigoGuia" name="TxtCodigoDespacho" {% if arDespacho is defined and arDespacho is not null %} value="{{arDespacho.codigoDespachoPk}}" readonly="true"{% endif %}/>
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="TxtNombreCiudadOrigen" class="col-sm-2 control-label">Origen</label>
                <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="TxtNombreCiudadOrigen" name="TxtNombreCiudadOrigen" value="{% if arGuia is defined and arGuia is not null %} {{arGuia.ciudadOrigenRel.nombre}} {%endif%}" placeholder="Ciudad origen"/>
                      <span class="input-group-btn">
                        <input type="text" class="btn btn-default" id="TxtCodigoCiudadOrigen" name="TxtCodigoCiudadOrigen" value=""/>
                        <a class="btn btn-default" href="javascript:abrirVentana3('{{ path('brs_gen_buscar_ciudad', {'campoCodigo': 'TxtCodigoCiudadOrigen', 'campoNombre': 'TxtNombreCiudadOrigen'}) }}', 'BuscarCiudad', 600, 900)">Buscar</a>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                </div>
            </div>             
            <div class="form-group">
                <label for="TxtNombreCiudadDestino" class="col-sm-2 control-label">Destino</label>
                <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="TxtNombreCiudadDestino" name="TxtNombreCiudadDestino" value="{% if arGuia is defined and arGuia is not null %} {{arGuia.ciudadDestinoRel.nombre}} {%endif%}" placeholder="Ciudad destino"/>
                      <span class="input-group-btn">
                        <input type="text" class="btn btn-default" id="TxtCodigoCiudadDestino" name="TxtCodigoCiudadDestino" value=""/>
                        <a class="btn btn-default" href="javascript:abrirVentana3('{{ path('brs_gen_buscar_ciudad', {'campoCodigo': 'TxtCodigoCiudadDestino', 'campoNombre': 'TxtNombreCiudadDestino'}) }}', 'BuscarCiudad', 600, 900)">Buscar</a>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                </div>
            </div>             
            <div class="form-group">
                <label for="TxtNombreConductor" class="col-sm-2 control-label">Conductor:</label>
                <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="TxtNombreConductor" name="TxtNombreConductor" value="{% if arGuia is defined and arGuia is not null %} {{arGuia.ciudadDestinoRel.nombre}} {%endif%}" placeholder="Conductor"/>
                      <span class="input-group-btn">
                        <input type="text" class="btn btn-default" id="TxtCodigoConductor" name="TxtCodigoConductor" value=""/>
                        <a class="btn btn-default" href="javascript:abrirVentana3('{{ path('brs_log_buscar_conductor') }}', 'BuscarConductor', 600, 900)">Buscar</a>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                </div>
            </div>             
        </div>
        <div class="well">
            <div class="form-group">
                <label for="TxtFlete" class="col-sm-2 control-label">Flete</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="TxtFlete" name="TxtFlete" {% if arGuia is defined and arGuia is not null %} value="{{arDespacho.vrFlete}}" {% endif %} placeholder="flete"/>
                </div>
            </div>                                              
            <div class="form-group">
                <label for="TxtAnticipo" class="col-sm-2 control-label">Anticipo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="TxtAnticipo" name="TxtAnticipo" {% if arGuia is defined and arGuia is not null %} value="{{arDespacho.vrAnticipo}}" {% endif %} placeholder="anticipo"/>
                </div>
            </div>            
        </div>
        <div class="well">
            <div class="form-group">
                <label for="TxtComentarios" class="col-sm-2 control-label">Comentarios</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="TxtComentarios" rows=5 name="TxtComentarios" {% if arDespacho is defined and arDespacho is not null %} value="{{arDespacho.comentarios}}" {% endif %} placeholder="Comentarios"> </textarea>
                </div>
            </div>            
        </div>

        <div class="modal-footer">
            <a class="btn btn-default" href="{{ path('brs_log_despachos_lista') }}">Cancelar</a>
            <button id="link_guardar" class="btn btn-primary" type="submit" name="OpSubmit" value="OpGuardar">Guardar</button>           
        </div>

    </form>
</div>
{% endblock %}