{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>Cambio salario (Por cliente)</h3>
        </div>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Parametros generales</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label">Cliente:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.clienteRel, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <label class="col-sm-2 control-label">Nuevo Salario:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.salario, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>


        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                {{ form_widget(form.BtnActualizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
        </div>
        <!-- Fin Botones Menu Items -->
        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
