{% extends '::base.html.twig' %}
{% block content %}
    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>    
    <div class="container">
        <div class="page-header">
            <h3>Detalle cliente</h3>
        </div>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_ad_archivos_lista', { 'codigoDocumento': 17,  'numero': arCliente.codigoClientePk }) }}', 'Archivos', 500, 700)" >Archivos</a>                
            </div>
        </div>
        <br /><br />
        <!-- Encabezado Movimiento -->
        <div class="panel panel-default">
            <div class="panel-heading">Información</div>
            <div class="panel-body">
                <table width="100%" class="table table-condensed table-bordered">
                    <tr>
                        <td class="titulo">CODIGO:</td>
                        <td class="td-in-well">{{ arCliente.codigoClientePk }}</td>
                        <td class="titulo">NOMBRE</td>
                        <td class="td-in-well">{{ arCliente.nombreCorto }}</td>
                    </tr>
                    <tr>
                        <td class="titulo">ASESOR:</td>
                        <td class="td-in-well">{{ arCliente.asesorRel.nombre }}</td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                    </tr>  
                    <tr>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>                        
                        <td class="titulo" >AFILIACION:</td>
                        <td align="right">{{ arCliente.afiliacion | number_format(0, '.', ',')}}</td>
                    </tr>  
                    <tr>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>                        
                        <td class="titulo" >ADMINISTRACION:</td>
                        <td align="right">{{ arCliente.administracion | number_format(0, '.', ',')}}</td>
                    </tr>                     
                </table>
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
        <a  class="btn btn-default btn-sm" href="{{ path('brs_afi_base_cliente') }}">Volver</a>
    </div>
{% endblock %}
