{% extends '::base.html.twig' %}

{% block content %}
<div class="container">    
    {{ form_start(formCreditoTipo, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(formCreditoTipo) }}
    <h3>Nuevo tipo crédito</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                        {{ form_widget(formCreditoTipo.nombre, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>       
             
    
</div>
</div>
    <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_base_creditotipo_listar') }}">Cancelar</a>
            {{ form_widget(formCreditoTipo.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
{{ form_end(formCreditoTipo) }}
</div>    
{% endblock %}
