{% extends '::base2.html.twig' %}
{% block title %}Requisitos lista - Soga App{% endblock %}
{% block content %}
<div class="container">
    <script type="text/javascript">
    $(document).ready(function() {
            $('.date').datepicker({ dateFormat: 'yy-mm-dd' ,dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ], monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]})  });
    </script>
    <div class="page-header">
        <h3>Lista requisitos</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}                
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body"> 
                <div class="form-group form-group-sm">  
                    <label for="form_TxtIdentificacion" class="col-sm-2 control-label">Identificacion:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.TxtIdentificacion, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>                  
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>                                                    
            </div>
        </div>        
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>CÓDIGO</th>
                        <th>FECHA</th>
                        <th>IDENTIFICACION</th>
                        <th>EMPLEADO</th>
                        <th>CARGO</th>
                        <th>CERRADO</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for arRequisitos in arRequisitos %}
                        <tr>
                            <td><input type="hidden" name="LblCodigo[]" value="{{ arRequisitos.codigoRequisitoPk }}">{{ arRequisitos.codigoRequisitoPk }} </td>
                            <td>{{ arRequisitos.fecha |date("Y/m/d")  }}</td>
                            <td>{{ arRequisitos.numeroIdentificacion }}</a></td>
                            <td>{{ arRequisitos.nombreCorto }}</a></td>
                            <td>{{ arRequisitos.cargoRel.nombre }}</a></td>
                            <td>{%if arRequisitos.estadoCerrado == 1%} SI {%else%} NO {%endif%}</td>
                            <td style="text-align: center"><a href="{{ path('brs_rhu_requisito_detalle', { 'codigoRequisito': arRequisitos.codigoRequisitoPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=22 height=22 title="Detalles del registro"></a></td>                
                            <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arRequisitos.codigoRequisitoPk }}" /></td>
                        </tr>
                    {% endfor %}
                </table>                       

        <!-- Botones Menu Items -->
        <div class="btn-group" style="float: left">
            <div class="btn btn-default btn-sm">Requisitos <span class="badge">{{ arRequisitos.getTotalItemCount }}</span></div>                        
        </div>
        <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
            {{ knp_pagination_render(arRequisitos) }}       
        </div>
        <div class="btn-toolbar" style="float: right">                           
            <div class="btn-group">                
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
            </div>
            <div class="btn-group">                
                <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_requisito_nuevo', { 'codigoRequisito': 0}) }}">Nuevo</a>            
            </div>
            <div class="btn-group">                
                {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm', 'onclick': 'return confirm("Esta seguro de eliminar el registro?")'} }) }}                
            </div>            
        </div>          
        <!-- Fin Botones Menu Items -->
        {{ form_rest(form) }}
    {{ form_end(form) }}   
    
</div>
{% endblock %}
