{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>Generar archivo plano</h3>
        </div>

        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}
        
        <div class="panel panel-default">
            <div class="panel-heading">Informaci贸n a generar</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label for="form_descripcion" class="col-sm-2 control-label">Descripci贸n:</label>
                    <div class="col-sm-10">
                            {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_cuenta" class="col-sm-2 control-label">Cuenta:</label>
                    <div class="col-sm-10">
                            {{ form_widget(form.cuenta, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>    
                <div class="form-group form-group-sm">
                    <label for="form_tipoCuenta" class="col-sm-2 control-label">Tipo cuenta:</label>
                    <div class="col-sm-10">
                            {{ form_widget(form.tipoCuenta, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_fechaTransmision" class="col-sm-2 control-label">Fecha transmisi贸n (yymmdd):</label>
                    <div class="col-sm-10">
                            {{ form_widget(form.fechaTransmision, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_secuencia" class="col-sm-2 control-label">Secuencia:</label>
                    <div class="col-sm-10">
                            {{ form_widget(form.secuencia, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>    
                <div class="form-group form-group-sm">
                    <label for="form_fechaAplicacion" class="col-sm-2 control-label">Fecha aplicaci贸n (yymmdd):</label>
                    <div class="col-sm-10">
                            {{ form_widget(form.fechaAplicacion, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>    
            </div>
        </div>
        <!-- Fin-->
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                {{ form_widget(form.BtnGenerarTxt, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
        </div>    
        
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
