{% extends '::base_sin_menu.html.twig' %}
{% block title %}Empleado estudio nuevo - Soga App{% endblock %} 
{% block content %}
<div class="container">
    <script type="text/javascript">
        $(document).ready(function() {
        $('.date').datepicker({ dateFormat: 'yy-mm-dd' ,dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ], monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]})  });
    </script>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <h3>Nuevo estudio</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_empleadoEstudioTipoRel" class="col-sm-4 control-label">Tipo:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.empleadoEstudioTipoRel, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_institucion" class="col-sm-4 control-label">Institución:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.institucion, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_ciudadRel" class="col-sm-4 control-label">Ciudad:</label>
                <div class="col-sm-8">
                    {{ form_widget(form.ciudadRel, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_titulo" class="col-sm-4 control-label">Titulo obtenido:</label>
                <div class="col-sm-8">
                            {{ form_widget(form.titulo, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_gradoBachillerRel" class="col-sm-4 control-label">Grado bachiller:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.gradoBachillerRel, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_graduado" class="col-sm-4 control-label">Graduado:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.graduado, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label for="form_fechaInicio" class="col-sm-4 control-label">Fecha inicio:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.fechaInicio) }} 
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaTerminacion" class="col-sm-4 control-label">Fecha terminación:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.fechaTerminacion) }} 
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaVencimientoControl" class="col-sm-4 control-label">Fecha vencimiento estudio/curso:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.fechaVencimientoCurso) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label for="form_numeroRegistro" class="col-sm-4 control-label">Numero registro:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.numeroRegistro, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>       
            <div class="form-group form-group-sm">
                <label for="form_validarVencimiento" class="col-sm-4 control-label">Validar vencimiento:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.validarVencimiento, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group">
                <label for="form_comentarios" class="col-sm-4 control-label">Comentarios:</label>
                <div class="col-sm-8">
                            {{ form_widget(form.comentarios, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>                
        </div>
    </div>               
    <div class="modal-footer">
            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}