{% extends '::base.html.twig' %}
{% block title %}Pedido detalle - Soga App{% endblock %}
{% block content %}
<script>
    $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<div class="container">
    <div class="page-header">
        <h3>Detalle pedido</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            {{ form_widget(form.BtnAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            {{ form_widget(form.BtnDesAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            {{ form_widget(form.BtnAprobar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            {{ form_widget(form.BtnDesprogramar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
        </div>
    </div>
    <br /><br />
    <!-- Encabezado Movimiento -->
    <div class="panel panel-default">
      <div class="panel-heading">Información</div>
      <div class="panel-body">
            <table width="100%" class="table table-condensed table-bordered">
                <tr>
                    <td class="titulo">CODIGO:</td>
                    <td class="td-in-well">{{ arPedido.codigoPedidoPk }}</td>
                    <td class="titulo">NUMERO:</td>
                    <td class="td-in-well">{{ arPedido.numero }}</td>
                </tr>
                <tr>
                    <td class="titulo">TIPO:</td>
                    <td class="td-in-well">{{ arPedido.pedidoTipoRel.nombre }}</td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                </tr>                
                <tr>
                    <td class="titulo">CLIENTE:</td>
                    <td class="td-in-well">{{ arPedido.clienteRel.nombreCorto }}</td>
                    <td class="titulo" >HORAS DIURNAS:</td>
                    <td align="right">{{ arPedido.horasDiurnas | number_format(0, '.', ',')}}</td>
                </tr> 
                <tr>
                    <td class="titulo">SECTOR:</td>
                    <td class="td-in-well">{{ arPedido.sectorRel.nombre }}</td>
                    <td class="titulo" >HORAS NOCTURNAS:</td>
                    <td align="right">{{ arPedido.horasNocturnas | number_format(0, '.', ',')}}</td>
                </tr>                 
                <tr>
                    <td class="titulo">FECHA:</td>
                    <td class="td-in-well">{{ arPedido.fecha |date("Y/m/d") }}</td>
                    <td class="titulo" >HORAS:</td>
                    <td align="right">{{ arPedido.horas | number_format(0, '.', ',')}}</td>
                </tr>                 
                <tr>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                    <td class="titulo" >COSTO CALCULADO:</td>
                    <td align="right">{{ arPedido.vrCostoCalculado | number_format(0, '.', ',')}}</td>
                </tr>                
                <tr>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                    <td class="titulo" >VALOR MINIMO:</td>
                    <td align="right">{{ arPedido.vrTotalMinimo | number_format(0, '.', ',')}}</td>
                </tr>                
                <tr>
                    <td class="titulo">FECHA PROGRAMACION:</td>
                    <td class="td-in-well">{{ arPedido.fechaProgramacion |date("Y F") }}</td>
                    <td class="titulo" >VALOR:</td>
                    <td align="right">{{ arPedido.vrTotal | number_format(0, '.', ',')}}</td>
                </tr>                
            </table>
      </div>
    </div>

    <!-- Fin Encabezado Movimiento -->

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tipos" data-toggle="tab">Detalle</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tipos">
                <!-- Menu Encabezado Movimiento -->
            <div id="detalles" style="width: 100%"><br>
            <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>COD</th>
                <th>PUESTO</th>
                <th></th>
                <th>SERVICIO</th>
                <th>MODALIDAD</th>
                <th>PERIODO</th>
                <th>PLANTILLA</th>
                <th>DESDE</th>
                <th>HASTA</th>
                <th>CANT</th>
                <th>CANT.RE</th>
                <th>LU</th>
                <th>MA</th>
                <th>MI</th>
                <th>JU</th>
                <th>VI</th>
                <th>SA</th>
                <th>DO</th>
                <th>FE</th>
                <th>HORAS</th>
                <th>H.D</th>
                <th>H.N</th>
                <th>DIAS</th>
                <th>COSTO.C</th>
                <th>MINIMO</th>
                <th>AJUSTADO</th>
                <th>TOTAL</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for arPedidoDetalle in arPedidoDetalle %}
                <tr>
                    <td>{{ arPedidoDetalle.codigoPedidoDetallePk  }}<input type="hidden" name="LblCodigo[]" value="{{ arPedidoDetalle.codigoPedidoDetallePk }}"></td>
                    {% if arPedido.estadoAutorizado == 0 %}
                        <td>
                            <input class="input-grid" type="text" name="TxtPuesto{{ arPedidoDetalle.codigoPedidoDetallePk }}" id="TxtPuesto{{ arPedidoDetalle.codigoPedidoDetallePk }}" value="{{ arPedidoDetalle.codigoPuestoFk  }}" size="10" style="width:30px" onkeypress="return validarNumeros(event)" onclick="this.select()"/>
                            <a href="javascript:abrirVentana3('{{ path('brs_tur_buscar_puesto', {'campoCodigo': 'TxtPuesto' ~ arPedidoDetalle.codigoPedidoDetallePk, 'codigoCliente' : arPedido.codigoClienteFk }) }}', 'AgregarNuevoDetalle', 600, 900)"><img src="{{ asset('imagenes/bootstrap/glyphicons_027_search.png') }}" width=20 height=20 title="Buscar"></a>                            
                        </td>                        
                    {% else %}
                        <td>{{ arPedidoDetalle.codigoPuestoFk }}</td> 
                    {% endif %}
                    <td>{{ arPedidoDetalle.puestoRel.nombre | default('') }}</td> 
                    <td>{{ arPedidoDetalle.conceptoServicioRel.nombre  }}</td>                    
                    <td>{{ arPedidoDetalle.modalidadServicioRel.nombre  }}</td>                    
                    <td>{{ arPedidoDetalle.periodoRel.nombre  }}</td>
                    <td>{{ arPedidoDetalle.plantillaRel.nombre | default('')  }}</td>
                    {% if arPedido.estadoAutorizado == 0 %}                        
                        <td style="text-align: right"><input class="input-grid" type="text" name="TxtDiaDesde{{ arPedidoDetalle.codigoPedidoDetallePk }}" value="{{ arPedidoDetalle.diaDesde  }}" size="3" style="width:30px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>                        
                        <td style="text-align: right"><input class="input-grid" type="text" name="TxtDiaHasta{{ arPedidoDetalle.codigoPedidoDetallePk }}" value="{{ arPedidoDetalle.diaHasta  }}" size="3" style="width:30px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>                        
                        <td style="text-align: right"><input class="input-grid" type="text" name="TxtCantidad{{ arPedidoDetalle.codigoPedidoDetallePk }}" value="{{ arPedidoDetalle.cantidad  }}" size="3" style="width:30px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>                        
                        <td style="text-align: right"><input class="input-grid" type="text" name="TxtCantidadRecurso{{ arPedidoDetalle.codigoPedidoDetallePk }}" value="{{ arPedidoDetalle.cantidadRecurso  }}" size="3" style="width:30px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>                        
                        <td><input type="checkbox" name="chkLunes{{ arPedidoDetalle.codigoPedidoDetallePk }}" {% if arPedidoDetalle.lunes == 1 %} checked="true" {% endif %}></td>
                        <td><input type="checkbox" name="chkMartes{{ arPedidoDetalle.codigoPedidoDetallePk }}" {% if arPedidoDetalle.martes == 1 %} checked="true" {% endif %}></td>
                        <td><input type="checkbox" name="chkMiercoles{{ arPedidoDetalle.codigoPedidoDetallePk }}" {% if arPedidoDetalle.miercoles == 1 %} checked="true" {% endif %}></td>
                        <td><input type="checkbox" name="chkJueves{{ arPedidoDetalle.codigoPedidoDetallePk }}" {% if arPedidoDetalle.jueves == 1 %} checked="true" {% endif %}></td>
                        <td><input type="checkbox" name="chkViernes{{ arPedidoDetalle.codigoPedidoDetallePk }}" {% if arPedidoDetalle.viernes == 1 %} checked="true" {% endif %}></td>
                        <td><input type="checkbox" name="chkSabado{{ arPedidoDetalle.codigoPedidoDetallePk }}" {% if arPedidoDetalle.sabado == 1 %} checked="true" {% endif %}></td>
                        <td><input type="checkbox" name="chkDomingo{{ arPedidoDetalle.codigoPedidoDetallePk }}" {% if arPedidoDetalle.domingo == 1 %} checked="true" {% endif %}></td>
                        <td><input type="checkbox" name="chkFestivo{{ arPedidoDetalle.codigoPedidoDetallePk }}" {% if arPedidoDetalle.festivo == 1 %} checked="true" {% endif %}></td>                    
                    {% else %}                        
                        <td>{{ arPedidoDetalle.diaDesde }}</td>    
                        <td>{{ arPedidoDetalle.diaHasta }}</td>    
                        <td>{{ arPedidoDetalle.cantidad  }}</td>
                        <td>{{ arPedidoDetalle.cantidadRecurso  }}</td>
                        <td>{% if arPedidoDetalle.lunes == 1 %} SI {% else %} NO {% endif %}</td>
                        <td>{% if arPedidoDetalle.martes == 1 %} SI {% else %} NO {% endif %}</td>
                        <td>{% if arPedidoDetalle.miercoles == 1 %} SI {% else %} NO {% endif %}</td>
                        <td>{% if arPedidoDetalle.jueves == 1 %} SI {% else %} NO {% endif %}</td>
                        <td>{% if arPedidoDetalle.viernes == 1 %} SI {% else %} NO {% endif %}</td>
                        <td>{% if arPedidoDetalle.sabado == 1 %} SI {% else %} NO {% endif %}</td>
                        <td>{% if arPedidoDetalle.domingo == 1 %} SI {% else %} NO {% endif %}</td>
                        <td>{% if arPedidoDetalle.festivo == 1 %} SI {% else %} NO {% endif %}</td>
                    {% endif %}
                    <td style="text-align: right">{{ arPedidoDetalle.horas | number_format(0, '.', ',') }}</td> 
                    <td style="text-align: right">{{ arPedidoDetalle.horasDiurnas | number_format(0, '.', ',') }}</td> 
                    <td style="text-align: right">{{ arPedidoDetalle.horasNocturnas | number_format(0, '.', ',') }}</td> 
                    <td style="text-align: right">{{ arPedidoDetalle.dias | number_format(0, '.', ',') }}</td> 
                    <td style="text-align: right">{{ arPedidoDetalle.vrCostoCalculado | number_format(0, '.', ',') }}</td> 
                    <td style="text-align: right">{{ arPedidoDetalle.vrTotalMinimo | number_format(0, '.', ',') }}</td> 
                    {% if arPedido.estadoAutorizado == 0 %}
                        <td style="text-align: right"><input class="input-grid" type="text" name="TxtValorAjustado{{ arPedidoDetalle.codigoPedidoDetallePk }}" value="{{ arPedidoDetalle.vrTotalAjustado  }}" size="10" style="text-align: right; width:80px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>                                                
                    {% else %}
                        <td style="text-align: right">{{ arPedidoDetalle.vrTotalAjustado | number_format(0, '.', ',') }}</td> 
                    {% endif %}                    
                    <td style="text-align: right">{{ arPedidoDetalle.vrTotal | number_format(0, '.', ',') }}</td> 
                    <td>{% if arPedido.estadoAutorizado == 0 %}<a href="javascript:abrirVentana3('{{ path('brs_tur_pedido_detalle_nuevo', {'codigoPedido': arPedido.codigoPedidoPk, 'codigoPedidoDetalle': arPedidoDetalle.codigoPedidoDetallePk }) }}', 'AgregarNuevoDetalle', 600, 900)"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar el registro"></a>{% endif %}</td>
                    <td><a href="javascript:abrirVentana3('{{ path('brs_tur_pedido_detalle_recurso', {'codigoPedidoDetalle': arPedidoDetalle.codigoPedidoDetallePk }) }}', 'AgregarRecurso', 600, 1200)"><img src="{{ asset('imagenes/bootstrap/glyphicons_043_group.png') }}" width=20 height=20 title="Recursos"></a></td>
                    <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arPedidoDetalle.codigoPedidoDetallePk }}" /></td>
                </tr>
            {% endfor %}
        </table>
            </div>
        </div>
        <div class="btn-toolbar" style="float: right">
            {% if arPedido.estadoAutorizado == 0 %}
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_tur_pedido_detalle_nuevo', {'codigoPedido': arPedido.codigoPedidoPk, 'codigoPedidoDetalle': 0 }) }}', 'AgregarNuevoDetalle', 600, 900)">Nuevo</a>
                    <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_tur_pedido_detalle_nuevo_cotizacion', {'codigoPedido': arPedido.codigoPedidoPk, 'codigoPedidoDetalle': 0 }) }}', 'AgregarNuevoDetalle', 600, 900)">Nuevo desde cotizacion</a>                
                    <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_tur_pedido_detalle_nuevo_servicio', {'codigoPedido': arPedido.codigoPedidoPk, 'codigoPedidoDetalle': 0 }) }}', 'AgregarNuevoDetalle', 600, 1200)">Nuevo desde servicio</a>                                    
                </div>
            {% endif %}            
            <div class="btn-group">
                {{ form_widget(form.BtnDetalleActualizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>        
            <div class="btn-group">
                {{ form_widget(form.BtnDetalleEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
            </div>
        </div>
    </div>


        {{ form_rest(form) }}
    {{ form_end(form) }}
    <a  class="btn btn-default btn-sm" href="{{ path('brs_tur_pedido_lista') }}">Volver</a>
</div>
{% endblock %}
