{% extends '::base.html.twig' %}
{% block title %}Centro Costos lista - Soga App{% endblock %}
{% block content %}
    <div class="container">
    <div class="page-header">    
        <h3>Listado centros de costos</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }} 
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>CÓDIGO</th>
            <th>{{ knp_pagination_sortable(arCentroCostos, 'NOMBRE', 'codigo') }}</th> 
            <th>INTERFACE</th>
            <th></th>
            <th></th>
        </tr>
        
            {%for arCentroCostos in arCentroCostos %}
               <tr>
                <td>{{arCentroCostos.codigoCentroCostoPk}}</td>
                <td>{{arCentroCostos.nombre}}</td>
                <td>{{arCentroCostos.codigoInterface}}</td>
                <td><a href="{{ path('brs_ctb_base_centro_costo_nuevo',{'codigoCentroCosto': arCentroCostos.codigoCentroCostoPk})}}"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar el registro"></a></td>
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arCentroCostos.codigoCentroCostoPk }}" /></td>
            {%endfor%}
            </tr>            
    </table>
    {{ knp_pagination_render(arCentroCostos) }}
    <div class="btn-toolbar" style="float: right">              
        <div class="btn-group">                
            {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
        </div>
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('brs_ctb_base_centro_costo_nuevo', {'codigoCentroCosto': 0}) }}">Nuevo</a>
        </div>
        <div class="btn-group">
            {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}</td>                   
        </div>
    </div>     
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}