{% extends '::base.html.twig' %}
{% block title %}Cartera Cliente nuevo - Soga App{% endblock %} 
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <h3>Nuevo cliente</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">                                       
            <div class="form-group form-group-sm">
                <label for="form_nit" class="col-sm-3 control-label">Nit:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.nit, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>
            <div class="form-group form-group-sm">
                <label for="form_digitoVerificacion" class="col-sm-3 control-label">Digito verificacion:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.digitoVerificacion, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>                
            <div class="form-group form-group-sm">
                <label for="form_nombreCorto" class="col-sm-3 control-label">Nombre corto:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.nombreCorto, { 'attr': {'class': 'form-control', 'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()'} }) }}                        
                </div>                
            </div>                   
            <div class="form-group form-group-sm">
                <label for="form_asesorRel" class="col-sm-3 control-label">Asesor:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.asesorRel, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>                                
            <div class="form-group form-group-sm">
                <label for="form_formaPagoRel" class="col-sm-3 control-label">Forma pago:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.formaPagoRel, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>                
            <div class="form-group form-group-sm">
                <label for="form_plazoPago" class="col-sm-3 control-label">Plazo pago:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.plazoPago, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>  
            <div class="form-group form-group-sm">
                <label for="form_direccion" class="col-sm-3 control-label">Direccion:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.direccion, { 'attr': {'class': 'form-control', 'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()'} }) }}                        
                </div>                
            </div>      
            <div class="form-group form-group-sm">
                <label for="form_ciudadRel" class="col-sm-3 control-label">Ciudad:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.ciudadRel, { 'attr': {'class': 'form-control', 'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()'} }) }}                        
                </div>                
            </div>                 
            <div class="form-group form-group-sm">
                <label for="form_telefono" class="col-sm-3 control-label">Telefono:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.telefono, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>                
            <div class="form-group form-group-sm">
                <label for="form_celular" class="col-sm-3 control-label">Celular:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.celular, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div> 
            <div class="form-group form-group-sm">
                <label for="form_fax" class="col-sm-3 control-label">Fax:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.fax, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div> 
            <div class="form-group form-group-sm">
                <label for="form_email" class="col-sm-3 control-label">Email:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>                                                   
        </div>
    </div>               
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('brs_cartera_base_cliente_listar') }}">Cancelar</a>        
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}