{% extends '::base.html.twig' %}
{% block title %}Permiso detalle - Soga App{% endblock %}
{% block content %}
<script>
    $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<div class="container">
    <div class="page-header">
        <h3>Permiso</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                {{ form_widget(form.BtnAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnDesAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_ad_archivos_lista', { 'codigoDocumento': 12,  'numero': arPermiso.codigoPermisoPk }) }}', 'Archivos', 500, 700)" >Archivos</a>
            </div>
        </div>
        <br /><br />
    <!-- Encabezado Movimiento -->
    <div class="panel panel-default">
      <div class="panel-heading">Información disciplinario</div>
      <div class="panel-body">
            <table width="100%" class="table table-condensed table-bordered">
                <tr>
                    <td class="titulo">CÓDIGO:</td>
                    <td>{{ arPermiso.codigoPermisoPk }}</td>
                    <td class="titulo">FECHA:</td>
                    <td>{{ arPermiso.fechaPermiso | date('Y/m/d') }}</td>
                    <td class="titulo"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="titulo">EMPLEADO:</td>
                    <td>{{ arPermiso.empleadoRel.nombreCorto }}</td>
                    <td class="titulo">IDENTIFICACIÓN:</td>
                    <td>{{ arPermiso.empleadoRel.numeroIdentificacion }}</td>
                    <td class="titulo">GRUPO PAGO</td>
                    <td>{{ arPermiso.centroCostoRel.nombre |default('')}}</td>
                </tr>
                <tr>
                    <td class="titulo">DEPARTAMENTO:</td>
                    <td>{{ arPermiso.departamentoEmpresaRel.nombre|default('') }}</td>
                    <td class="titulo">CARGO</td>
                    <td>{{ arPermiso.cargoRel.nombre|default('') }}</td>
                    <td class="titulo"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="titulo">TIPO PERMISO</td>
                    <td>{{ arPermiso.permisoTipoRel.nombre|default('') }}</td>
                    <td class="titulo">MOTIVO:</td>
                    <td>{{ arPermiso.motivo }}</td>
                    <td class="titulo">JEFE AUTORIZA</td>
                    <td>{{ arPermiso.jefeAutoriza }}</td>
                </tr>
                <tr>
                    <td class="titulo">HORA SALIDA</td>
                    <td>{{ arPermiso.horaSalida|date('H:i') }}</td>
                    <td class="titulo">HORA LLEGADA:</td>
                    <td>{{ arPermiso.horaLlegada|date('H:i') }}</td>
                    <td class="titulo">HORAS PERMISO</td>
                    <td>{{ arPermiso.horasPermiso }}</td>
                </tr>
                <tr>
                    <td class="titulo"></td>
                    <td></td>
                    <td class="titulo">AFECTA HORARIO:</td>
                    <td>{% if arPermiso.afectaHorario == 1%}SI{% else %}NO{% endif %}</td>
                    <td class="titulo">AUTORIZADO:</td>
                    <td>{% if arPermiso.estadoAutorizado == 1%}SI{% else %}NO{% endif %}</td>
                </tr>
                <tr>
                    <td class="titulo">OBSERVACIONES:</td>
                    <td colspan="5" >{{ arPermiso.observaciones }}</td>
                </tr>
            </table>
      </div>
    </div>

    <!-- Fin Encabezado Movimiento -->
    
        {{ form_rest(form) }}
    {{ form_end(form) }}
    <a  class="btn btn-default btn-sm" href="{{ path('brs_rhu_permiso_lista') }}">Volver</a>
</div>
{% endblock %}
