{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>Detalles de liquidacion</h3>
        </div>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="btn-group">
            {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}            
            {{ form_widget(form.BtnLiquidar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}            
        </div>
        <br /> <br />
        <div class="panel panel-default">
            <div class="panel-heading">Informacion contrato</div>
            <div class="panel-body">
                <table width="100%" class="table table-condensed table-bordered">
                    <tr>
                        <td class="titulo">CODIGO:</td>
                        <td class="td-in-well">{{ arLiquidacion.codigoLiquidacionPk }}</td>
                        <td class="titulo">EMPLEADO:</td>
                        <td class="td-in-well">{{ arLiquidacion.empleadoRel.nombreCorto|default('SIN EMPLEADO') }}</td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                    </tr>
                    <tr>
                        <td class="titulo">FECHA INICIO:</td>
                        <td class="td-in-well">{{ arLiquidacion.fechaDesde|date("Y/m/d") }}</td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">CESANTIAS:</td>
                        <td class="td-in-well-numerico" align="right">$ {{ arLiquidacion.vrCesantias | number_format(2, '.', ',') }}</td>                   
                    </tr>    
                    <tr>
                        <td class="titulo">FECHA FIN:</td>
                        <td class="td-in-well">{{ arLiquidacion.fechaHasta|date("Y/m/d") }}</td>
                        <td class="titulo">DIAS CESANTIAS:</td>
                        <td align="right">{{ arLiquidacion.diasCesantias }}</td>
                        <td class="titulo">INTERESES:</td>
                        <td align="right" align="right">$ {{ arLiquidacion.vrInteresesCesantias | number_format(2, '.', ',') }}</td>                   
                    </tr>                                 
                    <tr>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo">DIAS VACACIONES:</td>
                        <td align="right">{{ arLiquidacion.diasVacaciones }}</td>
                        <td class="titulo">PRIMA:</td>
                        <td align="right">$ {{ arLiquidacion.vrPrima | number_format(2, '.', ',') }}</td>                   
                    </tr>                                 
                    <tr>
                        <td class="titulo">FECHA ULTIMO PAGO:</td>
                        <td class="td-in-well">{{ arLiquidacion.fechaUltimoPago|date("Y/m/d") }}</td>
                        <td class="titulo">DIAS PRIMAS:</td>
                        <td align="right">{{ arLiquidacion.diasPrimas }}</td>
                        <td class="titulo">VACACIONES:</td>
                        <td align="right">$ {{ arLiquidacion.vrVacaciones | number_format(2, '.', ',') }}</td>                   
                    </tr>                                                 
                    <tr>
                        <td class="titulo">IBC DIAS ADICIONALES:</td>
                        <td align="right">{{ arLiquidacion.VrIngresoBaseCotizacionAdicional | number_format(2, '.', ',') }}</td>
                        <td class="titulo">DIAS ADICIONALES:</td>
                        <td align="right">{{ arLiquidacion.diasAdicionalesIBC }}</td>
                        <td class="titulo"></td>
                        <td align="right"></td>                   
                    </tr>                    
                    <tr>
                        <td colspan="8">COMENTARIOS: {{ arLiquidacion.comentarios }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_liquidaciones_lista') }}" style="float:left">Volver</a>
            </div>
        </div>
        <br /><br />
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
