{% extends '::base_sin_menu.html.twig' %}
{% block content %}
    <div class="container">
        <p class="description"><h3>Agregar concepto</h3></p>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>CÓDIGO</th>
                    <th>NOMBRE</th>
                    <th style="text-align: right">VALOR</th>
                    <th>OBSERVACIONES</th>
                </tr>

                {% for arLiquidacionAdicionalesConceptos in arLiquidacionAdicionalesConceptos %}
                    <tr>
                        <td><input type="hidden" name="LblCodigo[]" value="{{ arLiquidacionAdicionalesConceptos.codigoLiquidacionAdicionalConceptoPk }}">{{ arLiquidacionAdicionalesConceptos.codigoLiquidacionAdicionalConceptoPk }}</td>
                        <td>{{ arLiquidacionAdicionalesConceptos.nombre}}</td>
                        <td style="text-align: right"><input class="input-grid" type="text" name="TxtValor[]" value="0" size="15" style="text-align: right; width:150px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                        <td style="text-align: right"><input class="input-grid" type="text" name="TxtDetalle[]" value="" size="15" style="text-align: left; width:350px" /></td>
                    </tr>
                {% endfor %}                 
            </table>

            <div class="modal-footer">                
                {{ form_widget(form.BtnAgregar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            </div>
            <br />
        {{ form_end(form) }}

</div>
{% endblock %}