{% extends '::base_sin_menu.html.twig' %}
{% block title %}Dotación devolución - Soga App{% endblock %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
    <h3>Devolución dotación</h3>
    
        <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>CÓDIGO</th>
            <th>ELEMENTO DOTACIÓN</th>
            <th>CANTIDAD</th>
            <th>PENDIENTE</th>
            <th>DEVOLVER</th>
        </tr>
        
            {%for arDotacionDetalle in arDotacionDetalle %}
               <tr>
                <td><input type="hidden" name="LblCodigo[]" value="{{ arDotacionDetalle.codigoDotacionDetallePk }}">{{ arDotacionDetalle.codigoDotacionDetallePk }}</td>
                <td>{{arDotacionDetalle.dotacionElementoRel.dotacion}}</td>
                <td style="text-align: right">{{arDotacionDetalle.CantidadAsignada}}</td>
                <td style="text-align: right">{{arDotacionDetalle.CantidadAsignada - arDotacionDetalle.CantidadDevuelta}}</td>
                <td style="text-align: right"><input class="input-grid" type="text" name="TxtCantidad[]" value="0" size="5" style="text-align: right; width:50px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>                
            {%endfor%}
            </tr>            
    </table>    
                  
    <div class="modal-footer">            
            {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}