{% extends '::base.html.twig' %}

{% block content %}
<div class="container">    
    {{ form_start(formConfiguracionGeneral, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(formConfiguracionGeneral) }}
    <h3>Configuración general</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombre empresa:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.nombreEmpresa, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Sigla:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.sigla, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nit:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.nitEmpresa, { 'attr': {'onKeypress': 'ValidaSoloNumeros();','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Dv:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.digitoVerificacion, { 'attr': {'onKeypress': 'ValidaSoloNumeros();','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Teléfono:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.telefonoEmpresa, { 'attr': {'onKeypress': 'ValidaSoloNumeros();','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Dirección:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.direccionEmpresa, { 'attr': {'onKeypress': 'ValidaSoloNumeros();','class': 'form-control'} }) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Número cuenta:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.cuenta, { 'attr': {'onKeypress': 'ValidaSoloNumeros();','class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Tipo cuenta:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.conceptoTipoCuenta, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Base retencion fuente:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.baseRetencionFuente, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Base retención cree:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.baseRetencionCree, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Porcentaje retención fuente:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.porcentajeRetencionFuente, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Porcentaje retención Cree:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.porcentajeRetencionCree, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Base retención iva ventas:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.baseRetencionIvaVentas, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Porcentaje retención inva ventas:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.porcentajeRetencionIvaVentas, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Fecha último cierre:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.fechaUltimoCierre, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Ruta temporal:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.rutaTemporal, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nit ventas mostrador:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracionGeneral.nitVentasMostrador, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>    
    
</div>
</div>
    <div class="modal-footer">
            {{ form_widget(formConfiguracionGeneral.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(formConfiguracionGeneral) }}
</div>    
{% endblock %}