{% extends '::base.html.twig' %}
{% block content %}
<script>
    $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<div class="container">
    <div class="page-header">
        <h3>Recogida</h3>
            {% if arRecogida.estadoAnulada == 1 %} <span class="label label-danger">Anulado</span> {% endif %}
    </div>
    <div>
        <form action="{{ path('brs_tte_recogidas_detalle', {'codigoRecogida': arRecogida.codigoRecogidaPk}) }}" method="post" novalidate>
            <div class="btn-toolbar" style="float:left">
                <div class="btn-group">
                    <a  class="btn btn-default" href="{{ path('brs_tte_recogidas_nuevo', { 'codigoRecogida': 0 }) }}">Nuevo</a>                    
                    <button class="btn btn-default " type="submit" name="OpSubmit" value="OpImprimir">Imprimir</button>
                    <button class="btn btn-default" type="submit" name="OpSubmit" value="OpAnular" {% if arRecogida.estadoAnulada == 1%} disabled {% endif %} onclick="javascript:if (!confirm('Esta seguro que desea anular el documento?'))
                                        return false;">Anular</button>                   
                </div>
            </div>
        </form>
    </div>
    <br/><br/>
    <!-- Encabezado Movimiento -->
    <div class="panel panel-default">
        <div class="panel-heading">Informacion de la recogida</div>
        <div class="panel-body">
            <table width="100%" class="table table-condensed table-bordered">
                <tr>
                    <td class="td-label">Numero:</td>
                    <td class="td-in-well">{{ arRecogida.codigoRecogidaPk }}</td>

                    <td class="td-label">Fecha ingreso:</td>
                    <td class="td-in-well">{{ arRecogida.fechaAnuncio|date("Y/m/d H:i:s") }}</td> 

                    <td class="td-label">Unidades:</td>
                    <td class="td-in-well-numerico" align="right">{{ arRecogida.ctUnidades | number_format(0, '.', ',') }}</td>

                    <td class="td-label"></td>
                    <td class="td-in-well-numerico" align="right"></td>
                </tr>

                <tr>
                    <td class="td-label">Cliente:</td>
                    <td class="td-in-well">{{ arRecogida.terceroRel.nombreCorto }}</td>

                    <td class="td-label">Fecha recogida:</td>
                    <td class="td-in-well">{{ arRecogida.fechaRecogida|date("Y/m/d H:i:s") }}</td>                    
                    
                    <td class="td-label">Peso Real:</td>
                    <td class="td-in-well-numerico" align="right">{{ arRecogida.ctPesoReal | number_format(0, '.', ',') }}</td>

                    <td class="td-label"></td>
                    <td class="td-in-well-numerico" align="right"></td>

                </tr>

                <tr>
                    <td class="td-label">Anunciante:</td>
                    <td class="td-in-well">{{ arRecogida.anunciante }}</td>
                    
                    <td class="td-label">Punto Operaciones:</td>
                    <td class="td-in-well">{{ arRecogida.puntoOperacionRel.nombre }}</td>


                    <td class="td-label">Peso Volumen:</td>
                    <td class="td-in-well-numerico" align="right">{{ arRecogida.ctPesoVolumen | number_format(0, '.', ',') }}</td>

                    <td class="td-label"></td>
                    <td class="td-in-well-numerico" align="right"></td>
                </tr>

                <tr>
                    <td class="td-label">Direccion:</td>
                    <td class="td-in-well">{{ arRecogida.direccion }}</td>

                    <td class="td-label"></td>
                    <td></td>

                    <td class="td-label">Declarado:</td>
                    <td class="td-in-well-numerico" align="right">{{ arRecogida.vrDeclarado | number_format(0, '.', ',') }}</td>

                    <td class="td-label"></td>
                    <td class="td-in-well-numerico" align="right"></td>
                </tr>
                <tr>
                    <td class="td-label">Telefono:</td>
                    <td class="td-in-well">{{ arRecogida.telefono }}</td>

                    <td class="td-label"></td>
                    <td></td>

                    <td class="td-label"></td>
                    <td class="td-in-well-numerico" align="right"></td>

                    <td class="td-label"></td>
                    <td class="td-in-well-numerico" align="right"></td>
                </tr>
                <tr>
                    <td colspan="8">Contenido:{{ arRecogida.contenido }}</td>
                </tr>                
                <tr>
                    <td colspan="8">Comentarios:{{ arRecogida.comentarios }}</td>
                </tr>
            </table>
        </div>
    </div>    
    <!-- Fin Encabezado Movimiento -->   
    <div>
        <form action="{{ path('brs_tte_recogidas_detalle', {'codigoRecogida': arRecogida.codigoRecogidaPk}) }}" method="post" novalidate>
            <div class="btn-toolbar" style="float:left">
                <div class="btn-group">
                    <a class="btn btn-default" href="{{ path('brs_tte_recogidas_lista') }}" style="float:left">Volver</a>
                </div>
            </div>
        </form>
        <br />        
    </div>
</div>
{% endblock %}
