{% extends 'zikmontGeneralBundle::layout_app.html.twig' %}
{% import 'zikmontGeneralBundle:Plantillas:macros.html.twig' as utilidades %}
{% block content %}

    <div class="left_articles">

        <form id="FrmBusqueda" action="{{ path('maestros_inventario_items_detalle', { 'codigoItemPk': arItem.codigoItemPk }) }}" method="POST" novalidate>
            <div class="page-header">
                <h2>Detalle de item</h2>
            </div>        
            <h4>Items material fabricacion</h4>
            <table  class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th></th>
                </tr>
                {% for itemMaterialFabricacion in arItemMaterialFabricacion %}
                    <tr>
                        <td>{{ itemMaterialFabricacion.codigoItemMaterialFabricacionPk }}</td>
                        <td>{{ itemMaterialFabricacion.itemRel.descripcion }}</td> 
                        <td>{{ itemMaterialFabricacion.cantidad }}</td> 
                        <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ itemMaterialFabricacion.codigoItemMaterialFabricacionPk }}" /></td>            
                    </tr>
                {% endfor %}

            </table>
            <div class="btn-toolbar" style="float:left">
                <div class="btn-group">
                <a class="btn btn-mini" href="{{ path('maestros_inventario_items_lista') }}" style="float:left">Volver</a>
                </div>
            </div>
            <!-- Botones Menu Items -->
            <div class="btn-toolbar" style="float: right">
                <div class="btn-group">    
                    {{ utilidades.textboxitem("", 3, true, true) }}
                    <input style="width:50px; text-align: right" type="text" name="TxtCantidad" onkeypress="return validarNumeros(event)" required size="5"/>
                    <button class="btn btn-toolbar btn-mini" type="submit" name="OpSubmit" value="OpAgregar" >Agregar</button>
                    <button class="btn btn-danger btn-mini" type="submit" name="OpSubmit" value="OpEliminar" >Eliminar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}