{% extends '::base.html.twig' %}
{% block content %}
<div class="container">                        
    <h2>Listado de Productos</h2>                           
    <div class="well">
        <form id="FrmBusqueda" action="{{ path('brs_inv_base_items_lista') }}" method="POST" novalidate>
            <div class="form-group">
                <label for="TxtCodigoBarras" class="col-sm-2 control-label">Cod. Barras</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="TxtCodigoBarras" {% if codigo_barras is defined %} value="{{codigo_barras}}" {% endif%} onclick="this.select()" size="15" autofocus="true"/>                    
                </div>
            </div> 
            <div class="form-group">
                <label for="TxtCodigoItem" class="col-sm-2 control-label">Codigo item</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="TxtCodigoItem" {% if ultimo_item is defined %} value="{{ultimo_item}}" {% endif%} onkeypress="return validarNumeros(event)" onclick="this.select()"  size="15"/>                    
                </div>
            </div> 
            <div class="form-group">
                <label for="TxtDescripcionItem" class="col-sm-2 control-label">Descripcion</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="TxtDescripcionItem" {% if ultima_descripcion is defined %} value="{{ultima_descripcion}}" {% endif%} onclick="this.select()" size="15"/>
                </div>
            </div>   
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="submit" name="OpSubmit" value="OpBuscar">Buscar</button>
                </div>
            </div>             
        </form>
        <br />
    </div>
    <table  class="table table-striped table-bordered table-condensed"> 
        <tr>
            <th>C贸digo</th>
            <th>Descripci贸n</th>                
            <th>Marca</th>                
            <th>U. Medida</th>                               
            <th>Iva</th>                
            <th>Costo Pred.</th>                
            <th>Precio Pred.</th>                
            <th>C贸digo EAN</th>
            <th>C贸digo Barra</th>
            <th></th>
            <th>ver</th>
        </tr>

        {% for item in arItems %}
        <tr>
            <td><a href="#" id="{{ path('brs_inv_consultas_item', { 'codigoItem':  item.codigoItemPk }) }}" >{{ item.codigoItemPk }}</a></td>                
            <td>{{ item.descripcion }}</td>
            <td>{{ item.marcaRel.nombreMarca }}</td>
            <td>{% if item.codigoUnidadMedidaFk != null %} {{ item.unidadMedidaRel.nombre }} {% endif %}</td>                
            <td>{{ item.porcentajeIva }}</td>
            <td>{{ item.vrCostoPredeterminado }}</td>
            <td>{{ item.vrPrecioPredeterminado }}</td>
            <td>{{ item.codigoEAN }}</td>
            <td>{{ item.codigoBarras }}</td>
            <td style="text-align: center"><a href="{{ path('brs_inv_base_items_nuevo', { 'codigoItemPk':  item.codigoItemPk }) }}" ><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20></a></td>
            <td style="text-align: center"><a href="{{ path('brs_inv_base_items_detalle', { 'codigoItemPk': item.codigoItemPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=22 height=22></a></td>                            
        </tr>   
        {% endfor %}            
    </table>   
    <form id="FrmBusqueda" action="{{ path('brs_inv_base_items_lista') }}" method="POST" novalidate>
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('brs_inv_base_items_nuevo', { 'codigoItemPk':  0 }) }}">Nuevo</a>                
                <button class="btn btn-primary" type="submit" name="OpSubmit" value="OpExportar">Exportar</button>
            </div>
        </div>
    </form>        
</div>
{% endblock %}