{% extends '::base.html.twig' %}
{% block content %}
<div class="container"> 
    <form id="FrmNuevo" action="{{path('brs_inv_base_items_nuevo', { 'codigoItemPk':  0 })}}" method="post">        
        <h3>{%if arItem is not null%}Editar Producto{%else%}Crear Producto{%endif%}</h3>           
        <div class="well">      

            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Información General</a></li>
                <li><a href="#tab2" data-toggle="tab">Clasificación</a></li>
                <li><a href="#tab3" data-toggle="tab">Cuentas</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <table>

                    {% if arItem is defined and arItem is not null %}
                        <tr>
                            <td><strong>Código:</strong><br/></td>
                            <td><input type="text" class="form-control" readonly="true" name="TxtCodigoItem" {% if arItem is defined and arItem is not null %} value="{{arItem.codigoItemPk}}" readonly="true" {% endif %}/></td>              
                        <tr> 
                    {% endif %}
                        <tr>
                            <td><strong>Descripción:</strong><br/></td>
                            <td><input type="text" class="form-control" name="TxtDescripcion" {% if arItem is defined and arItem is not null %} value="{{arItem.descripcion}}" {% endif %} placeholder="Descripcion" required autofocus/></td>              
                        <tr>                                        

                        <tr>
                            <td><strong>Código EAN:</strong><br/></td>
                            <td><input type="text" class="form-control" name="TxtCodigoEAN" {% if arItem is defined and arItem is not null %} value="{{arItem.codigoEAN}}" {% endif %}  placeholder="Código EAN" /></td>              
                        <tr>                                        

                        <tr>
                            <td><strong>Código de Barras:</strong><br/></td>
                            <td><input type="text" class="form-control" name="TxtCodigoBarra" {% if arItem is defined and arItem is not null %} value="{{arItem.codigoBarras}}" {% endif %} placeholder="Código Barras" /></td>              
                        <tr>                                        

                        <tr>          
                            <td><strong>Porcentaje Iva:</strong><br/></td>
                            <td><input type="text" class="form-control" name="TxtPorcentajeIva" onkeypress="return validarNumeros(event)" {% if arItem is defined and arItem is not null %} value="{{arItem.porcentajeIva}}" {% endif %} placeholder="Iva" required></input></td>                
                        </tr>    

                        <tr>          
                            <td><strong>Costo Pred:</strong><br/></td>
                            <td><input type="text" class="form-control"  name="TxtCostoPredeterminado" onkeypress="return validarNumeros(event)" {% if arItem is defined and arItem is not null %} value="{{arItem.vrCostoPredeterminado}}" {% endif %} placeholder="Costo Predeterminado" ></input></td>                
                        </tr>    

                        <tr>          
                            <td><strong>Precio Pred:</strong><br/></td>
                            <td><input type="text" class="form-control"  name="TxtPrecioPredeterminado" onkeypress="return validarNumeros(event)" {% if arItem is defined and arItem is not null %} value="{{arItem.vrPrecioPredeterminado}}" {% endif %} placeholder="Precio Predeterminado" ></input></td>                
                        </tr>    
                    </table>            
                </div>

                <div class="tab-pane" id="tab2">
                    <table>

                        <tr>
                            <td><strong>Marca:</strong><br/></td>
                            <td>
                                <select class="form-control" name="CboMarcas" required>
                                    <option value="">---Seleccione Marca---</option>
                                {% for marca in arMarcas%}
                                    <option value="{{marca.codigoMarcaPk}}" {%if arItem.codigoMarcaFk is defined %} {%if marca.codigoMarcaPk == arItem.codigoMarcaFk %} selected {%endif%} {%endif%}>{{marca.nombreMarca}}</option>
                                {%endfor%}
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td><strong>Unidad medida:</strong><br/></td>
                            <td>
                                <select class="form-control" name="CboUnidadesMedida" required>
                                    <option value="">Seleccione</option>
                                {% for arUnidadesMedida in arUnidadesMedida%}
                                    <option value="{{arUnidadesMedida.codigoUnidadMedidaPk}}" {%if arItem.codigoUnidadMedidaFk is defined %} {%if arUnidadesMedida.codigoUnidadMedidaPk == arItem.codigoUnidadMedidaFk %} selected {%endif%} {%endif%}>{{arUnidadesMedida.nombre}}</option>
                                {%endfor%}
                                </select>
                            </td>
                        </tr>                    
                        <tr>
                            <td COLSPAN=2">
                                <strong>Materia prima:</strong>
                                <input type="checkbox" {% if arItem is defined and arItem is not null and arItem.materiaPrima == 1 %} checked="true" {% endif %} name="ChkMateriaPrima"/>
                            </td>                                        
                        </tr>                    
                        <tr>
                            <td><strong>Linea:</strong><br/></td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td><strong>Grupo:</strong><br/></td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td><strong>Sub Grupo:</strong><br/></td>
                            <td>
                            </td>
                        </tr>                    

                    </table>
                </div>

                <div class="tab-pane" id="tab3">
                    <table>

                        <tr>          
                            <td><strong>Cuenta ventas:</strong><br/></td>
                            <td><input type="text" class="form-control" name="TxtCuentaIngreso"  {% if arItem is defined and arItem is not null %} value="{{arItem.cuentaVentas}}" {% endif %}  placeholder="Cuenta ventas" ></input></td>                
                        </tr>                                

                        <tr>          
                            <td><strong>C. Devolución Ventas</strong><br/></td>
                            <td><input type="text" class="form-control" name="TxtCuentaDevolucionVentas" {% if arItem is defined and arItem is not null %} value="{{arItem.cuentaDevolucionVentas}}" {% endif %}   placeholder="Cuenta Devolucion Ventas" ></input></td>                
                        </tr>                       

                        <tr>          
                            <td><strong>Cuenta Compras:</strong><br/></td>
                            <td><input type="text" class="form-control" name="TxtCuentaCompras" {% if arItem is defined and arItem is not null %} value="{{arItem.cuentaCompras}}" {% endif %} placeholder="Cuenta Compras" ></input></td>                
                        </tr>                       

                        <tr>          
                            <td><strong>C. Devolucion Compras:</strong><br/></td>
                            <td><input type="text" class="form-control" name="TxtCuentaDevolucionCompras" {% if arItem is defined and arItem is not null %} value="{{arItem.cuentaDevolucionCompras}}" {% endif %} placeholder="Cuenta Devulucion compras" ></input></td>                
                        </tr>                       

                        <tr>          
                            <td><strong>Cuenta Costo:</strong><br/></td>
                            <td><input type="text" class="form-control" name="TxtCuentaCosto" {% if arItem is defined and arItem is not null %} value="{{arItem.cuentaCosto}}" {% endif %} placeholder="Cuenta Costos" ></input></td>                
                        </tr>                       

                        <tr>          
                            <td><strong>Cuenta Inventario:</strong><br/></td>
                            <td><input type="text" class="form-control" name="TxtCuentaInventario" {% if arItem is defined and arItem is not null %} value="{{arItem.cuentaInventario}}" {% endif %} placeholder="Cuenta Inventario" ></input></td>                
                        </tr>                       

                    </table>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a class="btn btn-default" href="{{path('brs_inv_base_items_lista')}}">Cancelar</a>                
            <button class="btn btn-primary" type="submit" name="OpSubmit" value="OpGuardar">Guardar</button>
        </div>

    </form>   
</div>
{% endblock %}