{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>Generar archivo plano banco</h3>
        </div>

        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}
        
        <div class="panel panel-default">
            <div class="panel-heading">Información a generar</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label for="form_descripcion" class="col-sm-2 control-label">Descripción:</label>
                    <div class="col-sm-10">
                            {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_cuentaRel" class="col-sm-2 control-label">Cuenta:</label>
                    <div class="col-sm-10">
                            {{ form_widget(form.cuentaRel, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>    
                <div class="form-group form-group-sm">
                    <label for="form_fechaTransmision" class="col-sm-2 control-label">Fecha transmisión (yymmdd):</label>
                    <div class="col-sm-10">
                            {{ form_widget(form.fechaTransmision, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_secuencia" class="col-sm-2 control-label">Secuencia:</label>
                    <div class="col-sm-10">
                            {{ form_widget(form.secuencia, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>    
                <div class="form-group form-group-sm">
                    <label for="form_fechaAplicacion" class="col-sm-2 control-label">Fecha aplicación (yymmdd):</label>
                    <div class="col-sm-10">
                            {{ form_widget(form.fechaAplicacion, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnGenerarTxt, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>    
            </div>        
        </div>
        <!-- Fin-->
            
        <table  class="table table-striped table-bordered  table-condensed table-hover">
            <tr>
                <th>CÓDIGO</th>
                <th>CÓDIGO PAGO</th>
                <th>IDENTIFICACIÓN</th>
                <th>EMPLEADO</th>
                <th>CUENTA</th>
                <th>PAGO</th>
            </tr>
            {% for arPagosExportar in arPagosExportar %}
            <tr>
                <td><input type="hidden" name="LblCodigo[]" value="{{ arPagosExportar.codigoPagoExportarPk }}">{{ arPagosExportar.codigoPagoExportarPk }} </td>
                <td>{{ arPagosExportar.soporte  }}</td>
                <td><b>{{ arPagosExportar.numeroIdentificacion  }}</b></td>
                <td>{{ arPagosExportar.nombreCorto  }}</td>
                <td style="text-align: right">{{ arPagosExportar.cuenta | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arPagosExportar.vrPago | number_format(0, '.', ',') }}</td>
            </tr>
            {% endfor %}
        </table>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
