{% extends '::base.html.twig' %}
{% block content %}
<script>
    $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<div class="container">
    <div class="page-header">
        <h3>Proceso disciplinario</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_ad_archivos_lista', { 'codigoDocumento': 5,  'numero': arDisciplinario.codigoDisciplinarioPk }) }}', 'Archivos', 500, 700)" >Archivos</a>
            </div>
        </div>
        <br /><br />
    <!-- Encabezado Movimiento -->
    <div class="panel panel-default">
      <div class="panel-heading">Información disciplinario</div>
      <div class="panel-body">
            <table width="100%" class="table table-condensed table-bordered">
                <tr>
                    <td class="titulo">CÓDIGO:</td>
                    <td>{{ arDisciplinario.codigoDisciplinarioPk }}</td>
                    <td class="titulo">PROCESO:</td>
                    <td>{{ arDisciplinario.disciplinarioTipoRel.nombre }}</td>
                    <td class="titulo">CAUSAL</td>
                    <td>{{ arDisciplinario.asunto|default('NO APLICA') }}</td>
                </tr>
                <tr>
                    <td class="titulo">DESCARGOS:</td>
                    <td colspan="3">{{ arDisciplinario.descargos|default('NO APLICA') }}</td>
                    
                    
                    <td class="titulo">FECHA SUSPENSIÓN</td>
                    <td>{{ arDisciplinario.suspension|default('NO APLICA') }}</td>
                </tr>
                <tr>
                    <td class="titulo">EMPLEADO:</td>
                    <td>{{ arDisciplinario.empleadoRel.nombreCorto }}</td>
                    <td class="titulo">IDENTIFICACIÓN:</td>
                    <td>{{ arDisciplinario.empleadoRel.numeroIdentificacion }}</td>
                    <td class="titulo">FECHA</td>
                    <td>{{ arDisciplinario.fecha | date('Y/m/d') }}</td>
                </tr>
                <tr>
                    <td class="titulo">COMENTARIOS:</td>
                    <td colspan="5" >{{ arDisciplinario.comentarios }}</td>
                </tr>
            </table>
      </div>
    </div>

    <!-- Fin Encabezado Movimiento -->
    
        {{ form_rest(form) }}
    {{ form_end(form) }}
    <a  class="btn btn-default btn-sm" href="{{ path('brs_rhu_disciplinario_lista') }}">Volver</a>
</div>
{% endblock %}
