{% extends '::base.html.twig' %}
{% block title %}Consulta examenes pendientes por cobrar - Soga App{% endblock %}
{% block content %}
<div class="container">
    <script type="text/javascript">
    $(document).ready(function() {
            $('.date').datepicker({ dateFormat: 'yy-mm-dd' ,dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ], monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]})  });
    </script>
    <div class="page-header">
        <h3>Examenes pendientes por cobrar</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">                
                <div class="form-group form-group-sm">  
                    <label for="form_centroCostoRel" class="col-sm-2 control-label">Contrato:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.TxtContrato, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>                                           
                <div class="form-group form-group-sm">  
                    <label for="form_TxtIdentificacion" class="col-sm-2 control-label">Identificacion:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.TxtIdentificacion, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>                       
                <div class="form-group form-group-sm">  
                    <label for="form_fechaDesde" class="col-sm-2 control-label">Desde:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.fechaDesde, {'attr': {'maxlength' : 10} }) }}
                    </div>
                </div>                     
                <div class="form-group form-group-sm">  
                    <label for="form_fechaHasta" class="col-sm-2 control-label">Hasta:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.fechaHasta, {'attr': {'maxlength' : 10} }) }}
                    </div>
                </div>                     
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>                    
            </div>
        </div> 
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>CÓDIGO</th>
                <th>FECHA</th>
                <th>IDENTIFICACIÓN</th>
                <th>EMPLEADO</th>                                                                
                <th>VALOR</th>
            </tr>
            {% set douTotal = 0  %}            
            {% for arExamenes in arExamenes %}
            <tr>
                <td><input type="hidden" name="LblCodigo[]" value="{{ arExamenes.codigoExamenPk }}">{{ arExamenes.codigoExamenPk }} </td>
                <td>{{ arExamenes.fecha |date("Y/m/d")  }}</td>
                <td>{{ arExamenes.identificacion  }}</td>
                <td>{{ arExamenes.nombreCorto  }}</td>                                                               
                <td style="text-align: right">{{ arExamenes.vrTotal | number_format(0, '.', ',') }}</td>
                {% set douTotal = douTotal + arExamenes.vrTotal %}                                
            </tr>
            {% endfor %}
                <td colspan="4"></td>
                <td style="text-align: right">{{ douTotal | number_format(0, '.', ',') }}</td>                
        </table>
        <div class="btn-toolbar" style="float: left">
            <div class="btn-group">
                {{ knp_pagination_render(arExamenes) }} 
            </div>
            <div class="btn-group">
                <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arExamenes.getTotalItemCount }}</span></div>        
            </div>
        </div>                
        <div class="btn-toolbar" style="float: right">                 
            <div class="btn-group">                
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
            </div>
        </div>
        
        {{ form_rest(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}
