{% block stylesheets %}
<link href="{{ asset('css/menu.css') }}" rel="stylesheet" />
{% endblock %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('brasa_general_inicio') }}">JG Efectivos V1.0.0</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Base <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">General</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brs_gen_base_terceros') }}">Terceros</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Inventario</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brs_inv_base_documentos_lista') }}">Documentos</a></li>
                                <li><a href="{{ path('brs_inv_base_listas_precios_lista') }}">Lista precios</a></li>
                                <li><a href="{{ path('brs_inv_base_listas_costos_lista') }}">Lista costos</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Productos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_inv_base_items_lista') }}">Lista</a></li>
                                        <li><a href="{{ path('brs_gen_base_terceros') }}">Marcas</a></li>
                                        <li><a href="{{ path('brs_gen_base_terceros') }}">Unidades medida</a></li>
                                        <li><a href="{{ path('brs_gen_base_terceros') }}">Lineas</a></li>
                                        <li><a href="{{ path('brs_gen_base_terceros') }}">Grupos</a></li>
                                        <li><a href="{{ path('brs_gen_base_terceros') }}">Subgrupos</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('brs_gen_base_terceros') }}">Bodegas</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Transporte</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brs_gen_base_terceros') }}">Rutas</a></li>
                                <li><a href="{{ path('brs_gen_base_terceros') }}">Conductores</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Recursos humanos</a>
                            <ul class="dropdown-menu">                               
                                <li><a href="{{ path('brs_rhu_base_centros_costos_lista') }}">Centros de costo</a></li>
                                <li><a href="{{ path('brs_rhu_base_empleados_lista') }}">Empleados</a></li>
                                <li><a href="{{ path('brs_rhu_base_salud_listar') }}">Salud</a></li>
                                <li><a href="{{ path('brs_rhu_base_pension_listar') }}">Pension</a></li>
                                <li><a href="{{ path('brs_rhu_base_creditotipo_listar') }}">Tipo Créditos</a></li>
                                <li><a href="{{ path('brs_rhu_base_entidadexamen_listar') }}">Entidad Examen</a></li>
                                <li><a href="{{ path('brs_rhu_base_tipoexamen_listar') }}">Tipos Examenes</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Inventario</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brs_inv_consultas_kardex') }}">Kardex</a></li>
                                <li><a href="{{ path('brs_inv_consultas_disponibles') }}">Disponibles</a></li>
                                <li><a href="{{ path('brs_inv_consultas_existencias') }}">Existencias</a></li>
                                <li><a href="{{ path('brs_inv_consultas_inventario_valorizado') }}">Inventario valorizado</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Movimienos</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Solicitudes</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('brs_inv_consultas_movimientos_pendientes_detalles', { 'codigoDocumentoTipo': 8 }) }}">Detalles (Pendientes)</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Ordenes de compra</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('brs_inv_consultas_movimientos_pendientes_detalles', { 'codigoDocumentoTipo': 5 }) }}">Detalles (Pendientes)</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Pedidos</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('brs_inv_consultas_movimientos_pendientes_detalles', { 'codigoDocumentoTipo': 3 }) }}">Detalles (Pendientes)</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Remision</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('brs_inv_consultas_movimientos_pendientes_detalles', { 'codigoDocumentoTipo': 9 }) }}">Detalles (Pendientes)</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Transporte</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Logistica</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tte_consultas_pendientes_despacho') }}">Pendientes por despachar</a></li>
                                        <li><a href="{{ path('brs_tte_consultas_novedades_pendientes') }}">Novedades pendientes</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Control</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tte_consultas_recibos_caja') }}">Recibos caja</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Comercial</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tte_consultas_recibos_caja') }}">Pendientes por facturar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Procesos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Inventario</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Regenerar</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_inv_procesos_regenerar_kardex') }}">Kardex</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilidades <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Recursos humanos</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Pago nomina</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_utilidades_pagos_generar_periodo') }}">Generar periodos de pago</a></li>
                                        <li><a href="{{ path('brs_rhu_utilidades_pagos_generar_pago') }}">Generar pago</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Notificaciones</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_utilidades_notificaciones_cierreprogramacionpago') }}">Cierre programacion pago</a></li>                                        
                                    </ul>
                                </li>   
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Seguridad social</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_ss_periodo_lista') }}">Periodos</a></li>                                        
                                    </ul>
                                </li>                                 
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimientos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Inventario</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brs_inv_documentos_lista', { 'codigoTipoDocumento': 8 }) }}">Solicitudes</a></li>
                                <li><a href="{{ path('brs_inv_documentos_lista', { 'codigoTipoDocumento': 5 }) }}">Ordenes de compra</a></li>
                                <li><a href="{{ path('brs_inv_documentos_lista', { 'codigoTipoDocumento': 1 }) }}">Compras</a></li>
                                <li><a href="{{ path('brs_inv_documentos_lista', { 'codigoTipoDocumento': 6 }) }}">Entradas</a></li>
                                <li><a href="{{ path('brs_inv_documentos_lista', { 'codigoTipoDocumento': 2 }) }}">Salidas</a></li>
                                <li><a href="{{ path('brs_inv_documentos_lista', { 'codigoTipoDocumento': 10 }) }}">Traslados</a></li>
                                <li><a href="{{ path('brs_inv_documentos_lista', { 'codigoTipoDocumento': 3 }) }}">Pedidos</a></li>
                                <li><a href="{{ path('brs_inv_documentos_lista', { 'codigoTipoDocumento': 9 }) }}">Remisiones</a></li>
                                <li><a href="{{ path('brs_inv_documentos_lista', { 'codigoTipoDocumento': 4 }) }}">Facturas</a></li>
                                <li><a href="{{ path('brs_inv_documentos_lista', { 'codigoTipoDocumento': 7 }) }}">Orden de produccion</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Transporte</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Logistica</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Recogidas</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('brs_tte_recogidas_lista') }}">Lista</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{ path('brs_tte_recogidas_funciones_programacion') }}">Programacion</a></li>
                                                <li><a href="{{ path('brs_tte_recogidas_funciones_programadas') }}">Generar recogidas programadas</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Guias</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('brs_tte_guias_lista') }}">Lista</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{ path('brs_tte_guias_funciones_entregar') }}">Fechas de entrega</a></li>
                                                <li><a href="{{ path('brs_tte_guias_funciones_descargar') }}">Descargar</a></li>
                                                <li><a href="{{ path('brs_tte_guias_funciones_redespachar') }}">Redespachos</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Despachos</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('brs_tte_despachos_lista') }}">Lista</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Relaciones cumplidos</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('brs_tte_relacionescumplidos_lista') }}">Lista</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Monitoreo</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Vehiculos</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('brs_tte_facturas_lista') }}">Ver</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Comercial</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Facturas</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('brs_tte_facturas_lista') }}">Lista</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Recurso humano</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Seleccion</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_selecciongrupo_lista') }}">Lista grupos</a></li>
                                        <li><a href="{{ path('brs_rhu_seleccion_lista') }}">Lista</a></li>                                        
                                    </ul>
                                </li>                                 
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Pagos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_pagos_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Creditos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_creditos_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Adicionales</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_pagos_adicionales_lista') }}">Lista</a></li>
                                        <li><a href="{{ path('brs_rhu_pagos_adicionales_generarmasivo_lista') }}">Generar masivo</a></li>
                                    </ul>
                                </li>      
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Incapacidades</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_incapacidades_lista') }}">Lista</a></li>
                                    </ul>
                                </li>                                
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Facturas</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_facturas_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ Usuario }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Configuracion</a></li>
                        <li><a href="#">Seguridad</a></li>
                        <li><a href="#">Parametrizacion</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>