{% block stylesheets %}
    <link href="{{ asset('css/menu.css') }}" rel="stylesheet" />
{% endblock %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('brasa_general_inicio') }}">Soga App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administración <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">General</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brs_gen_base_asesor') }}">Asesores</a></li>
                                <li><a href="{{ path('brs_gen_base_terceros') }}">Terceros</a></li>
                                <li><a href="{{ path('brs_gen_base_bancos') }}">Bancos</a></li>
                                <li><a href="{{ path('brs_gen_base_cuentas') }}">Cuentas</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Contabilidad</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brs_ctb_base_terceros_lista') }}">Terceros</a></li>
                                <li><a href="{{ path('brs_ctb_base_comprobantes_lista') }}">Comprobantes</a></li>
                                <li><a href="{{ path('brs_ctb_base_cuentas_lista') }}">Cuentas</a></li>
                                <li><a href="{{ path('brs_ctb_base_centro_costo_lista') }}">Centro de Costos</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Recurso humano</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brs_rhu_base_centros_costos_lista') }}">Centros de costo</a></li>
                                <li><a href="{{ path('brs_rhu_base_empleados_lista') }}">Empleados</a></li>
                                <li><a href="{{ path('brs_rhu_base_contratos_lista') }}">Contratos</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">General</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_base_creditotipo_listar') }}">Tipo de crédito</a></li>                                        
                                        <li><a href="{{ path('brs_rhu_base_empleado_estudio_tipo_lista') }}">Tipo de estudio</a></li>
                                        <li><a href="{{ path('brs_rhu_base_licenciatipo_listar') }}">Tipo de licencia</a></li>
                                        <li><a href="{{ path('brs_rhu_base_capacitacion_tipo_lista') }}">Tipo de capacitación</a></li>
                                        <li><a href="{{ path('brs_rhu_base_contrato_tipo_lista') }}">Tipo de contratos</a></li>
                                        <li><a href="{{ path('brs_rhu_base_disciplinario_tipo_lista') }}">Tipo de procesos disciplinarios</a></li>                                        
                                        <li><a href="{{ path('brs_rhu_base_carta_tipo_lista') }}">Tipo de cartas</a></li>
                                        <li><a href="{{ path('brs_rhu_base_contenido_formato_lista') }}">Tipo de formatos</a></li>
                                        <li><a href="{{ path('brs_rhu_base_empleado_informacion_interna_tipo_lista') }}">Tipo de información interna empleado</a></li>                                        
                                        <li><a href="{{ path('brs_rhu_base_desempeno_concepto_tipo_listar') }}">Tipo de concepto de Gestión del desempeño</a></li>
                                        <li><a href="{{ path('brs_rhu_base_desempeno_concepto_listar') }}">Concepto de Gestión del desempeño</a></li>                                        
                                        <li><a href="{{ path('brs_rhu_liquidacion_adicional_concepto_lista') }}">Concepto de adicionales liquidacion</a></li>
                                        <li><a href="{{ path('brs_rhu_pago_concepto_lista') }}">Concepto de pago</a></li>
                                        <li><a href="{{ path('brs_rhu_base_seleccion_prueba_tipo_listar') }}">Tipo de prueba selección</a></li>
                                        <li><a href="{{ path('brs_rhu_base_permiso_tipo_lista') }}">Tipo de permiso</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Contratacion</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_base_cargo_listar') }}">Cargos</a></li>
                                        <li><a href="{{ path('brs_rhu_base_requisito_concepto_lista') }}">Conceptos de requisitos</a></li>
                                        <li><a href="{{ path('brs_rhu_base_requisito_cargo_lista') }}">Requisitos por cargos</a></li>
                                        <li><a href="{{ path('brs_rhu_base_banco_listar') }}">Bancos</a></li>
                                        <li><a href="{{ path('brs_rhu_base_departamento_empresa_listar') }}">Departamentos empresa</a></li>
                                        <li><a href="{{ path('brs_rhu_base_horario_listar') }}">Horario</a></li>
                                        <li><a href="{{ path('brs_rhu_base_turno_listar') }}">Turno</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Seguridad social</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_base_ssosucursal_listar') }}">Sucursales aportes</a></li>
                                        <li><a href="{{ path('brs_rhu_base_salud_listar') }}">Salud</a></li>
                                        <li><a href="{{ path('brs_rhu_base_pension_listar') }}">Pension</a></li>
                                        <li><a href="{{ path('brs_rhu_base_caja_listar') }}">Caja compensación</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Salud ocupacional</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_base_clasificacion_listar') }}">Clasificación de riesgos</a></li>
                                        <li><a href="{{ path('brs_rhu_base_riesgoProfesional_listar') }}">Riesgos profesionales</a></li>
                                        <li><a href="{{ path('brs_rhu_base_dotacionElemento_lista') }}">Elementos dotación</a></li>
                                    </ul>
                                </li>                                
                                <li><a href="{{ path('brs_rhu_base_entidadexamen_listar') }}">Entidad examen</a></li>                                
                                <li><a href="{{ path('brs_rhu_base_sede_listar') }}">Sedes</a></li>                                
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Transporte</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brs_tte_base_clientes_lista') }}">Clientes</a></li>
                                <li><a href="{{ path('brs_tte_base_precios_lista') }}">Lista precios</a></li>
                                <li><a href="{{ path('brs_tte_base_productos_lista') }}">Productos</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Turno</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brs_tur_base_centro_costo_lista') }}">Centro costo</a></li>
                                <li><a href="{{ path('brs_tur_base_cliente_lista') }}">Cliente</a></li>
                                <li><a href="{{ path('brs_tur_base_prospecto_lista') }}">Prospecto</a></li>
                                <li><a href="{{ path('brs_tur_base_recurso_lista') }}">Recurso</a></li>
                                <li><a href="{{ path('brs_tur_base_turno_lista') }}">Turno</a></li>                                
                                <li><a href="{{ path('brs_tur_base_plantilla_lista') }}">Plantilla de turno</a></li>
                                <li><a href="{{ path('brs_tur_base_concepto_servicio_lista') }}">Concepto servicio</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">General</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tur_base_recurso_tipo_lista') }}">Recurso tipo</a></li>
                                    </ul>
                                </li>                                
                            </ul>
                        </li>                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Contabilidad</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Registros</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_ctb_consultas_registros') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="{{ path('brs_ctb_consultas_balance_prueba')}}">Balance de prueba</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Recurso humano</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Adicionales al pago</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_adicionales_pago') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Costos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_costos_general') }}">General</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Empleados</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_empleado') }}">General</a></li>
                                        <li><a href="{{ path('brs_rhu_consultas_costos_ingresos_empleado') }}">Ingresos</a></li>
                                        <li><a href="{{ path('brs_rhu_consultas_pagos_deducciones_empleado') }}">Pagos y deducciones</a></li>
                                        <li><a href="{{ path('brs_rhu_consultas_empleado_estudios_vencimiento') }}">Estudios vencimiento</a></li>
                                        <li><a href="{{ path('brs_rhu_consultas_empleado_requisitos_pendientes') }}">Requisitos pendientes</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Creditos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_creditos_general') }}">General</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Servicios</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_servicios_cobrar') }}">Por cobrar</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Programaciones</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_programaciones_pago') }}">Pagos</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Incapacidades</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_incapacidades_lista') }}">Lista</a></li>
                                        <li><a href="{{ path('brs_rhu_consultas_incapacidades_cobrar_pago') }}">Por cobrar</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Seguridad social</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_sso_aportes') }}">Aportes</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Contratos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_contrato_fecha_terminacion') }}">Por fecha terminación</a></li>
                                        <li><a href="{{ path('brs_rhu_consultas_contrato_vacaciones_pagar') }}">Vacaciones por pagar</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Pago banco</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_pago_pendientes_banco') }}">Pendientes</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Dotaciones</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_dotacion_pendiente') }}">Pendientes</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Examanes</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_examenes_vencimiento') }}">Vencimiento</a></li>
                                        <li><a href="{{ path('brs_rhu_consultas_examen_cobrar') }}">Por cobrar</a></li>
                                    </ul>
                                </li>                                
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="{{ path('brs_rhu_consultas_procesos_disciplinarios') }}">Procesos disciplinarios</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Control de acceso</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_control_acceso_empleados') }}">Empleados</a></li>
                                        <li><a href="{{ path('brs_rhu_consultas_control_acceso_visitantes') }}">Visitantes</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Permisos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_consultas_permisos') }}">Lista</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Turnos</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Recursos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tur_consultas_recursos_disponibles') }}">Disponibles</a></li>                                        
                                    </ul>
                                </li>                                
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Servicios</a>
                                    <ul class="dropdown-menu">                                        
                                        <li><a href="{{ path('brs_tur_consultas_servicios_detalles') }}">Detalles</a></li>
                                        <li><a href="{{ path('brs_tur_consultas_servicios_detalles_recursos') }}">Detalles y recursos</a></li>
                                        <li><a href="{{ path('brs_tur_consultas_servicios_costos') }}">Costos</a></li>                                        
                                    </ul>
                                </li>                                
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Pedidos</a>
                                    <ul class="dropdown-menu">                                        
                                        <li><a href="{{ path('brs_tur_consultas_pedidos_detalles') }}">Detalles</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Programaciones</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tur_consultas_programaciones_detalles') }}">Detalles</a></li>
                                    </ul>
                                </li>                                
                            </ul>
                        </li>                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Procesos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Contabilidad</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Contabilizar</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_ctb_procesos_contabilizar_asientos') }}">Asientos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>                        
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Recurso humano</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Cierre de año</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_proceso_cierre_anio') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Contabilizar</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_proceso_contabilizar_pago') }}">Pago</a></li>
                                        <li><a href="{{ path('brs_rhu_proceso_contabilizar_pago_banco') }}">Pago banco</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Generar soporte pago horario</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_proceso_soporte_pago_horario') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Control acceso</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_proceso_control_acceso_horario_periodo_listar') }}">Generar periodo horario</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Turno</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Cerrar mes</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tur_proceso_cierre_mes') }}">Lista</a></li>
                                    </ul>
                                </li>                                
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Generar pedidos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tur_proceso_generar_pedido_lista') }}">Lista</a></li>
                                    </ul>
                                </li>                                
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Generar programacion</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tur_proceso_generar_programacion_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Generar soporte pago</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tur_proceso_generar_soporte_pago') }}">Lista</a></li>
                                    </ul>
                                </li>                                
                            </ul>
                        </li>                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilidades <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">General</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Calendario</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_gen_utilidad_calendario') }}">Ver</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Gestor de archivos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_gen_utilidad_gestorarchivo', {'codigoDirectorioPadre': 0}) }}">Ver</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Contabilidad</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Intercambio datos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_ctb_utilidades_intercambio_datos_exportar') }}">Exportar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Recursos humanos</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Programaciones de pago</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_utilidades_pagos_generar_periodo') }}">Generar periodo</a></li>
                                        <li><a href="{{ path('brs_rhu_utilidades_programacion_pago_comprobante_masivo', { 'codigoProgramacionPago': 0 }) }}">Descargar comprobante masivo (pdf)</a></li>
                                        <li><a href="{{ path('brs_rhu_utilidades_programacion_pago_comprobante_masivo_correo', { 'codigoProgramacionPago': 0 }) }}">Enviar comprobante masivo (Correo)</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Notificaciones</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_utilidades_notificaciones_cierreprogramacionpago') }}">Cierre programacion pago</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Seguridad social</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_ss_periodo_lista') }}">Aportes</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Medios magneticos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_utilidades_medios_magneticos_informe') }}">Dian</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Información dane</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_utilidades_informacion_dane_informe') }}">Dane</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Proyeccion</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_utilidades_proyeccion') }}">Proyeccion</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Supervigilancia</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_utilidades_supervigilancia_parafiscales') }}">Pago parafiscales</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="{{ path('brs_rhu_utilidades_carta_laboral') }}">Carta laboral</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="{{ path('brs_rhu_utilidades_certificado_ingreso_retencion') }}">Certificado ingreso retención</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Control de Acceso</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_utilidades_control_acceso_empleado') }}">Empleados</a></li>
                                        <li><a href="{{ path('brs_rhu_utilidades_control_acceso_visitante') }}">Visitantes</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Turnos</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Aplicar novedades</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tur_utilidad_aplicar_novedad') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Programaciones</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_tur_utilidad_programacion_inconsistencias') }}">Analizar inconsistencias</a></li>
                                        <li><a href="{{ path('brs_tur_utilidad_programacion_descarga_masiva') }}">descarga masiva pdf</a></li>
                                    </ul>
                                </li>                                
                            </ul>
                        </li>                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimientos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">General</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Tareas</a>
                                    <ul class="dropdown-menu">                                        
                                        <li><a href="{{ path('brs_gen_mov_tarea_lista') }}">Lista</a></li>
                                    </ul>
                                </li>                                 
                            </ul>
                        </li>                        
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Contabilidad</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Asientos</a>
                                    <ul class="dropdown-menu">                                        
                                        <li><a href="{{ path('brs_ctb_mov_asientos_lista') }}">Lista</a></li>
                                    </ul>
                                </li>                                 
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Recurso humano</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Seleccion</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_seleccionrequisito_lista') }}">Lista requisición</a></li>
                                        <li><a href="{{ path('brs_rhu_seleccion_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Seguridad social</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_examen_listar') }}">Examenes</a></li>
                                        <li><a href="{{ path('brs_rhu_pago_examen_lista') }}">Pago examenes</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Requisitos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_requisito_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Pagos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_pagos_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Pagos banco</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_pago_banco_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Programaciones pago (Periodos)</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_programaciones_pago_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Liquidaciones</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_liquidaciones_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Creditos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_creditos_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Adicionales al pago</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_pagos_adicionales_lista') }}">Lista</a></li>
                                        <li><a href="{{ path('brs_rhu_pagos_adicionales_generarmasivo_lista') }}">Generar masivo</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Incapacidades</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_incapacidades_lista') }}">Lista</a></li>
                                        <li><a href="{{ path('brs_rhu_incapacidades_pagos_lista') }}">Pagos Incapacidades</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Licencias</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_licencias_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Procesos disciplinarios</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_disciplinario_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Facturas</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_facturas_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Vacaciones</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_vacaciones_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Dotaciones</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_dotacion_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Accidentes de Trabajo</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_accidente_trabajo_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Capacitaciones</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_capacitacion_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Información interna empleados</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_empleado_informacion_interna_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Gestión del desempeño</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_desempeno_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Control acceso</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_control_acceso_empleado_lista') }}">Empleado</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Permisos</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('brs_rhu_permiso_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Turno</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Cotizacion</a>
                                    <ul class="dropdown-menu">                                        
                                        <li><a href="{{ path('brs_tur_cotizacion_lista') }}">Lista</a></li>
                                    </ul>
                                </li> 
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Servicio</a>
                                    <ul class="dropdown-menu">                                        
                                        <li><a href="{{ path('brs_tur_servicio_lista') }}">Lista</a></li>
                                    </ul>
                                </li>                                
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Pedido</a>
                                    <ul class="dropdown-menu">                                        
                                        <li><a href="{{ path('brs_tur_pedido_lista') }}">Lista</a></li>
                                    </ul>
                                </li>                                
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Programacion</a>
                                    <ul class="dropdown-menu">                                        
                                        <li><a href="{{ path('brs_tur_programacion_lista') }}">Lista</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Factura</a>
                                    <ul class="dropdown-menu">                                        
                                        <li><a href="{{ path('brs_tur_factura_lista') }}">Lista</a></li>
                                    </ul>
                                </li>                                
                            </ul>
                        </li> 
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Transporte</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Recogida</a>
                                    <ul class="dropdown-menu">                                        
                                        <li><a href="{{ path('brs_tte_recogida_lista') }}">Lista</a></li>
                                        <li><a href="{{ path('brs_tte_programacion_recogida_lista') }}">Programacion</a></li>
                                    </ul>
                                </li>                                 
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Guia</a>
                                    <ul class="dropdown-menu">                                        
                                        <li><a href="{{ path('brs_tte_guia_lista') }}">Lista</a></li>
                                    </ul>
                                </li>                                                                 
                            </ul>
                        </li>                        
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ app.user.username|lower }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Configuración</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('brs_tur_configuracion', { 'codigoConfiguracionPk': 1 }) }}">Turno</a></li>
                                <li><a href="{{ path('brs_rhu_configuracion_nomina', { 'codigoConfiguracionPk': 1 }) }}">Nomina</a></li>
                                <li><a href="{{ path('brs_gen_configuracion_general', { 'codigoConfiguracionPk': 1 }) }}">General</a></li>
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Seguridad</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('brs_seg_admin_usuario_lista') }}">Usuarios</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li><a href="#">Parametrizacion</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
