{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>Detalle entidad exámen</h3>
        </div>

        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        
        <div class="panel panel-default">
            <div class="panel-heading">Información entidad exámen</div>
            <div class="panel-body">
                <table width="100%" class="table table-condensed table-bordered">
                    <tr>
                        <td class="titulo">CÓDIGO:</td>
                        <td class="td-in-well">{{ arEntidadExamenes.codigoEntidadExamenPk }}</td>
                        <td class="titulo">NOMBRE:</th>
                        <td class="td-in-well" colspan="3">{{ arEntidadExamenes.nombre }}</td>
                    </tr>
                    <tr>
                        <td class="titulo">NIT:</td>
                        <td class="td-in-well">{{ arEntidadExamenes.nit }}</td>
                        <td class="titulo">DIRECCIÓN:</th>
                        <td class="td-in-well">{{ arEntidadExamenes.direccion }}</td>
                        <td class="titulo">TELÉFONO:</td>
                        <td class="td-in-well">{{ arEntidadExamenes.telefono }}</td>
                    </tr>                    
                </table>
            </div>
        </div>
        <!-- Botones Menu Items -->
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_base_entidadexamen_listar') }}" style="float:left">Volver</a>
            </div>
        </div>    
        
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
