{% extends '::base.html.twig' %}
{% block title %}Proceso disciplinario detalle - Soga App{% endblock %}
{% block content %}
<script>
    $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<div class="container">
    <div class="page-header">
        <h3>Proceso disciplinario</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                {{ form_widget(form.BtnAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnDesAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnCerrar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_ad_archivos_lista', { 'codigoDocumento': 5,  'numero': arDisciplinario.codigoDisciplinarioPk }) }}', 'Archivos', 500, 700)" >Archivos</a>
            </div>
        </div>
        <br /><br />
    <!-- Encabezado Movimiento -->
    <div class="panel panel-default">
      <div class="panel-heading">Información disciplinario</div>
      <div class="panel-body">
            <table width="100%" class="table table-condensed table-bordered">
                <tr>
                    <td class="titulo">CÓDIGO:</td>
                    <td>{{ arDisciplinario.codigoDisciplinarioPk }}</td>
                    <td class="titulo">PROCESO:</td>
                    <td>{{ arDisciplinario.disciplinarioTipoRel.nombre }}</td>
                    <td class="titulo">FECHA DEL INCIDENTE O CASO</td>
                    <td>{{ arDisciplinario.fechaIncidente|default('NO APLICA') }}</td>
                </tr>
                <tr>
                    <td class="titulo">CAUSAL O MOTIVO</td>
                    <td>{{ arDisciplinario.asunto|default('NO APLICA') }}</td>
                    <td class="titulo">DESCARGOS:</td>
                    <td>{{ arDisciplinario.descargos|default('NO APLICA') }}</td>
                    <td class="titulo">FECHA PROCESO INICIO</td>
                    <td>{{ arDisciplinario.fechaAplicaProceso|default('NO APLICA') }}</td>
                </tr>
                <tr>
                    <td class="titulo">EMPLEADO:</td>
                    <td>{{ arDisciplinario.empleadoRel.nombreCorto }}</td>
                    <td class="titulo">IDENTIFICACIÓN:</td>
                    <td>{{ arDisciplinario.empleadoRel.numeroIdentificacion }}</td>
                    <td class="titulo">FECHA PROCESO HASTA</td>
                    <td>{{ arDisciplinario.fechaAplicaHastaProceso| default('NO APLICA') }}</td>
                </tr>
                <tr>
                    <td class="titulo">CENTRO COSTO:</td>
                    <td>{{ arDisciplinario.centroCostoRel.nombre | default('') }}</td>
                    <td class="titulo">CARGO:</td>
                    <td>{{ arDisciplinario.cargoRel.nombre | default('') }}</td>
                    <td class="titulo">FECHA INGRESO A TRABAJAR</td>
                    <td>{{ arDisciplinario.fechaIngresoTrabajo | default('NO APLICA') }}</td>
                </tr>
                <tr>
                    <td class="titulo">PUESTO:</td>
                    <td>{{ arDisciplinario.puesto }}</td>
                    <td class="titulo">ZONA:</td>
                    <td>{{ arDisciplinario.zona }}</td>
                    <td class="titulo">DÍAS SANCIÓN</td>
                    <td>{{ arDisciplinario.diasSuspencion }}</td>
                </tr>
                <tr>
                    <td class="titulo"></td>
                    <td></td>
                    <td class="titulo">REENTRANAMIENTO:</td>
                    <td>{% if arDisciplinario.reentrenamiento == 1%}SI {% else %}NO {% endif%}</td>
                    <td class="titulo">OPERACIÓN</td>
                    <td>{{ arDisciplinario.operacion }}</td>
                </tr>
                <tr>
                    <td class="titulo"></td>
                    <td></td>
                    <td class="titulo"></td>
                    <td></td>
                    <td class="titulo">AUTORIZADO</td>
                    <td>{% if arDisciplinario.estadoAutorizado == 1%}SI {% else %}NO {% endif%}</td>
                </tr>
                <tr>
                    <td class="titulo"></td>
                    <td></td>
                    <td class="titulo"></td>
                    <td></td>
                    <td class="titulo">ABIERTO</td>
                    <td>{% if arDisciplinario.estado == 1%}NO {% else %}SI {% endif%}</td>
                </tr>
                <tr>
                    <td class="titulo">COMENTARIOS:</td>
                    <td colspan="5" >{{ arDisciplinario.comentarios }}</td>
                </tr>
            </table>
      </div>
    </div>

    <!-- Fin Encabezado Movimiento -->
    
        {{ form_rest(form) }}
    {{ form_end(form) }}
    <a  class="btn btn-default btn-sm" href="{{ path('brs_rhu_disciplinario_lista') }}">Volver</a>
</div>
{% endblock %}
