{% extends '::base2.html.twig' %}
{% block title %}Proceso disciplinario nuevo - Soga App{% endblock %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <script type="text/javascript">
    $(document).ready(function() {
            $('.date').datepicker({ dateFormat: 'yy-mm-dd' ,dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ], monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]})  });
    </script>
    <h3>Nuevo proceso disciplinario</h3>    
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_txtNumeroIdentificacion" class="col-sm-3 control-label">Empleado:</label>
                <div class="col-sm-9">
                    <div class="row">
                      <div class="col-lg-2">
                        <div class="input-group">
                          <input id="form_txtNumeroIdentificacion"  name="form_txtNumeroIdentificacion"  type="text" class="form-control" value="{{ arDisciplinario.empleadoRel.numeroIdentificacion |default('') }}"/>
                        </div>
                      </div>
                      <div class="col-lg-10">
                        <div class="input-group">                                      
                          <input id="form_txtNombreCorto"  name="form_txtNombreCorto"  type="text" class="form-control" value="{{ arDisciplinario.empleadoRel.nombreCorto |default('') }}" readOnly="ReadOnly" />
                          <span class="input-group-btn">                                        
                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_buscar_empleado') }}', 'buscarEmpleado', 600, 900)">Buscar</a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
               
            <div class="form-group form-group-sm">
                <label for="form_disciplinarioTipoRel" class="col-sm-3 control-label">Tipo:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.disciplinarioTipoRel, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Motivo:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.disciplinarioMotivoRel, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>                
            <div class="form-group form-group-sm">
                <label for="form_causal" class="col-sm-3 control-label">Causal o motivo:</label>
                <div class="col-sm-9">
                        {{ form_widget(form.asunto, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaIncidente" class="col-sm-3 control-label">Fecha de incidente:</label>
                <div class="col-sm-9">
                            {{ form_widget(form.fechaIncidente) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label  class="col-sm-3 control-label">Fecha notificacion:</label>
                <div class="col-sm-9">
                            {{ form_widget(form.fechaNotificacion) }}
                </div>
            </div>                
            <div class="form-group form-group-sm">
                <label for="form_fechaAplicaProceso" class="col-sm-3 control-label">Fecha desde(sancion o terminacion):</label>
                <div class="col-sm-9">
                            {{ form_widget(form.fechaDesdeSancion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaAplicaHastaProceso" class="col-sm-3 control-label">Fecha hasta(sancion):</label>
                <div class="col-sm-9">
                            {{ form_widget(form.fechaHastaSancion) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_diasSuspension" class="col-sm-3 control-label">Días de sanción:</label>
                <div class="col-sm-9">
                            {{ form_widget(form.diasSuspencion, { 'attr': {'class': 'form-control', 'placeholder': 'numero de dias de la sancion Ejemplo: 2'} }) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label for="form_fechaIngresoTrabajo" class="col-sm-3 control-label">Fecha reinicia labores:</label>
                <div class="col-sm-9">
                            {{ form_widget(form.fechaIngresoTrabajo) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_puesto" class="col-sm-3 control-label">Puesto:</label>
                <div class="col-sm-9">
                            {{ form_widget(form.puesto, { 'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_reentrenamiento" class="col-sm-3 control-label">Reentrenamiento:</label>
                <div class="col-sm-9">
                            {{ form_widget(form.reentrenamiento, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Genera suspension:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.estadoSuspension) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Procede:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.estadoProcede) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label for="form_comentarios" class="col-sm-3 control-label">Comentarios:</label>
                <div class="col-sm-9">
                            {{ form_widget(form.comentarios, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>    
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_movimiento_disciplinario') }}">Cancelar</a>        
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>    
    {{ form_end(form) }}
</div>
{% endblock %}