{% extends '::base.html.twig' %}
{% block title %}Contabilidad consulta balance de prueba - Soga App{% endblock %}
{% block content %}
<div class="container">
    <script type="text/javascript">
    $(document).ready(function() {
            $('.date').datepicker({ dateFormat: 'yy-mm-dd' ,dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ], monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]})  });
    </script>
    <div class="page-header">
        <h3>Consulta balance de prueba</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">                                                         
                <div class="form-group form-group-sm">
                    <label for="form_fechaDesde" class="col-sm-2 control-label">Desde:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.fechaDesde, {'attr': {'maxlength' : 10, 'class': 'form-control'} }) }} 
                    </div>  
                    <label for="form_fechaHasta" class="col-sm-2 control-label">Hasta:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.fechaHasta, {'attr': {'maxlength' : 10, 'class': 'form-control'} }) }} 
                    </div>                      
                </div>
                <div class="form-group form-group-sm">  
                    <label for="form_TxtCuentaDesde" class="col-sm-2 control-label">Cuenta desde:</label>
                    <div class="col-sm-4">                  
                        <input id="TxtCuentaDesde"  name="TxtCuentaDesde"  type="text" class="form-control" value=""/>
                          <span class="input-group-btn">                                        
                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_ctb_buscar_cuenta', {'campoCodigo': 'TxtCuentaDesde'}) }}', 'buscarCuenta', 600, 900)">Buscar</a>
                          </span>
                    </div>
                    <label for="form_TxtCuentaHasta" class="col-sm-2 control-label">Cuenta hasta:</label>
                    <div class="col-sm-4">                  
                        <input id="TxtCuentaHasta"  name="TxtCuentaHasta"  type="text" class="form-control" value=""/>
                          
                        <span class="input-group-btn">                                        
                            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_ctb_buscar_cuenta', {'campoCodigo': 'TxtCuentaHasta'}) }}', 'buscarCuenta', 600, 900)">Buscar</a>
                          </span>
                    </div>                    
                </div>                                       
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>    
            </div>
        </div> 
        <table  class="table table-striped table-bordered table-condensed table-hover">            
            <tr>
                <th>CÓDIGO CUENTA</th>
                <th>IDENTIFICACIÓN TERCERO</th>
                <th>TERCERO</th>
                <th>NOMBRE CUENTA</th>
                <th>SALDO ANTERIOR</th>                
                <th>DÉBITOS</th>
                <th>CRÉDITOS</th>
                <th>SALDO NUEVO</th>                
            </tr>
            {% set floSaldoAnterior = 0  %} 
            {% set floDebitos = 0  %} 
            {% set floCreditos = 0  %} 
            {% set floSaldoNuevo = 0  %} 
            {% for arBalancePrueba in arBalancePrueba %}
            <tr>
                <td>{{ arBalancePrueba.codigoCuentaFk }}</td>
                <td>{{ arBalancePrueba.numeroIdentificacion | default('') }}</td>
                <td>{{ arBalancePrueba.nombreCorto | default('') }} - {{ arBalancePrueba.razonSocial | default('') }}</td>
                <td>{{ arBalancePrueba.nombreCuenta | default('') }}</td>
                <td style="text-align: right">{{ arBalancePrueba.debito | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arBalancePrueba.debito | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arBalancePrueba.credito | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arBalancePrueba.credito | number_format(0, '.', ',') }}</td>
                {% set floSaldoAnterior = floDebitos + arBalancePrueba.debito %}
                {% set floDebito = floDebitos + arBalancePrueba.debito %}
                {% set floDebito = floDebitos + arBalancePrueba.debito %}
                {% set floCredito = floCreditos + arBalancePrueba.credito %}
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4" style="text-align: right"><b>DÉBITOS: </b></td>
                <td style="text-align: right">{{ floDebitos | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ floCreditos | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ floCreditos | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ floCreditos | number_format(0, '.', ',') }}</td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: right"><b>CRÉDITOS: </b></td>
                <td style="text-align: right">{{ floDebitos | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ floCreditos | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ floCreditos | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ floCreditos | number_format(0, '.', ',') }}</td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: right"><b>TOTALES: </b></td>
                <td style="text-align: right">{{ floDebitos | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ floCreditos | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ floCreditos | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ floCreditos | number_format(0, '.', ',') }}</td>
            </tr>
        </table>
        <div class="btn-toolbar" style="float: left">
            <div class="btn-group">
                
            </div>
            
        </div>                
        <div class="btn-toolbar" style="float: right">                 
            <div class="btn-group">
                {{ form_widget(form.BtnPdf, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
            </div>
            <div class="btn-group">
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
            </div>
        </div>
        
        {{ form_rest(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}

