{% extends '::base_sin_menu.html.twig' %}
{% block title %}Adicionales al pago agregar tiempo suplementario - Soga App{% endblock %}
{% block content %}
    <div class="container">
        <p class="description"><h3>Agregar concepto</h3></p>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
            <div class="panel panel-default">
                <div class="panel-heading">Datos empleado</div>
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label for="txtNumeroIdentificacion" class="col-sm-3 control-label">Empleado:</label>
                        <div class="col-sm-9">
                            <div class="row">
                              <div class="col-lg-2">
                                <div class="input-group">
                                  <input id="txtNumeroIdentificacion"  name="txtNumeroIdentificacion"  type="text" class="form-control" value="{{ arEmpleado.numeroIdentificacion |default('') }}"/>
                                </div>
                              </div>
                              <div class="col-lg-10">
                                <div class="input-group">                                      
                                  <input id="txtNombreCorto"  name="txtNombreCorto"  type="text" class="form-control" value="{{ arEmpleado.nombreCorto |default('') }}" readOnly="ReadOnly" />
                                  <span class="input-group-btn">                                        
                                    <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_buscar_empleado') }}', 'buscarEmpleado', 600, 900)">Buscar</a>
                                  </span>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>CÓDIGO</th>
                    <th>NOMBRE</th>
                    <th style="text-align: right">HORAS</th>
                </tr>

                {% for arPagosConceptos in arPagosConceptos %}
                    <tr>
                        <td><input type="hidden" name="LblCodigo[]" value="{{ arPagosConceptos.codigoPagoConceptoPk }}">{{ arPagosConceptos.codigoPagoConceptoPk }}</td>
                        <td>{{ arPagosConceptos.nombre}}</td>
                        <td style="text-align: right"><input class="input-grid" type="text" name="TxtHoras[]" value="0" size="5" style="text-align: right; width:50px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                    </tr>
                {% endfor %}                 
            </table>

            <div class="modal-footer">
                <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_pagos_adicionales_lista') }}">Cancelar</a>
                {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
                {{ form_widget(form.BtnGuardaryNuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            </div>
            <br />
        {{ form_end(form) }}

</div>
{% endblock %}