{% extends '::base_sin_menu.html.twig' %}
{% block title %}Adicional al pago editar - Soga App{% endblock %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <p class="description"><h3>Agregar concepto</h3></p>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_empleadoRel" class="col-sm-3 control-label">Empleado:</label>
                <div class="col-sm-9">
                        {{ form_widget(form.empleadoRel, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus','disabled':'disabled'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_pagoConceptoRel" class="col-sm-3 control-label">Concepto:</label>
                <div class="col-sm-9">
                        {{ form_widget(form.pagoConceptoRel, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_TxtCantidad" class="col-sm-3 control-label">Cantidad:</label>
                <div class="col-sm-9">
                        {{ form_widget(form.TxtCantidad, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">
                <label for="form_TxtDetalle" class="col-sm-3 control-label">Detalle:</label>
                <div class="col-sm-9">
                        {{ form_widget(form.TxtDetalle, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>    
        </div>
    </div>            
    <div class="modal-footer">              
        {{ form_widget(form.BtnAgregar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>    
    {{ form_end(form) }}
</div>
{% endblock %}