
{% block stylesheets %}            
<link href="{{ asset('bootstrap-3.3.2-dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('css/signin.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}                 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Recuperar clave</title>
    </head>
    <body>
        <div class="container">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
            <div class="panel panel-default">
                <div class="panel-heading">Recuperar clave</div>
                <div class="panel-body">                           
                    <div class="form-group form-group-sm">
                        <label for="form_username" class="col-sm-3 control-label">Usuario:</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.username, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                        </div>
                    </div>                
            </div>                
            <div class="modal-footer">   
                <a class="btn btn-default btn-sm" href="{{ path('login') }}">Cancelar</a>        
                {{ form_widget(form.BtnRecuperar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}            
            </div>    
            {{ form_end(form) }}
        </div>
    </body>
</html>
