{% extends '::base2.html.twig' %}
{% block title %}Selección prueba tipo lista - Soga App{% endblock %}  
{% block content %}
    <div class="container">
    <div class="page-header">    
        <h3>Listado tipos de pruebas de selección</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }} 
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>CÓDIGO</th>
            <th>{{ knp_pagination_sortable(arSeleccionPruebasTipo, 'NOMBRE', 'codigo') }}</th> 
            <th></th>
            <th></th>
        </tr>
            {%for arSeleccionPruebasTipo in arSeleccionPruebasTipo %}
               <tr>
                <td>{{arSeleccionPruebasTipo.codigoSeleccionPruebaTipoPk}}</td>
                <td>{{arSeleccionPruebasTipo.nombre}}</td>
                <td><a href="{{ path('brs_rhu_base_seleccion_prueba_tipo_nuevo',{'codigoSeleccionPruebaTipo': arSeleccionPruebasTipo.codigoSeleccionPruebaTipoPk})}}"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar el registro"></a></td>
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arSeleccionPruebasTipo.codigoSeleccionPruebaTipoPk }}" /></td>
            {%endfor%}
            </tr>            
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Pruebas tipo <span class="badge">{{ arSeleccionPruebasTipo.getTotalItemCount }}</span></div>                        
    </div>
    <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arSeleccionPruebasTipo) }}       
    </div>
    <div class="btn-toolbar" style="float: right">              
        <div class="btn-group">
            {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
        </div>
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_base_seleccion_prueba_tipo_nuevo', {'codigoSeleccionPruebaTipo': 0}) }}">Nuevo</a>
        </div>
        <div class="btn-group">
            {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}</td>                   
        </div>
    </div>     
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}