{% extends '::base.html.twig' %}
{% block title %}Selección prueba tipo nuevo - Soga App{% endblock %} 
{% block content %}
<div class="container">    
    {{ form_start(formSeleccionPruebaTipo, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(formSeleccionPruebaTipo) }}
    <h3>Nuevo tipo prueba selección</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                        {{ form_widget(formSeleccionPruebaTipo.nombre, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','onkeypress': 'txNombres();', 'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>
        
</div>
</div>
    <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_base_seleccion_prueba_tipo_listar') }}">Cancelar</a>
            {{ form_widget(formSeleccionPruebaTipo.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>            
    {{ form_end(formSeleccionPruebaTipo) }}
</div>    
{% endblock %}
