{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <h3>Nuevo operacion</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">                                                      
            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-3 control-label">Proyecto:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.proyectoRel, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>    
            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-3 control-label">Nombre:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>                 
        </div>
    </div>               
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('brs_tur_base_operacion') }}">Cancelar</a>        
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}