{% extends '::base.html.twig' %}
{% block content %}
<div class="container">   
<div class="left_articles">                

    <div class="page-header">
        <h2>Listado documentos</h2>
        <a  class="btn btn-mini" href="{{ path('brs_inv_base_documentos_nuevo', { 'codigoDocumentoPk':  0 }) }}"><image src="{{ asset('imagenes/bootstrap/glyphicons_190_circle_plus.png') }}" width=20 height=20> Crear documento</a>
    </div>        

    <table  class="table table-striped table-bordered table-condensed" style="width: 0%"> 
        <tr>
            <th>Codigo</th>
            <th>Tipo</th>
            <th>Abr</th>
            <th>Nombre</th>
            <th>Cons</th>
            <th></th>
            <th></th>
        </tr>

        {% for arDocumentos in arDocumentos %}
        <tr>
            <td>{{ arDocumentos.codigoDocumentoPk }}</td>
            <td>{{ arDocumentos.documentoTipoRel.nombreDocumentoTipo }}</td>
            <td>{{ arDocumentos.abreviatura }}</td>
            <td>{{ arDocumentos.nombreDocumento }}</td>
            <td>{{ arDocumentos.consecutivo }}</td>
            <td style="text-align: center"><a href="{{ path('brs_inv_base_documentos_nuevo', { 'codigoDocumentoPk':  arDocumentos.codigoDocumentoPk }) }}" style="float:left"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20></a></td>                        
            <td style="text-align: center"><a href="{{ path('brs_inv_base_documentos_detalle', { 'codigoDocumentoPk': arDocumentos.codigoDocumentoPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=22 height=22></a></td>                            
        </tr>   
        {% endfor %}            
    </table>   
</div>
    </div>
{% endblock %}
