{% extends '::base.html.twig' %}
{% block title %}Programacion detalle - Soga App{% endblock %}
{% block content %}
    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
    <script type="text/javascript">
        //https://librosweb.es/libro/ajax/capitulo_7/la_primera_aplicacion.html
        function validarTurno(control){
            var codigoTurno = control.value;
            if(codigoTurno !== '') {
                var codigoProgramacionDetalle = control.name.substring(9);
                var dia = parseInt(control.name.substring(6,8));
                if(window.XMLHttpRequest) {
                    peticion_http = new XMLHttpRequest();
                }
                peticion_http.onreadystatechange = function() {
                    if (peticion_http.readyState == 4) {
                        if (peticion_http.status == 200) {
                            var respuesta = peticion_http.responseText;
                            //alert(respuesta);
                            if(respuesta == '1') {
                                alert('El recurso ya tiene programado otro turno igual en el periodo');
                                control.value = '';
                            }
                        }
                    }
                }
                // Realizar peticion HTTP
                var url = "{{path('brs_tur_validar_turno', {'codigoProgramacionDetalle': 'pd', 'dia': 'd0', 'codigoTurno': 'ct' })}}";
                url = url.replace('pd', codigoProgramacionDetalle);
                url = url.replace('d0', dia);
                url = url.replace('ct', codigoTurno);
                peticion_http.open('GET', url, true);
                peticion_http.send(null);
            }
        }
    </script>
    <div class="container">
        <div class="page-header">
            <h3>Detalle programacion</h3>
        </div>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                <a  class="btn btn-default btn-sm" href="{{ path('brs_tur_movimiento_programacion_nuevo', {'codigoProgramacion': 0 }) }}">Nuevo</a>
                {% if arProgramacion.estadoAutorizado == 0 %}
                    <a  class="btn btn-default btn-sm" href="{{ path('brs_tur_movimiento_programacion_nuevo', {'codigoProgramacion': arProgramacion.codigoProgramacionPk }) }}">Editar</a>
                {% endif %}
                {{ form_widget(form.BtnAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnDesAutorizar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnAprobar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnAnular, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
        </div>
        <div style="float:right">
            {% if arProgramacion.estadoAutorizado == 1 %}<span class="label label-default">Autorizado</span>{% endif %}
            {% if arProgramacion.estadoAnulado == 1 %}<span class="label label-danger">Anulado</span>{% endif %}
        </div>
        <br /><br />
        <!-- Encabezado Movimiento -->
        <div class="panel panel-default">
            <div class="panel-heading">Información</div>
            <div class="panel-body">
                <table width="100%" class="table table-condensed table-bordered">
                    <tr>
                        <td class="titulo">CODIGO:</td>
                        <td class="td-in-well">{{ arProgramacion.codigoProgramacionPk }}</td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                    </tr>
                    <tr>
                        <td class="titulo">FECHA:</td>
                        <td class="td-in-well">{{ arProgramacion.fecha | date('Y/m/d') }}</td>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                    </tr>
                    <tr>
                        <td class="titulo">CLIENTE:</td>
                        <td class="td-in-well">{{ arProgramacion.clienteRel.nombreCorto }}</td>
                        <td class="titulo" >HORAS:</td>
                        <td align="right">{{ arProgramacion.horas | number_format(0, '.', ',')}}</td>
                    </tr>
                    <tr>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo" >HORAS DIURNAS:</td>
                        <td align="right">{{ arProgramacion.horasDiurnas | number_format(0, '.', ',')}}</td>
                    </tr>
                    <tr>
                        <td class="titulo"></td>
                        <td class="td-in-well"></td>
                        <td class="titulo" >HORAS NOCTURNAS:</td>
                        <td align="right">{{ arProgramacion.horasNocturnas | number_format(0, '.', ',')}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Fin Encabezado Movimiento -->

        <ul class="nav nav-tabs">
            <li class="active"><a href="#tipos" data-toggle="tab">Detalle</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tipos">
                <!-- Menu Encabezado Movimiento -->
                <div id="detalles" style="width: 100%"><br>
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>COD</th>
                            <th>RECURSO</th>
                                {% for arrDiaSemana in arrDiaSemana %}
                                <th>{{ arrDiaSemana.dia }}{{ arrDiaSemana.diaSemana }}</th>
                                {% endfor %}
                            <th>H</th>
                            <th>HD</th>
                            <th>HN</th>
                            <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodos(this);"/></th>
                        </tr>
                        {% set intPuesto = '' %}
                        {% for arProgramacionDetalle in arProgramacionDetalle %}                            
                            {% if intPuesto != arProgramacionDetalle.codigoPuestoFk or arProgramacionDetalle.codigoPuestoFk == '' %}                                
                                 <tr>
                                     <td id="suptipo" colspan="38"><b>{{ arProgramacionDetalle.puestoRel.nombre | default('') }}<b/>
                                        {% if arProgramacion.estadoAutorizado == 0 %}
                                            {% if arProgramacionDetalle.codigoPuestoFk is not null %}
                                                <a href="javascript:abrirVentana3('{{ path('brs_tur_movimiento_programacion_detalle_editar', {'codigoPuesto': arProgramacionDetalle.codigoPuestoFk, 'codigoProgramacion': arProgramacion.codigoProgramacionPk }) }}', 'Editar puesto', 600, 1200)"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar programacion puesto"></a>
                                            {% else %}
                                                <b>SIN PUESTO (Error)<b/>
                                                <a href="javascript:abrirVentana3('{{ path('brs_tur_movimiento_programacion_detalle_editar', {'codigoPuesto': 0, 'codigoProgramacion': arProgramacion.codigoProgramacionPk }) }}', 'Editar puesto', 600, 1200)"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar programacion puesto"></a>                                            
                                            {% endif %}
                                        {% endif %}
                                     </td>
                                 </tr>
                                 {% set intPuesto = arProgramacionDetalle.codigoPuestoFk %}
                             {% endif %}
                            <tr {% if arProgramacionDetalle.ajusteProgramacion == 1 %} class="danger" {% endif %}>
                                <td><a href="javascript:abrirVentana3('{{ path('brs_tur_movimiento_programacion_detalle_resumen', {'codigoProgramacionDetalle': arProgramacionDetalle.codigoProgramacionDetallePk }) }}', 'pedidoDetalleResumen', 600, 900)">{{ arProgramacionDetalle.codigoProgramacionDetallePk }}</a><input type="hidden" name="LblCodigo[]" value="{{ arProgramacionDetalle.codigoProgramacionDetallePk }}"></td>
                                {% if arProgramacionDetalle.codigoRecursoFk is not null %}
                                    <td><a href="javascript:abrirVentana3('{{ path('brs_tur_consultas_recursos_disponibles_programacion', { 'anio': arProgramacionDetalle.anio, 'mes': arProgramacionDetalle.mes, 'codigoRecurso': arProgramacionDetalle.codigoRecursoFk }) }}', 'VerProgramaciones', 600, 900)">{{ arProgramacionDetalle.recursoRel.nombreCorto | default('') }}</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ arProgramacionDetalle.dia1  }}</td>
                                <td>{{ arProgramacionDetalle.dia2  }}</td>
                                <td>{{ arProgramacionDetalle.dia3  }}</td>
                                <td>{{ arProgramacionDetalle.dia4  }}</td>
                                <td>{{ arProgramacionDetalle.dia5  }}</td>
                                <td>{{ arProgramacionDetalle.dia6  }}</td>
                                <td>{{ arProgramacionDetalle.dia7  }}</td>
                                <td>{{ arProgramacionDetalle.dia8  }}</td>
                                <td>{{ arProgramacionDetalle.dia9  }}</td>
                                <td>{{ arProgramacionDetalle.dia10  }}</td>
                                <td>{{ arProgramacionDetalle.dia11  }}</td>
                                <td>{{ arProgramacionDetalle.dia12  }}</td>
                                <td>{{ arProgramacionDetalle.dia13  }}</td>
                                <td>{{ arProgramacionDetalle.dia14  }}</td>
                                <td>{{ arProgramacionDetalle.dia15  }}</td>
                                <td>{{ arProgramacionDetalle.dia16  }}</td>
                                <td>{{ arProgramacionDetalle.dia17  }}</td>
                                <td>{{ arProgramacionDetalle.dia18  }}</td>
                                <td>{{ arProgramacionDetalle.dia19  }}</td>
                                <td>{{ arProgramacionDetalle.dia20  }}</td>
                                <td>{{ arProgramacionDetalle.dia21  }}</td>
                                <td>{{ arProgramacionDetalle.dia22  }}</td>
                                <td>{{ arProgramacionDetalle.dia23  }}</td>
                                <td>{{ arProgramacionDetalle.dia24  }}</td>
                                <td>{{ arProgramacionDetalle.dia25  }}</td>
                                <td>{{ arProgramacionDetalle.dia26  }}</td>
                                <td>{{ arProgramacionDetalle.dia27  }}</td>
                                <td>{{ arProgramacionDetalle.dia28  }}</td>
                                <td>{{ arProgramacionDetalle.dia29  }}</td>
                                <td>{{ arProgramacionDetalle.dia30  }}</td>
                                <td>{{ arProgramacionDetalle.dia31  }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasDiurnas | number_format(0, '.', ',') }}</td>
                                <td style="text-align: right">{{ arProgramacionDetalle.horasNocturnas | number_format(0, '.', ',') }}</td>
                                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arProgramacionDetalle.codigoProgramacionDetallePk }}" /></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="btn-toolbar" style="float: right">
                <div class="btn-group">
                    {% if arProgramacion.estadoAutorizado == 0 %}
                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_tur_movimiento_programacion_detalle_pedido_nuevo', {'codigoProgramacion': arProgramacion.codigoProgramacionPk, 'codigoProgramacionDetalle': 0 }) }}', 'AgregarNuevoDetalle', 600, 1200)">Nuevo</a>
                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_tur_movimiento_programacion_detalle_nuevo', {'codigoProgramacion': arProgramacion.codigoProgramacionPk, 'codigoProgramacionDetalle': 0 }) }}', 'AgregarNuevoDetalle', 600, 1200)">Nuevo libre</a>
                    {% endif %}
                </div>
                <div class="btn-group">
                    {{ form_widget(form.BtnDetalleAjuste, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                    {{ form_widget(form.BtnDetalleMarcar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                                                                            
                    {{ form_widget(form.BtnDetalleEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                </div>
            </div>
        </div>


        {{ form_rest(form) }}
        {{ form_end(form) }}
        <a  class="btn btn-default btn-sm" href="{{ path('brs_tur_movimiento_programacion') }}">Volver</a>
    </div>
{% endblock %}
