{% extends '::base_sin_menu.html.twig' %}
{% block title %}Periodo nuevo - Soga App{% endblock %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <h3>Nuevo periodo</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Información periodo</div>
        <div class="panel-body">      
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Ingreso:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.ingreso, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>             
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Retiro:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.retiro, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>                
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Ibc pension:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.ibcPension, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>   
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Ibc salud:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.ibcSalud, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Ibc caja:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.ibcCaja, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div> 
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Ibc riesgos:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.ibcRiesgosProfesionales, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>     
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Dias pension:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.diasCotizadosPension, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>   
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Dias salud:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.diasCotizadosSalud, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Dias caja:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.diasCotizadosCajaCompensacion, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div> 
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Dias riesgos:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.diasCotizadosRiesgosProfesionales, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div> 
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Cotizacion pension:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.cotizacionPension, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>   
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Cotizacion salud:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.cotizacionSalud, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Cotizacion caja:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.cotizacionCaja, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div> 
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-4 control-label">Cotizacion riesgos:</label>
                <div class="col-sm-8">
                        {{ form_widget(form.cotizacionRiesgos, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>                
        </div>
    </div>                   
    <div class="modal-footer">      
            <a class="btn btn-default btn-sm" onclick="window.close()">Cancelar</a>        
            {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>    
    {{ form_end(form) }}
</div>
{% endblock %}