{% extends '::base_sin_menu.html.twig' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Resumen pagos</h3>
    </div>
         <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>NUMERO</th>
                <th>TIPO</th>                                                                
                <th>P. DESDE</th>
                <th>DESDE</th>
                <th>HASTA</th>
                <th>DIAS</th>
                <th>IBP</th>
                <th>IBC</th>
                <th>PENSION</th>
                <th>SALUD</th>
            </tr>
            {% set douTotalIBP = 0  %}  
            {% set douTotalIBC = 0  %}              
            {% set douTotalPension = 0  %}            
            {% set douTotalSalud = 0  %}            
            {% for arPagos in arPagos %}
            <tr>                
                <td>{{ arPagos.numero  }}</td>
                <td>{{ arPagos.pagoTipoRel.nombre  }}</td>
                <td>{{ arPagos.fechaDesdePago |date("Y/m/d")  }}</td>
                <td>{{ arPagos.fechaDesde |date("Y/m/d")  }}</td>
                <td>{{ arPagos.fechaHasta |date("Y/m/d")  }}</td>
                <td style="text-align: right">{{ arPagos.diasPeriodo | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arPagos.vrIngresoBasePrestacion | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arPagos.vrIngresoBaseCotizacion | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arPagos.vrPension | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arPagos.vrEps | number_format(0, '.', ',') }}</td>
            </tr>
            {% set douTotalIBP = douTotalIBP + arPagos.vrIngresoBasePrestacion %}    
            {% set douTotalIBC = douTotalIBC + arPagos.vrIngresoBaseCotizacion %}            
            {% set douTotalPension = douTotalPension + arPagos.vrPension %}                
            {% set douTotalSalud = douTotalSalud + arPagos.vrEps %}                            
            {% endfor %}
            <td colspan="6"></td>
            <td style="text-align: right">{{ douTotalIBP | number_format(0, '.', ',') }}</td>
            <td style="text-align: right">{{ douTotalIBC | number_format(0, '.', ',') }}</td>
            <td style="text-align: right">{{ douTotalPension | number_format(0, '.', ',') }}</td>
            <td style="text-align: right">{{ douTotalSalud | number_format(0, '.', ',') }}</td>
        </table>
</div>
{% endblock %}
