{% extends '::base.html.twig' %}
{% block title %}Precios nuevo - Soga App{% endblock %}
{% block content %}
<div class="container">    
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <h3>Nuevo precio</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
        <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Nombre:</label>
                <div class="col-sm-9">
                        {{ form_widget(form.nombre, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
        </div>
        <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Fecha vencimiento:</label>
                <div class="col-sm-9">
                        {{ form_widget(form.fechaVencimiento, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
        </div>        
    </div>
    <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_tte_base_precios_lista') }}">Cancelar</a>
            {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
</div>    
{% endblock %}
