{% extends '::base2.html.twig' %}
{% block title %}Riesgos profesionales lista - Soga App{% endblock %}  
{% block content %}
    <div class="container">
    <div class="page-header">    
        <h3>Listado entidades riesgos profesionales</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }} 
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>CÓDIGO</th>
            <th>{{ knp_pagination_sortable(arEntidadesRiesgosProfesionales, 'NOMBRE', 'nit') }}</th> 
            <th>NIT</th>
            <th>DIRECCIÓN</th>
            <th>TELÉFONO</th>
            <th>CÓDIGO INTERFACE</th>
            <th></th>
            <th></th>
        </tr>
            {%for arEntidadesRiesgosProfesionales in arEntidadesRiesgosProfesionales %}
               <tr>
                <td>{{arEntidadesRiesgosProfesionales.codigoEntidadRiesgoPk}}</td>
                <td>{{arEntidadesRiesgosProfesionales.nombre}}</td>
                <td>{{arEntidadesRiesgosProfesionales.nit}}</td>
                <td>{{arEntidadesRiesgosProfesionales.direccion}}</td>
                <td>{{arEntidadesRiesgosProfesionales.telefono}}</td>
                <td>{{arEntidadesRiesgosProfesionales.codigoInterface}}</td>
                <td><a href="{{ path('brs_rhu_base_riesgoProfesional_nuevo',{'codigoEntidadRiesgoProfesionalPk': arEntidadesRiesgosProfesionales.codigoEntidadRiesgoPk})}}"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar el registro"></a></td>
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arEntidadesRiesgosProfesionales.codigoEntidadRiesgoPk }}" /></td>
            {%endfor%}
            </tr>            
    </table>
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Entidades riesgos profesionales <span class="badge">{{ arEntidadesRiesgosProfesionales.getTotalItemCount }}</span></div>                        
    </div>
    <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
        {{ knp_pagination_render(arEntidadesRiesgosProfesionales) }}       
    </div>
    <div class="btn-toolbar" style="float: right">              
        <div class="btn-group">
            {{ form_widget(form.BtnPdf, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
            {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
        </div>
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_base_riesgoProfesional_nuevo', {'codigoEntidadRiesgoProfesionalPk': 0}) }}">Nuevo</a>
        </div>
        <div class="btn-group">
            {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}</td>                   
        </div>
    </div>     
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}