{% extends '::base.html.twig' %}
{% block title %}Elementos dotación tipo nuevo - Soga App{% endblock %} 
{% block content %}
<div class="container">    
    {{ form_start(formDotacionElementoTipo, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(formDotacionElementoTipo) }}
    <h3>Nueva Dotación tipo</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                        {{ form_widget(formDotacionElementoTipo.nombre, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()', 'class': 'form-control','autofocus':'autofocus'} }) }}
                </div>
            </div>        
</div>
</div>
    <div class="modal-footer">
            <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_base_dotacion_elemento_tipo_lista') }}">Cancelar</a>
            {{ form_widget(formDotacionElementoTipo.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
            {{ form_widget(formDotacionElementoTipo.guardarynuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>            
    {{ form_end(formDotacionElementoTipo) }}
</div>    
{% endblock %}
