{% extends '::base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h3>Detalles del contrato</h3>
        </div>
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="btn-group">
            {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_ad_archivos_lista', { 'codigoDocumento': 4,  'numero': arContrato.codigoContratoPk }) }}', 'Archivos', 500, 700)" >Documentos</a>                        
        </div>
        <br /> <br />
        <div class="panel panel-default">
            <div class="panel-heading">Información contrato</div>
            <div class="panel-body">
            <table width="100%" class="table table-condensed table-bordered">
                <tr>
                    <td class="titulo">CÓDIGO:</td>
                    <td class="td-in-well">{{ arContrato.codigoContratoPk }}</td>
                    <td class="titulo">TIPO:</td>
                    <td class="td-in-well">{{ arContrato.contratoTipoRel.nombre|default('SIN TIPO') }}</td>
                    <td class="titulo">TIEMPO:</td>
                    <td class="td-in-well">{{ arContrato.tipoTiempoRel.nombre|default('SIN TIEMPO') }}</td>
                </tr>
                <tr>
                    <td class="titulo">FECHA INICIO:</td>
                    <td class="td-in-well">{{ arContrato.fechaDesde|date("Y/m/d") }}</td>
                    <td class="titulo">NUMERO:</td>
                    <td class="td-in-well">{{ arContrato.numero }}</td>
                    <td class="titulo">SALARIO:</td>
                    <td class="td-in-well-numerico" align="right">$ {{ arContrato.vrSalario | number_format(2, '.', ',') }}</td>                   
                </tr>    
                <tr>
                    <td class="titulo">FECHA TERMINA:</td>
                    <td class="td-in-well">{% if arContrato.indefinido == 1 %} INDEFINIDO {% else %} {{ arContrato.fechaHasta |date("Y/m/d") }} {%endif%}</td>
                    <td class="titulo">CENTRO COSTO:</td>
                    <td class="td-in-well">{{ arContrato.centroCostoRel.nombre|default('SIN CENTRO COSTO') }}</td>
                    <td class="titulo">CARGO:</td>
                    <td class="td-in-well">{{ arContrato.cargoRel.nombre|default('SIN CARGO') }}</td>
                </tr>                 
                <tr>
                    <td class="titulo">CLASIFICACIÓN RIESGO:</td>
                    <td class="td-in-well">{{ arContrato.clasificacionRiesgoRel.nombre|default('SIN CENTRO COSTO') }}</td>
                    <td class="titulo">IDENTIFICACION</td>
                    <td class="td-in-well">{{ arContrato.empleadoRel.numeroIdentificacion }}</td>
                    <td class="titulo">DESCRIPCION CARGO:</td>
                    <td class="td-in-well">{{ arContrato.cargoDescripcion }}</td>
                </tr>
                <tr>
                    <td class="titulo">ÚLTIMO PAGO:</td>
                    <td>{{ arContrato.fechaUltimoPago|date("Y/m/d") }}</td>
                    <td class="titulo">EMPLEADO</td>
                    <td class="td-in-well">{{ arContrato.empleadoRel.nombreCorto }}</td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                </tr>                 
                <tr>
                    <td class="titulo">ÚLTIMA PRIMA:</td>
                    <td>{{ arContrato.fechaUltimoPagoPrimas|date("Y/m/d") }}</td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                </tr>                
                <tr>
                    <td class="titulo">ÚLTIMA CESANTIA:</td>
                    <td>{{ arContrato.fechaUltimoPagoCesantias|date("Y/m/d") }}</td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                </tr>                
                <tr>
                    <td class="titulo">ÚLTIMA VACACIÓN:</td>
                    <td>{{ arContrato.fechaUltimoPagoVacaciones|date("Y/m/d") }}</td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                </tr>                 
                <tr>
                    <td colspan="8">COMENTARIOS: {{ arContrato.comentarios }}</td>
                </tr>
            </table>
            </div>
        </div>
        <a name="marcador"></a>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#cambiosalario" data-toggle="tab">Cambio salario</a></li>
            <li><a href="#vacaciones" data-toggle="tab">Vacaciones</a></li>
            <li><a href="#sedes" data-toggle="tab">Sedes</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="cambiosalario">
                <br />
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>CÓDIGO</th>
                        <th>FECHA</th>
                        <th>ANTERIOR</th>
                        <th>NUEVO</th>
                        <th>DETALLE</th>
                    </tr>
                    {% for arCambiosSalario in arCambiosSalario %}
                        <tr>
                            <td><input type="hidden" name="LblCodigo[]" value="{{ arCambiosSalario.codigoCambioSalarioPk }}">{{ arCambiosSalario.codigoCambioSalarioPk }} </td>
                            <td>{{ arCambiosSalario.fecha |date("Y/m/d")  }}</td>                            
                            <td style="text-align: right">{{ arCambiosSalario.vrSalarioAnterior | number_format(0, '.', ',') }}</td>
                            <td style="text-align: right">{{ arCambiosSalario.vrSalarioNuevo | number_format(0, '.', ',') }}</td>
                            <td>{{ arCambiosSalario.detalle  }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_cambio_salario_nuevo', {'codigoContrato': arContrato.codigoContratoPk, 'codigoCambioSalario': 0 }) }}', 'AgregarCambioSalario', 600, 900)" >Nuevo</a>
                    </div>
                </div>        
                
                {{ knp_pagination_render(arCambiosSalario) }}       
                
            </div>
                    
            <div class="tab-pane" id="vacaciones">
                <br />
                <h4>Pago</h4>
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>CÓDIGO</th>
                        <th>DESDE</th>
                        <th>HASTA</th>
                        <th>DÍAS</th>
                        <th>VR. DEDUCCIONES</th>
                        <th>TOTAL</th>
                        <th></th>
                    </tr>
                    {% for arVacaciones in arVacaciones %}
                        <tr>
                            <td><input type="hidden" name="LblCodigo[]" value="{{ arVacaciones.codigoVacacionPk }}">{{ arVacaciones.codigoVacacionPk }} </td>
                            <td>{{ arVacaciones.fechaDesdePeriodo |date("Y/m/d")  }}</td>
                            <td>{{ arVacaciones.fechaHastaPeriodo |date("Y/m/d")  }}</td>
                            <td style="text-align: right">{{ arVacaciones.diasVacaciones  }}</td>
                            <td style="text-align: right">{{ arVacaciones.vrDeduccion | number_format(2, '.', ',') }}</td>
                            <td style="text-align: right">{{ arVacaciones.vrVacacion | number_format(2, '.', ',') }}</td>                            
                            <td><input type="checkbox" name="ChkSeleccionarVacacion[]" value="{{ arVacaciones.codigoVacacionPk }}" /></td>
                        </tr>
                    {% endfor %}
                </table>
                
                {{ knp_pagination_render(arVacaciones) }}       
                
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_vacaciones_nuevo', {'codigoContrato': arContrato.codigoContratoPk, 'codigoVacacion': 0 }) }}', 'AgregarVacacion', 600, 900)" >Nuevo</a>
                    </div>
                </div>

                <br /><br />
                <h4>Disfrute</h4>
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>CODIGO</th>
                        <th>DESDE</th>
                        <th>HASTA</th>
                        <th>DIAS</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for arVacacionesDisfrute in arVacacionesDisfrute %}
                        <tr>
                            <td><input type="hidden" name="LblCodigo[]" value="{{ arVacacionesDisfrute.codigoVacacionDisfrutePk }}">{{ arVacacionesDisfrute.codigoVacacionDisfrutePk }} </td>
                            <td>{{ arVacacionesDisfrute.fechaDesde |date("Y/m/d")  }}</td>
                            <td>{{ arVacacionesDisfrute.fechaHasta |date("Y/m/d")  }}</td>
                            <td style="text-align: right">{{ arVacacionesDisfrute.dias  }}</td>
                            <td style="text-align: center"><a href="javascript:abrirVentana3('{{ path('brs_rhu_vacaciones_disfrute_nuevo', {'codigoContrato':  arContrato.codigoContratoPk, 'codigoVacacion': arVacacionesDisfrute.codigoVacacionDisfrutePk }) }}', 'AgregarVacacion', 600, 900)"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20></a></td>
                            <td><input type="checkbox" name="ChkSeleccionarVacacion[]" value="{{ arVacacionesDisfrute.codigoVacacionDisfrutePk }}" /></td>
                        </tr>
                    {% endfor %}
                </table>
                {{ knp_pagination_render(arVacacionesDisfrute) }}       
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_vacaciones_disfrute_nuevo', {'codigoContrato': arContrato.codigoContratoPk, 'codigoVacacion': 0 }) }}', 'AgregarVacacion', 600, 900)" >Nuevo</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="sedes">  
                <br />
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>CODIGO</th>
                        <th>SEDE</th>
                    </tr>
                    {% for arContratoSedes in arContratoSedes %}
                        <tr>
                            <td><input type="hidden" name="LblCodigo[]" value="{{ arContratoSedes.codigoContratoSedePk }}">{{ arContratoSedes.codigoContratoSedePk }} </td>
                            <td>{{ arContratoSedes.sedeRel.nombre  }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="btn-toolbar" style="float: left">
                    {{ knp_pagination_render(arContratoSedes) }}
                </div>
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('brs_rhu_contratos_sedes_nuevo', {'codigoContrato': arContrato.codigoContratoPk }) }}', 'AgregarSede', 600, 900)" >Nuevo</a>
                    </div>
                </div>
            </div>                    
        </div>
        
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="{{ path('brs_rhu_base_contratos_lista') }}" style="float:left">Volver</a>
            </div>
        </div>
        <br /><br />
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
