{% extends '::base.html.twig' %}
{% block title %}Consulta incapacidades - Soga App{% endblock %}
{% block content %}
<div class="container">
    <script type="text/javascript">
    $(document).ready(function() {
            $('.date').datepicker({ dateFormat: 'yy-mm-dd' ,dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ], monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]})  });
    </script>
    <div class="page-header">
        <h3>Consulta incapacidades</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">                
                <div class="form-group form-group-sm">  
                    <label for="form_centroCostoRel" class="col-sm-2 control-label">Grupo pago:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.centroCostoRel, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>                                           
                <div class="form-group form-group-sm">  
                    <label for="form_TxtIdentificacion" class="col-sm-2 control-label">Identificacion:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.TxtIdentificacion, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>   
                <div class="form-group form-group-sm">
                    <label for="form_fechaDesde" class="col-sm-2 control-label">Desde:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.fechaDesde, {'attr': {'maxlength' : 10} }) }} 
                    </div>                
                </div>                     
                <div class="form-group form-group-sm">
                    <label for="form_fechaHasta" class="col-sm-2 control-label">Hasta:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.fechaHasta, {'attr': {'maxlength' : 10} }) }} 
                    </div>                
                </div>
                <div class="form-group form-group-sm">  
                    <label for="form_entidadSaludRel" class="col-sm-2 control-label">Eps:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.entidadSaludRel, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>    
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrarIncapacidades, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>    
            </div>
        </div> 
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>CÓDIGO</th>
                <th>TIPO</th>
                <th>DIAGNÓSTICO</th>
                <th>EPS</th>
                <th>IDENTIFICACION</th>                
                <th>EMPLEADO</th>                
                <th>GRUPO PAGO</th>
                <th>DESDE</th>
                <th>HASTA</th>
                <th>DÍAS</th>
                <th>PRÓRROGA</th>
                <th>TRANSCRIPCIÓN</th>
                <th style="text-align: right">VALOR INCAPACIDAD</th>
                <th style="text-align: right">VALOR PAGADO</th>
                <th style="text-align: right">VALOR SALDO</th>
                
            </tr>
            {% for arIncapacidades in arIncapacidades %}
            <tr>
                <td><input type="hidden" name="LblCodigo[]" value="{{ arIncapacidades.codigoIncapacidadPk }}">{{ arIncapacidades.codigoIncapacidadPk }} </td>
                <td>{{ arIncapacidades.incapacidadTipoRel.nombre  }}</td>
                <td>{{ arIncapacidades.incapacidadDiagnosticoRel.nombre  }}</td>
                <td>{{ arIncapacidades.entidadSaludRel.nombre  }}</td>
                <td>{{ arIncapacidades.empleadoRel.numeroIdentificacion  }}</td>
                <td>{{ arIncapacidades.empleadoRel.nombreCorto  }}</td>
                <td>{{ arIncapacidades.centroCostoRel.nombre  }}</td>                
                <td>{{ arIncapacidades.fechaDesde |date("Y/m/d")  }}</td>
                <td>{{ arIncapacidades.fechaHasta |date("Y/m/d")  }}</td>
                <td>{{ arIncapacidades.cantidad  }}</td>
                <td>{% if arIncapacidades.estadoProrroga == 1  %}SI{%else%}NO{% endif %}</td>
                <td>{% if arIncapacidades.estadoTranscripcion == 1  %}SI{%else%}NO{% endif %}</td>
                <td style="text-align: right">{{ arIncapacidades.vrIncapacidad | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ arIncapacidades.vrPagado | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ arIncapacidades.vrSaldo | number_format(2, '.', ',') }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="btn-toolbar" style="float: left">
            <div class="btn-group">
                {{ knp_pagination_render(arIncapacidades) }} 
            </div>
            
        </div>                
        <div class="btn-toolbar" style="float: right">                 
            <div class="btn-group">
                {{ form_widget(form.BtnExcelIncapacidades, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
                {{ form_widget(form.BtnPDFIncapacidades, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
            </div>
        </div>
        
        {{ form_rest(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}

