{% extends '::base_sin_menu.html.twig' %}
{% block title %}Detalle factura nuevo - Soga App{% endblock %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <h3>Nuevo detalle (Curso)</h3> 
        <table  class="table table-striped table-bordered table-condensed table-hover">            
            <tr>                
                <th>NUMERO</th>
                <th>IDENTIFICACION</th>  
                <th>EMPLEADO</th>                 
                <th>TOTAL</th>               
                <th></th>
            </tr>
            {% for arCursos in arCursos %}
            <tr>
                <td><input type="hidden" name="LblCodigo[]" value="{{ arCursos.codigoCursoPk }}"></td>                                
                <td>{{ arCursos.numero }}</td>
                <td>{{ arCursos.empleadoRel.numeroIdentificacion | default('') }}</td>
                <td>{{ arCursos.empleadoRel.nombreCorto | default('') }}</td>                                                                
                <td style="text-align: right">{{ arCursos.total | number_format(0, '.', ',') }}</td>                
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arCursos.codigoCursoPk }}" /></td>
            </tr>
            {% endfor %} 
        </table>                
        <div class="modal-footer">            
                {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}