{% extends '::base_sin_menu.html.twig' %}
{% block title %}Detalle factura nuevo - Soga App{% endblock %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    <h3>Periodos pendientes por facturar</h3>
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>CODIGO</th>
                <th>DESDE</th>
                <th>HASTA</th>
                <th>PENSION</th>
                <th>SALUD</th>
                <th>RIESGOS</th>
                <th>CAJA</th>
                <th>SENA</th>
                <th>ICBF</th>
                <th>ADMIN</th>
                <th>SUBTOTAL</th>
                <th>IVA</th>
                <th>TOTAL</th>
                <th></th>
            </tr>
            {% for arPeriodos in arPeriodos %}
            <tr>
                <td><input type="hidden" name="LblCodigo[]" value="{{ arPeriodos.codigoPeriodoPk }}">{{ arPeriodos.codigoPeriodoPk }} </td>
                <td>{{ arPeriodos.fechaDesde |date('Y/m/d') }}</td>                
                <td>{{ arPeriodos.fechaHasta |date('Y/m/d') }}</td>
                <td style="text-align: right">{{ arPeriodos.pension | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arPeriodos.salud | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arPeriodos.riesgos | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arPeriodos.caja | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arPeriodos.sena | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arPeriodos.icbf | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arPeriodos.administracion | number_format(0, '.', ',') }}</td>                                
                <td style="text-align: right">{{ arPeriodos.subtotal | number_format(0, '.', ',') }}</td>                                
                <td style="text-align: right">{{ arPeriodos.iva | number_format(0, '.', ',') }}</td>                                
                <td style="text-align: right">{{ arPeriodos.total | number_format(0, '.', ',') }}</td>
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arPeriodos.codigoPeriodoPk }}" /></td>
            </tr>
            {% endfor %}
        </table>
        <div class="modal-footer">
                {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}