{% extends '::base2.html.twig' %}
{% block title %}Configuración nómina - Soga App{% endblock %}
{% block content %}
<script>
    $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<div class="container">    
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <h3>Parametros prestacion</h3>
    <div class="panel panel-default">
      <div class="panel-heading">Parametros</div>
      <div class="panel-body">                                     
            <table class="table table-striped table-bordered table-condensed table-hover">
                <tr>
                    <th>TIPO</th>
                    <th>ORDEN</th>                                                                        
                    <th>DESDE</th>                                                                        
                    <th>HASTA</th>  
                    <th>PORCENTAJE</th> 
                    <th>ORIGEN</th>
                    <th></th>
                </tr>
                {% for arParametrosPrestacion in arParametrosPrestacion %}
                <tr >
                    <input type="hidden" name="LblCodigo[]" value="{{ arParametrosPrestacion.codigoParametroPrestacionPk }}">    
                    <td style="text-align: center"><input class="input-grid" type="text" name="TxtTipo{{ arParametrosPrestacion.codigoParametroPrestacionPk }}" value="{{ arParametrosPrestacion.tipo }}" size="5" style="width:40px" onclick="this.select()"/></td>
                    <td style="text-align: center"><input class="input-grid" type="text" name="TxtOrden{{ arParametrosPrestacion.codigoParametroPrestacionPk }}" value="{{ arParametrosPrestacion.orden }}" size="5" style="text-align: right; width:40px" onclick="this.select()"/></td>
                    <td style="text-align: center"><input class="input-grid" type="text" name="TxtDesde{{ arParametrosPrestacion.codigoParametroPrestacionPk }}" value="{{ arParametrosPrestacion.diaDesde }}" size="5" style="text-align: right; width:40px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                    <td style="text-align: center"><input class="input-grid" type="text" name="TxtHasta{{ arParametrosPrestacion.codigoParametroPrestacionPk }}" value="{{ arParametrosPrestacion.diaHasta }}" size="5" style="text-align: right; width:40px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                    <td style="text-align: center"><input class="input-grid" type="text" name="TxtPorcentaje{{ arParametrosPrestacion.codigoParametroPrestacionPk }}" value="{{ arParametrosPrestacion.porcentaje }}" size="5" style="text-align: right; width:40px" onkeypress="return validarNumeros(event)" onclick="this.select()"/></td>
                    <td style="text-align: center"><input class="input-grid" type="text" name="TxtOrigen{{ arParametrosPrestacion.codigoParametroPrestacionPk }}" value="{{ arParametrosPrestacion.origen }}" size="5" style="width:40px" onclick="this.select()"/></td>
                    <td style="text-align: center"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arParametrosPrestacion.codigoParametroPrestacionPk }}" /></td>                    
                </tr>
                {% endfor %}
            </table>                                                                                   
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Parametros prima</div>
      <div class="panel-body">                                     
        <div class="form-group form-group-sm">
            <label class="col-sm-5 control-label">Promedio primas laborado:</label>
            <div class="col-sm-7">
                    {{ form_widget(form.promedioPrimasLaborado) }}
            </div>
        </div>                 
        <div class="form-group form-group-sm">
            <label class="col-sm-5 control-label">Promedio primas laborado dias:</label>
            <div class="col-sm-7">
                    {{ form_widget(form.promedioPrimasLaboradoDias, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>                                                                
      </div>
    </div>                
            <div class="btn-toolbar" style="float: right">                
                <div class="btn-group">                
                    {{ form_widget(form.BtnNuevo, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                    {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
                    {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
                </div>           
            </div>             
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>      
{% endblock %}
