{% extends '::base.html.twig' %}

{% block content %}
<div class="container">    
    {{ form_start(formConfiguracion, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(formConfiguracion) }}
    <h3>Configuración</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Código auxilio transporte:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracion.ConceptoAuxilioTransporte, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">    
                <label class="col-sm-2 control-label">Valor auxilio transporte:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracion.vrAuxilioTransporte, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">    
                <label class="col-sm-2 control-label">Salario mínimo:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracion.vrSalario, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>    
            <div class="form-group form-group-sm">    
                <label class="col-sm-2 control-label">Código crédito:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracion.conceptoCredito, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">    
                <label class="col-sm-2 control-label">Código seguro:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracion.conceptoSeguro, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">    
                <label class="col-sm-2 control-label">Código tiempo suplementario:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracion.conceptoTiempoSuplementario, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">    
                <label class="col-sm-2 control-label">Código horas diurnas trabajadas:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracion.codigoHoraDiurnaTrabajada, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">    
                <label class="col-sm-2 control-label">Código aporte a pensión:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracion.codigoAportePension, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="form-group form-group-sm">    
                <label class="col-sm-2 control-label">Código aporte a salud:</label>
                <div class="col-sm-10">
                        {{ form_widget(formConfiguracion.codigoAporteSalud, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
             
             <div class="modal-footer">
            {{ form_widget(formConfiguracion.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(formConfiguracion) }}
</div>
</div>      
{% endblock %}
