{% extends '::base.html.twig' %}
 
{% block content %}
    <div class="container">
    <div class="page-header">    
        <h3>Configuración</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }} 
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>CÓDIGO</th>
            <th>{{ knp_pagination_sortable(arConfiguracion, 'CONCEPTO', 'VALOR') }}</th> 
            <th>VALOR</th>
        </tr>
            {%for arConfiguracion in arConfiguracion %}
               <tr>
                <td>{{arConfiguracion.codigoConfiguracionPk}}</td>
                <td>{{arConfiguracion.concepto}}</td>
                <td>{{arConfiguracion.valor}}</td>
                <td><a href="{{ path('brs_rhu_configuracion_nomina_nuevo',{'codigoConfiguracionPk': arConfiguracion.codigoConfiguracionPk})}}"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar el registro"></a></td>
            {%endfor%}
            </tr>            
    </table>
    {{ knp_pagination_render(arConfiguracion) }}
    <div class="btn-toolbar" style="float: right">              
        {# posibles botones en el futuro #}
    </div>     
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}