<script src="{{ asset('js/bootstrap-modal.js') }}"></script>

<script type="text/javascript">
   $().ready(function() {
        $('#myModal').modal('toggle');
   })
</script>


<form id="FrmNuevo2" action="{{ path('maestros_general_terceros_direccion_nueva', { 'codigoTerceroPk':  codigoTerceroPk, 'codigoDireccionPk':  0}) }}" method="post" > 
    <div class="modal hide" id="myModal">        
            
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{%if arDireccion is not null%}Editar {%else%}Crear {%endif%}Direccion</h3>
        </div>    
        
        <div class="modal-body">
            <div class="well">   

                    <table>
                        
                        {% if arDireccion is not null %} 
                        <tr>
                            <td><strong>Código Dirección:</strong><br/></td>
                            <td><input type="text" class="span4" name="TxtCodigoDireccion" {% if arDireccion is defined and arDireccion is not null %} value="{{arDireccion.codigoDireccionPk}}" readonly="true" {% endif %} onkeypress="return validarNumeros(event)" width="200px" required autofocus/></td>              
                        </tr> 
                        {%endif%}                          

                        <tr>
                            <td><strong>Nombre Dirección:</strong><br/></td>
                             <td><input type="text" class="span4" name="TxtNombreDireccion" {% if arDireccion is defined and arDireccion is not null %} value="{{arDireccion.nombreDireccion}}" {% endif %} width="200px" placeholder="Nombre Dirección" required/></td>              
                        </tr>  
                        
                        <tr>
                            <td><strong>Dirección:</strong><br/></td>
                            <td><input type="text" class="span4" name="TxtDireccion" {% if arDireccion is defined and arDireccion is not null %} value="{{arDireccion.direccion}}" {% endif %} width="200px" placeholder="Dirección" required/></td>              
                        </tr>                    
                        <tr>
                            <td><strong>Ciudades:</strong><br/></td>
                            <td><select name="CboCiudades" required>
                                <option value="">Seleccione</option>
                                {% for arCiudad in arCiudades %}
                                        <option value="{{arCiudad.codigoCiudadPk}}" {%if arDireccion.codigoCiudadFk is defined %} {%if arCiudad.codigoCiudadPk == arDireccion.codigoCiudadFk %} selected {%endif%} {%endif%}>{{arCiudad.nombre}}</option>
                                {%endfor%}
                            </select>
                            </td>
                        </tr> <br/>
                        <tr>
                            <td><strong>Barrio:</strong><br/></td>
                            <td><input type="text" class="span4" name="TxtBarrio" {% if arDireccion is defined and arDireccion is not null %} value="{{arDireccion.barrio}}" {% endif %} width="200px" placeholder="Barrio" required/></td>              
                        </tr>                                                
                        <tr>
                            <td><strong>Contacto:</strong><br/></td>
                            <td><input type="text" class="span4" name="TxtContacto" {% if arDireccion is defined and arDireccion is not null %} value="{{arDireccion.contacto}}" {% endif %} width="200px" placeholder="Contacto" required/></td>              
                        </tr>
                         
                        <tr>          
                            <td><strong>Teléfono:</strong><br/></td>
                            <td><input type="text" class="span4" name="TxtTelefono" {% if arDireccion is defined and arDireccion is not null %} value="{{arDireccion.telefono}}" {% endif %} placeholder="Teléfono" width="300px"></input></td>                
                        </tr>   

                        <tr>          
                            <td><strong>Email:</strong><br/></td>
                            <td><input type="email" class="span4" name="TxtEmail" {% if arDireccion is defined and arDireccion is not null %} value="{{arDireccion.email}}" {% endif %} placeholder="Email" width="300px"></input></td>                
                        </tr>    
                    </table>     
                </div>
            </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancelar</a>                
            <button id="link_guardar" class="btn btn-primary" type="submit" name="OpSubmit" value="OpGuardar">Guardar</button>
        </div>
    </form>       
</div>