{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}
    <h3>Nuevo pago curso</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">                 
            <div class="form-group form-group-sm">
                <label for="form_cuentaRel" class="col-sm-3 control-label">Cuenta:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.cuentaRel, { 'attr': {'class': 'form-control'} }) }}                      
                </div>                
            </div>            
            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Proveedor:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.proveedorRel, { 'attr': {'class': 'form-control'} }) }}                      
                </div>                
            </div>
            <div class="form-group form-group-sm">
                <label for="form_soporte" class="col-sm-3 control-label">Soporte:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.soporte, { 'attr': {'class': 'form-control'} }) }}                        
                </div>                
            </div>                          
            <div class="form-group">
                <label for="form_comentarios" class="col-sm-3 control-label">Comentarios:</label>
                <div class="col-sm-9">
                   {{ form_widget(form.comentarios, { 'attr': {'style':'text-transform:uppercase;','onblur':'javascript:this.value=this.value.toUpperCase()','class': 'form-control'} }) }}
                </div>
            </div>                 
        </div>
    </div>               
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('brs_afi_movimiento_pago_curso') }}">Cancelar</a>        
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
        {{ form_widget(form.guardarnuevo, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}