{% extends '::base_sin_menu.html.twig' %}
{% block content %}
{% block javascripts %} 
    <script>
            function enviarValores(lote,bodega,vence) {
                var txtLote = "TxtLote[{{intCodigoMovimientoDetalle}}]";
                var txtBodega = "TxtBodega[{{intCodigoMovimientoDetalle}}]";
                var txtVence = "TxtVencimiento[{{intCodigoMovimientoDetalle}}]";
                               
                window.opener.document.getElementById(txtLote).value=lote;
		window.opener.document.getElementById(txtBodega).value=bodega;
	        window.opener.document.getElementById(txtVence).value=vence;
		self.close();
            }
    </script>
{% endblock %}


    <div class="left_articles">                
        <p class="description"><h2>Seleccionar un lote</h2></p>      
    <form id="FrmListado" action="" method="post">        
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>Bodega</th>
                <th>Lote</th>
                <th>Vencimiento</th>
                <th>Existencia</th>
                <th>Remision</th>
                <th>Reserva</th>
                <th>Disponible</th>                
                <th>Acción</th>
            </tr>
            
            {% for lote in arLotes %}
            <tr> 
                <td>{{ lote.nombreBodega }}</td>  
                <td>{{ lote.loteFk }}</td>
                <td>{{ lote.fechaVencimiento | date("Y/m/d")}} </td>
                <td style="text-align: right">{{ lote.existencia | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ lote.cantidadRemisionada | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ lote.cantidadReservada | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ lote.cantidadDisponible | number_format(0, '.', ',') }}</td>
                <td style="text-align: center"><a href="#"><image src="{{asset('imagenes/bootstrap/glyphicons_206_ok_2.png')}}" title="Seleccionar Lote" onclick="enviarValores('{{ lote.loteFk }}','{{ lote.codigoBodegaFk }}','{{lote.fechaVencimiento|date('Y/m/d')}}')"/></a></td>
            </tr>
            {% endfor %}                                
        </table><br />        
        </form>        
    </div>
{% endblock %}