{% extends '::base.html.twig' %}
{% block content %}
<script>
    $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    })

</script>
<div class="container">
    <div class="page-header">
        <h2>{{arDocumento.nombreDocumento}} {{ arMovimiento.numeroMovimiento }}
            {% if arMovimiento.estadoAutorizado == 1 %} <span class="label label-info">Autorizado</span> {% endif %}
            {% if arMovimiento.estadoCerrado == 1 %} <span class="label label-info">Cerrado</span> {% endif %}
            {% if arMovimiento.estadoImpreso == 1 %} <span class="label label-info">Impreso</span> {% endif %}
            {% if arMovimiento.estadoAnulado == 1 %} <span class="label label-important">Anulado</span> {% endif %}
            <small><label id="lblNombreDocumento">Detalles del movimiento {{ arMovimiento.codigoMovimientoPk }}</label></small>
        </h2>
    </div>

    <!-- Encabezado Movimiento -->
    <div class="well">
        <table width="100%" border="1">
            <tr>
                <td class="td-label">Tercero:</td>
                <td class="td-in-well" >{{ arMovimiento.terceroRel.nombreCorto }}</td>

                <td class="td-label">Fecha:</td>
                <td class="td-in-well">{{ arMovimiento.fecha|date("Y/m/d H:i:s") }}</td>

                <td class="td-label">Rte Fuente:</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrRetencionFuente | number_format(2, '.', ',') }}</td>

                <td class="td-label">Sub Total:</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrSubtotal | number_format(2, '.', ',') }}</td>
            </tr>

            <tr>
                <td class="td-label">Direccion:</td>
                <td class="td-in-well" >{% if arMovimiento.direccionRel.nombreDireccion is defined %} {{ arMovimiento.direccionRel.nombreDireccion }} {% endif %}</td>

                <td class="td-label">{{ arDocumentoConfiguracion.nombreFecha1 }}:</td>
                <td class="td-in-well">{% if arMovimiento.fecha1 is not null %} {{ arMovimiento.fecha1|date("Y/m/d H:i:s") }} {% endif %}</td>

                <td class="td-label">Rte CREE:</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrRetencionCREE | number_format(2, '.', ',') }}</td>

                <td class="td-label">(-)Descuento:</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrDescuento | number_format(2, '.', ',') }}</td>

            </tr>

            <tr>
                <td class="td-label">Forma Pago:</td>
                <td class="td-in-well" >{% if arMovimiento.formaPagoRel.nombreFormaPago is defined %} {{ arMovimiento.formaPagoRel.nombreFormaPago }} {% endif %}</td>


                <td class="td-label">{{ arDocumentoConfiguracion.nombreFecha2 }}:</td>
                <td class="td-in-well">{% if arMovimiento.fecha2 is not null %} {{ arMovimiento.fecha2|date("Y/m/d H:i:s") }} {% endif %}</td>

                <td class="td-label">Retenciones:</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrOtrasRetenciones | number_format(2, '.', ',') }}</td>

                <td class="td-label">Total Bruto:</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrBruto | number_format(2, '.', ',') }}</td>


            </tr>

            <tr>

                <td class="td-label">Soporte:</td>
                <td class="td-in-well" >{{ arMovimiento.soporte }}</td>

                <td class="td-label">Fletes:</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrFletes | number_format(2, '.', ',') }}</td>

                <td class="td-label">Rte Iva:</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrRetencionIvaVentas | number_format(2, '.', ',') }}</td>

                <td class="td-label">(+)Iva</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrIva | number_format(2, '.', ',') }}</td>


            </tr>

            <tr>
                <td class="td-label"></td>
                <td class="td-in-well" ></td>

                <td class="td-label">Descuentos Fro:</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrDescuentoFinanciero | number_format(2, '.', ',') }}</td>

                <td class="td-label">Total:</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrTotal | number_format(2, '.', ',') }}</td>

                <td class="td-label">Total Neto:</td>
                <td class="td-in-well-numerico" align="right">$ {{ arMovimiento.vrNeto | number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <td colspan="8">Comentarios:{{ arMovimiento.comentarios }}</td>
            </tr>
        </table>
    </div>
    <!-- Fin Encabezado Movimiento -->
    <form action="{{ path('brs_inv_movientos_detalle', {'codigoMovimiento': arMovimiento.codigoMovimientoPk}) }}" method="post" novalidate>
        <div class="btn-group">
            <a  class="btn btn-default" id="{{ path('brs_inv_movientos_nuevo',{'codigoDocumento': arDocumento.codigoDocumentoPK, 'codigoMovimiento': 0}) }}" href="#" data-reveal-id="nuevoMovimientoModal" data-animation="fade">Nuevo</a>
                {% if arMovimiento.estadoAutorizado == 1 %}
            <button class="btn btn-default" type="submit" name="OpSubmit" disabled >Editar</button>
                {% else %}
            <a class="btn btn-default" id="{{ path('brs_inv_movientos_nuevo',{'codigoDocumento': arDocumento.codigoDocumentoPK, 'codigoMovimiento': arMovimiento.codigoMovimientoPk}) }}" href="#" data-reveal-id="nuevoMovimientoModal" >Editar</a>
                {% endif %}              
            <button class="btn btn-default" type="submit" name="OpSubmit" value="OpAutorizar" {% if arMovimiento.estadoAutorizado == 1 %} disabled {% endif %}>Autorizar</button>
            <button type="button" class="btn btn-default" type="submit" name="OpSubmit" value="OpDesAutorizar" {% if arMovimiento.estadoAutorizado == 0 or arMovimiento.estadoImpreso == 1 %} disabled {% endif %}>Desautorizar</button>
            <button class="btn btn-default" type="submit" name="OpSubmit" value="OpAnular" {% if arMovimiento.estadoAutorizado == 0 or arMovimiento.estadoAnulado == 1 or arMovimiento.estadoImpreso == 0 %} disabled {% endif %} onclick="javascript:if (!confirm('Esta seguro que desea anular el documento?'))
                                return false;">Anular</button>                
            <button class="btn btn-default " type="submit" name="OpSubmit" value="OpImprimir" {% if arMovimiento.estadoAutorizado == 0 %} disabled {% endif %}>Imprimir</button>
        </div>
    </form>
        <br />
        <ul class="nav nav-tabs">
            <li class="active"><a href="#detalles" data-toggle="tab">Detalles</a></li>
            <li><a href="#conceptos" data-toggle="tab">Conceptos</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="detalles">
                <!-- Menu Encabezado Movimiento -->
                <div id="detalles" style="width: 99.5%">
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>{{ knp_pagination_sortable(arMovimientosDetalle, 'ID', 'md.codigoDetalleMovimientoPk') }}</th>
                            <th>{{ knp_pagination_sortable(arMovimientosDetalle, 'Item', 'md.codigoItemFk') }}</th>
                            <th>Descripcion</th>
                            <th>U.M</th>
                            {% if arDocumentoConfiguracion.manejaLote == 1 %}
                            <th>Lote</th>
                            <th>Vence</th>
                            {% endif %}

                            {% if arDocumentoConfiguracion.manejaBodega == 1 %}
                            <th>B.O</th>
                            {% endif %}
                            {% if arDocumento.codigoDocumentoTipoFk == 10 %}                                    
                            <th>B.D</th>                                    
                            {% endif %}                                
                            <th>Cant</th>
                            <th>Dcto</th>
                            <th>Precio</th>
                            <th>Iva</th>
                            <th>Subtotal</th>
                            <th>Total</th>
                            <th>Pen</th>
                            <th>Enl</th>
                            <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodos(this);"/></th>
                        </tr>

                        {% for movimientoDetalle in arMovimientosDetalle %}
                        <tr>
                            {% if arMovimiento.estadoAutorizado == 0 %}
                            <td>
                                <input type="hidden" name="LblCodigoDetalle[]" value="{{ movimientoDetalle.codigoDetalleMovimientoPk }}">
                                <span class="badge">{{ movimientoDetalle.codigoDetalleMovimientoPk }}</span>
                            </td>
                            <td><a href="#" id="{{ path('inventario_consultas_item', { 'codigoItem':  movimientoDetalle.itemRel.codigoItemPk }) }}" >{{ movimientoDetalle.itemRel.codigoItemPk }}</a></td>
                            <td>{{ movimientoDetalle.itemRel.descripcion }}</td>
                            <td>{{ movimientoDetalle.itemRel.unidadMedidaRel.nombre }}</td>
                            <!-- maneja lote -->
                                {% if arDocumentoConfiguracion.manejaLote == 1 %}
                                    {% if arMovimiento.documentoRel.operacionInventario == -1 or arDocumento.codigoDocumentoTipoFk == 10 or arDocumento.codigoDocumentoTipoFk == 9 %}
                            <td>
                                <input style="width:80px" type="text" id="TxtLote[{{movimientoDetalle.codigoDetalleMovimientoPk}}]" name="TxtLote[]" value="{{ movimientoDetalle.loteFk }}" size="15" readonly="true"/>
                                            {% if arDocumentoConfiguracion.editarLote == 1 %}
                                <a href="javascript:abrirVentana3('{{ path('inventario_movimientos_agregar_lote', { 'codigoMovimientoDetalle': movimientoDetalle.codigoDetalleMovimientoPk }) }}', 'AgregarLote', 600, 900)" ><IMG SRC="{{ asset('bundles/zikmont/imagenes/tema1/glyphicons_090_table.png') }}" WIDTH=18 HEIGHT=18></a>
                                            {% endif %}
                            </td>

                            <td>
                                <input style="width:80px" type="text"  id="TxtVencimiento[{{movimientoDetalle.codigoDetalleMovimientoPk}}]" name="TxtVencimiento[]" value="{{ movimientoDetalle.fechaVencimiento |date("Y/m/d") }}" size="15" readonly="true"/>
                            </td>
                                    {% else %}
                            <td><input style="width:80px" type="text"  id="TxtLote[{{movimientoDetalle.codigoDetalleMovimientoPk}}]" name="TxtLote[]" value="{{ movimientoDetalle.loteFk }}" size="15"/></td>
                            <td><input style="width:80px" type="text" id="TxtVencimiento[{{movimientoDetalle.codigoDetalleMovimientoPk}}]" name="TxtVencimiento[]" value="{{ movimientoDetalle.fechaVencimiento |date("Y/m/d") }}" size="15"/></td>
                                    {% endif %}
                                {% endif %}

                            <!--maneja bodega-->
                                {% if arDocumentoConfiguracion.manejaBodega == 1 %}
                                    {% if arMovimiento.documentoRel.operacionInventario == -1 or arDocumento.codigoDocumentoTipoFk == 10 or arDocumento.codigoDocumentoTipoFk == 9 %}
                            <td><input style="width:30px" type="text" name="TxtBodega[]" id="TxtBodega[{{movimientoDetalle.codigoDetalleMovimientoPk}}]"   value="{{ movimientoDetalle.codigoBodegaFk }}" size="2"  readonly="true"/></td>
                                    {% else %}
                            <td><input style="width:30px" type="text" name="TxtBodega[]" onkeypress="return validarNumeros(event)" id="TxtBodega[{{movimientoDetalle.codigoDetalleMovimientoPk}}]" value="{{ movimientoDetalle.codigoBodegaFk }}" size="2"/></td>
                                    {% endif %}
                                {% endif %}
                                {% if arDocumento.codigoDocumentoTipoFk == 10 %}
                            <td><input style="width:30px" type="text" name="TxtBodegaDestino[]" onkeypress="return validarNumeros(event)" id="TxtBodegaDestino[{{movimientoDetalle.codigoDetalleMovimientoPk}}]" value="{{ movimientoDetalle.codigoBodegaDestinoFk }}" size="2"/></td>                                            
                                {% endif %}            
                            <td><input style="width:50px; text-align: right" type="text" name="TxtCantidad[]" onkeypress="return validarNumeros(event)" value="{{ movimientoDetalle.cantidad }}" {% if arDocumentoConfiguracion.editarCantidad == 0 %} readonly="true" {% endif %} size="5"/></td>
                            <td><input style="width:50px; text-align: right" type="text" name="TxtDescuento[]"  value="{{ movimientoDetalle.porcentajeDescuento }}" {% if arDocumentoConfiguracion.editarDescuento == 0 %} readonly="true" {% endif %} size="5"/></td>
                            <td><input style="width:50px; text-align: right" type="text" name="TxtPrecio[]"  value="{{ movimientoDetalle.precio }}" {% if arDocumentoConfiguracion.editarPrecio == 0 %} readonly="true" {% endif %} size="15" style="width:100px; text-align: right"/></td>
                            {% else %}

                            <td>
                                <span class="badge">{{ movimientoDetalle.codigoDetalleMovimientoPk }}</span>
                                    {% if movimientoDetalle.estadoCerrado == 1 %}
                                <span class="badge badge-info">C</span>
                                    {% endif %}
                            </td>
                            <td><a href="#" id="{{ path('inventario_consultas_item', { 'codigoItem':  movimientoDetalle.itemRel.codigoItemPk }) }}" >{{ movimientoDetalle.itemRel.codigoItemPk }}</a></td>
                            <td>{{ movimientoDetalle.itemRel.descripcion }}</td>
                            <td>{{ movimientoDetalle.itemRel.unidadMedidaRel.nombre }}</td>
                                {% if arDocumentoConfiguracion.manejaLote == 1 %}
                            <td>{{ movimientoDetalle.loteFk }}</td>
                            <td>{{ movimientoDetalle.fechaVencimiento | date("Y/m/d") }}</td>
                                {% endif %}

                                {% if arDocumentoConfiguracion.manejaBodega == 1 %}
                            <td>{{ movimientoDetalle.codigoBodegaFk }}</td>
                                {% endif %}
                                {% if arDocumento.codigoDocumentoTipoFk == 10 %}                                        
                            <td>{{ movimientoDetalle.codigoBodegaDestinoFk }}</td>
                                {% endif %}                                        
                            <td style="text-align: right">{{ movimientoDetalle.cantidad | number_format(0, '.', ',') }}</td>
                            <td style="text-align: right">{{ movimientoDetalle.porcentajeDescuento | number_format(0, '.', ',') }}</td>
                            <td style="text-align: right">{{ movimientoDetalle.precio | number_format(2, '.', ',') }}</td>
                            {% endif %}

                            <td style="text-align: right">{{ movimientoDetalle.porcentajeIva }}</td>
                            <td style="text-align: right">{{ movimientoDetalle.subTotal | number_format(2, '.', ',') }}</td>
                            <td style="text-align: right">{{ movimientoDetalle.total | number_format(2, '.', ',') }}</td>
                            <td style="text-align: right">{{ movimientoDetalle.cantidad - movimientoDetalle.cantidadAfectada}}</td>
                            <td>{{ movimientoDetalle.codigoDetalleMovimientoEnlace }}</td>
                            <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ movimientoDetalle.codigoDetalleMovimientoPk }}" /></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(arMovimientosDetalle) }}
                    </div>
                    <!-- Botones Menu Items -->
                    <div class="btn-toolbar" style="float:left">
                        <div class="btn-group">
                            <a class="btn btn-default" href="{{ path('brs_inv_movientos_lista', { 'codigoDocumento': arMovimiento.codigoDocumentoFk }) }}" style="float:left">Volver</a>
                        </div>
                    </div>

                    <div class="btn-toolbar divDerecho">

                        {% if arMovimiento.estadoAutorizado == 0 %}
                        <div class="btn-group">
                                {% if arDocumentoConfiguracion.agregarItem == 1 %}
                            <button class="btn btn-default" Id="BtnAgregar" type="submit" name="OpSubmit" value="OpAgregarItem" {% if arMovimiento.estadoAutorizado == 1 %} disabled {% endif %}>Agregar</button>
                            <a class="btn btn-default" href="javascript:abrirVentana3('{{ path('brs_inv_movimientos_agregar_item', {'codigoMovimiento': arMovimiento.codigoMovimientoPk}) }}', 'AgregarItems', 600, 900)">Buscar Item</a>
                                {% endif %}
                                {% if arDocumentoConfiguracion.agregarItemDocumentoControl == 1 %}
                            <a class="btn btn-default" href="javascript:abrirVentana3('{{ path('brs_inv_movimientos_agregar_item_documento', {'codigoMovimiento': arMovimiento.codigoMovimientoPk}) }}', 'AgregarItems', 600, 900)">Agregar Item de documento</a>
                                {% endif %}
                        </div>
                        {% endif %}

                        <div class="btn-group">
                            <button class="btn btn-default" type="submit" name="OpSubmit" value="OpCerrarDetalles" {% if arMovimiento.estadoAutorizado == 0 %} disabled {% endif %}>Cerrar</button>
                            <button class="btn btn-danger" type="submit" name="OpSubmit" value="OpEliminar" {% if arMovimiento.estadoAutorizado == 1 %} disabled {% endif %}>Eliminar</button>
                            <button class="btn btn-primary" type="submit" name="OpSubmit" value="OpActualizarDetalles" {% if arMovimiento.estadoAutorizado == 1 %} disabled {% endif %} >Guardar Cambios</button>
                        </div>
                    </div>
                    <!-- Fin Botones Menu Items -->
                    <br/><br/>
                    <hr/>
                </div>
            </div>
            <div class="tab-pane" id="conceptos">
                <!--Tabla de otros Conceptos -->
                <h2>Otros Conceptos <small><label id="lblNombreDocumento">Retenciones</label></small></h2>
                <!-- tabla de retenciones -->
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>ID</th>
                        <th>Concepto</th>
                        <th>Base</th>
                        <th>%</th>
                        <th>Valor</th>
                    </tr>
                    {% for movimientoRetencion in arMovimientosRetenciones %}
                    <tr>
                        <td>{{ movimientoRetencion.codigoMovimientoRetencionPk }}</td>
                        <td>{{ movimientoRetencion.conceptoRetencionRel.nombreConceptoRetencion }}</td>
                        <td style="text-align: right">{{ movimientoRetencion.baseRetencion | number_format(2, '.', ',') }}</td>
                        <td style="text-align: right">{{ movimientoRetencion.porcentajeRetencion | number_format(2, '.', ',') }}</td>
                        <td style="text-align: right">{{ movimientoRetencion.valorTotalRetencion | number_format(2, '.', ',') }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="btn-toolbar divDerecho">
                    <div class="btn-group">
                        <a class="btn btn-mini" href="javascript:abrirVentana3('{{ path('brs_inv_movimientos_agregar_item', {'codigoMovimiento': arMovimiento.codigoMovimientoPk}) }}', 'AgregarItems', 600, 900)">Agregar retencion</a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger btn-mini" type="submit" name="OpSubmit" value="OpEliminar">Eliminar</button>
                    </div>
                </div><br>                
                <!--Fin tabla de otros Conceptos -->

                <!--Tabla de descuentos financieros -->
                <h2><small><label id="lblNombreDocumento">Descuentos financieros</label></small></h2>
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>ID</th>
                        <th>Descuento</th>
                        <th>Base</th>
                        <th>%</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                    {% for arMovimientosDescuentosFinancieros in arMovimientosDescuentosFinancieros %}
                    <tr>
                        <td>{{ arMovimientosDescuentosFinancieros.codigoMovimientoDescuentoFinancieroPk }}</td>
                        <td>{{ arMovimientosDescuentosFinancieros.descuentoFinancieroRel.nombre }}</td>
                        <td style="text-align: right">{{ arMovimientosDescuentosFinancieros.base | number_format(2, '.', ',') }}</td>
                        <td style="text-align: right">{{ arMovimientosDescuentosFinancieros.porcentaje | number_format(2, '.', ',') }}</td>
                        <td style="text-align: right">{{ arMovimientosDescuentosFinancieros.valorTotal | number_format(2, '.', ',') }}</td>
                        <td><input type="checkbox" name="ChkSeleccionarDescuentoFinanciero[]" value="{{ arMovimientosDescuentosFinancieros.codigoMovimientoDescuentoFinancieroPk }}" /></td>            
                    </tr>
                    {% endfor %}
                </table>
                <div class="btn-toolbar divDerecho">
                    {% if arMovimiento.estadoAutorizado == 1 and arMovimiento.estadoImpreso == 0 %}
                    <div class="btn-group"><a class="btn btn-mini" href="javascript:abrirVentana3('{{ path('inventario_movimientos_agregar_descuento_financiero', {'codigoMovimiento': arMovimiento.codigoMovimientoPk}) }}', 'AgregarItems', 600, 900)">Agregar descuento</a></div>                            

                    <div class="btn-group">
                        <button class="btn btn-danger btn-mini" type="submit" name="OpSubmit" value="OpEliminarDescuentoFinanciero">Eliminar</button>
                    </div>
                    {% endif %}                        
                </div>
                <!--Fin tabla de otros Conceptos -->
            </div>
        </div>
   
</div>    
{% endblock %}
