{% extends '::base_sin_menu.html.twig' %}
{% block content %}
    <div class="left_articles">                
        <p class="description"><h2>Seleccione los items</h2></p>          
        <form  action="{{ path('brs_inv_movimientos_agregar_item_documento', {'codigoMovimiento': arMovimiento.codigoMovimientoPk}) }}" method="post" novalidate>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th></th>
                    <th>Documento</th>
                    <th>Numero</th>
                    <th>Tercero</th>
                    <th>Item</th>                    
                    <th>Descripcion</th>                    
                    <th>Lote</th>
                    <th>Bodega</th>                                                       
                    <th>Precio</th>
                    <th>Iva</th>
                    <th>Subtotal</th>
                    <th>Dcto</th>
                    <th>Total</th>
                    <th>Cantidad</th>
                    <th></th>  
                </tr>
                {% for movimientoDetalle in arMovimientosDetalle %}
                <tr>                                                                              
                    <td><input type="hidden" name="LblCodigoDetalle[]" value="{{ movimientoDetalle.codigoDetalleMovimientoPk }}"><span class="badge">{{ movimientoDetalle.codigoDetalleMovimientoPk }}</span></td>  
                    <td>{{ movimientoDetalle.nombreDocumento }}</td>  
                    <td>{{ movimientoDetalle.numeroDocumento }}</td> 
                    <td>{{ movimientoDetalle.nombreCortoTercero }}</td> 
                    <td>{{ movimientoDetalle.codigoItemPk }}</td>  
                    <td>{{ movimientoDetalle.descripcion }}</td>                              
                    <td>{{ movimientoDetalle.loteFk }}</td>                                                   
                    <td>{{ movimientoDetalle.codigoBodegaFk }}</td>                                                    
                    
                    <td style="text-align: right">{{ movimientoDetalle.precio | number_format(2, '.', ',') }}</td> 
                    <td style="text-align: right">{{ movimientoDetalle.porcentajeIva | number_format(2, '.', ',') }}</td>  
                    <td style="text-align: right">{{ movimientoDetalle.subTotal | number_format(2, '.', ',') }}</td>  
                    <td style="text-align: right">{{ movimientoDetalle.porcentajeDescuento | number_format(2, '.', ',') }}</td>  
                    <td style="text-align: right">{{ movimientoDetalle.total | number_format(2, '.', ',') }}</td>     
                    <td style="text-align: right">{{ movimientoDetalle.cantidadPendiente | number_format(0, '.', ',') }}</td>  
                    <td><input class="input-grid" type="text" name="TxtCantidad[]" value="0" size="5" style="width:50px; text-align: right" onkeypress="return validarNumeros(event)" onclick="this.select()" /></td>                    

                </tr>
                {% endfor %}            
            </table>
                
            <div class="divDerecho">
                <button class="btn btn-primary" type="submit" name="register_submit" id="register_submit">Agregar Seleccionados</button><br /><br />                
            </div>
        </form>          
    </div>
{% endblock %}