{% extends 'zikmontGeneralBundle::layout_app.html.twig' %}
{% block content %}
    <div class="left_articles">
        <div class="page-header">
            <h2>Listado listas de costos detalles</h2>            
        </div>
        <form action="{{ path('maestros_inventario_listas_costos_detalle', {'codigoListaCostosPk': arListaCostos.codigoListaCostosPk}) }}" method="POST" novalidate>
        <table  class="table table-striped table-bordered table-condensed">
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Costo</th>
                <th>Factor</th>
                <th>CostoUMM</th>
                <th>Inactiva</th>
                <th></th>
                <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodos(this);"/></th>
            </tr>

        {% for arListaCostosDetalles in arListasCostosDetalles %}
            <tr>
                <td>{{ arListaCostosDetalles.codigoListaCostosDetallePk }}</td>
                <td>{{ arListaCostosDetalles.itemRel.codigoItemPk }}</td>
                <td>{{ arListaCostosDetalles.itemRel.descripcion }}</td>
                <td style="text-align: right">{{ arListaCostosDetalles.costo | number_format(2, '.', ',') }}</td>  
                <td style="text-align: right">{{ arListaCostosDetalles.factor | number_format(2, '.', ',') }}</td>  
                <td style="text-align: right">{{ arListaCostosDetalles.costoUMM | number_format(2, '.', ',') }}</td>  
                <td style="text-align: center">{% if arListaCostosDetalles.estadoInactiva == 1 %} SI {% else %} NO {% endif %}</td>
                <td style="text-align: center"><a id="{{ path('maestros_inventario_listas_costos_detalle_nuevo', { 'codigoListaCostosPk': arListaCostos.codigoListaCostosPk, 'codigoListaCostosDetallePk': arListaCostosDetalles.codigoListaCostosDetallePk }) }}" ><IMG SRC="{{ asset('bundles/zikmont/imagenes/tema1/glyphicons_151_edit.png') }}" WIDTH=20 HEIGHT=20></a></td>                
                <td style="text-align: center"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arListaCostosDetalles.codigoListaCostosDetallePk }}" /></td>
            </tr>
        {% endfor %}
        </table>
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">  
            <a class="btn btn-mini" href="{{ path('maestros_inventario_listas_costos_lista') }}" style="float:left">Volver</a>             
            </div>  
        </div>                 
        <!-- Botones Menu Items -->
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">  
                <a class="btn btn-mini" id="{{ path('maestros_inventario_listas_costos_detalle_nuevo', { 'codigoListaCostosPk': arListaCostos.codigoListaCostosPk, 'codigoListaCostosDetallePk': 0 }) }}" >Nuevo</a>
                <button class="btn btn-danger btn-mini" type="submit" name="OpSubmit" value="OpInactivarDetalle" >Inactivar/Activar seleccionados</button>  
            </div>
        </div>

      
        <br /><br /><br />
        <!-- Fin Botones Menu Items -->         
        </form>
                
    </div>
{% endblock %}