{% extends '::base_sin_menu.html.twig' %}
{% block title %}Cartera anticipo nuevo nota debito - Soga App{% endblock %}
{% block content %}
<div class="container">
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <h3>Nuevo detalle nota debito - {{arNotaDebito.clienteRel.nombreCorto}}</h3>
    
        <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>            
            <th>CÓDIGO</th>
            <th>NUMERO</th>
            <th>FECHA</th>
            <th>CUENTA</th>
            <th style="text-align: right">ANTICIPO</th>
            <th style="text-align: right">TOTAL</th>
            <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodos(this);"/></th>
        </tr>        
            {%for arAnticipos in arAnticipos %}
               <tr>
                <td>{{arAnticipos.codigoAnticipoPk}}</td>
                <td>{{arAnticipos.numero}}</td>
                <td>{{arAnticipos.fecha | date('Y-m-d')}}</td>
                <td>{{arAnticipos.cuentaRel.nombre }}</td>
                <td style="text-align: right">{{ arAnticipos.vrAnticipo | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ arAnticipos.vrTotal | number_format(2, '.', ',') }}</td>
                <td style="text-align: center"><input type="checkbox" name="ChkSeleccionar[]" value="{{ arAnticipos.codigoAnticipoPk }}" /></td>
            {%endfor%}
            </tr>            
    </table>    
    <div class="btn-group" style="float: left">
                <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arAnticipos.getTotalItemCount }}</span></div>
        </div>
        <div class="btn-group btn-sm" style="float: left;margin-left: 0px;padding-top: 0px;">
                {{ knp_pagination_render(arAnticipos) }}
        </div>               
    <div class="modal-footer">            
            {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}