{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Lista creditos</h3>
    </div>
    <div class="container">
        {% if mensaje != "0" %}        
            <div class="alert alert-warning" role="alert">{{mensaje}}</div>
        {% endif %}    
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>{{ knp_pagination_sortable(arCreditos, 'ID', 'c.codigoCreditoPk') }}</th>
                <th>TIPO</th>
                <th>FECHA</th>
                <th>EMPLEADO</th>
                <th style="text-align: right">VR. CREDITO</th>
                <th style="text-align: right">VR. CUOTA</th>
                <th style="text-align: right">VR. SEGURO</th>
                <th style="text-align: right">VR. PAGAR</th>
                <th style="text-align: right">CUOTAS</th>
                <th style="text-align: right">C. ACTUAL</th>
                <th style="text-align: right">ESTADO</th>
                <th style="text-align: right">APROBADO</th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
            </tr>
            {% for arCreditos in arCreditos %}
            <tr>
                <td><input type="hidden" name="LblCodigo[]" value="{{ arCreditos.codigoCreditoPk }}">{{ arCreditos.codigoCreditoPk }} </td>
                <td>{{ arCreditos.creditoTipoRel.nombre  }}</td>
                <td>{{ arCreditos.fecha |date("Y/m/d")  }}</td>
                <td>{{ arCreditos.empleadoRel.nombreCorto  }}</td>
                <td style="text-align: right">{{ arCreditos.VrPagar | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ ((arCreditos.VrCuota - arCreditos.Seguro) | number_format(2, '.', ',')) }}</td>
                <td style="text-align: right">{{ arCreditos.Seguro | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ arCreditos.VrCuota | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ arCreditos.numeroCuotas | number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ arCreditos.numeroCuotaActual | number_format(0, '.', ',') }}</td>
                <td style="text-align: right" {% if arCreditos.estadoPagado == 1 %} class="success"> PAGADO {% else %} <td {{ arCreditos.estadoPagado }} class="danger">PENDIENTE {% endif %}</td>
                <td style="text-align: right" {% if arCreditos.aprobado == 0 %} class="danger"> NO {% else %} <td class="success">SI {% endif %}</td>
                <td><a href="{{ path('brs_rhu_credito_detalle', { 'codigoCreditoPk': arCreditos.codigoCreditoPk }) }}"><img src="{{ asset('imagenes/bootstrap/glyphicons_152_new_window.png') }}" width=22 height=22></a></td>
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arCreditos.codigoCreditoPk }}" /></td>
            </tr>
            {% endfor %}
        </table>
        {{ knp_pagination_render(arCreditos) }}


        <!-- Botones Menu Items -->
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                {{ form_widget(form.BtnPdf, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
            <div class="btn-group">
                {{ form_widget(form.BtnDesaprobar, { 'attr': {'class': 'btn btn-warning btn-sm'} }) }}
                {{ form_widget(form.BtnAprobar, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
                {{ form_widget(form.BtnEliminar, { 'attr': {'class': 'btn btn-danger btn-sm'} }) }}
            </div>
        </div>
        <!-- Fin Botones Menu Items -->
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
