{% extends '::base.html.twig' %}
{% block content %}

<div class="container">
{{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    <div class="page-header">
        <h3>Programacion recogidas</h3>
    </div>
    <div>
        <div class="btn-toolbar" style="float:left">
            <div class="btn-group">
                <a class="btn btn-default" href="{{ path('brs_tte_recogidas_planrecogida_nuevo', { 'codigoPlanRecogida': 0 }) }}">Nuevo</a>                
                <button class="btn btn-default " type="submit" name="OpSubmit" value="OpEliminar">Eliminar</button>

                <!-- Split button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Procesos</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>

                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('brs_tte_guias_nuevo', { 'codigoGuia': 0 }) }}">Corregir</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Proceso 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/>
    {% for arPlanesRecogidas in arPlanesRecogidas %}
        <div class="panel panel-default">
            <div class="panel-heading"><input type="checkbox" name="ChkSeleccionarPlanesRecogida[]" value="{{ arPlanesRecogidas.codigoPlanRecogidaPk }}" />&nbsp{{ arPlanesRecogidas.codigoPlanRecogidaPk}} {{ arPlanesRecogidas.vehiculoRel.Placa}} - {{arPlanesRecogidas.conductorRel.nombreCorto}}</div>
            <div class="panel-body">
                {{ arPlanesRecogidas.comentarios}}
            </div>
            <table  class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Nit</th>
                    <th>Cliente</th>
                    <th>Unidades</th>
                    <th>P. Real</th>
                    <th>P. Volumen</th>
                    <th>Declarado</th>
                    <th></th>
                    <th></th>
                </tr>
                    {% for arRecogidasAsignacion in arRecogidasAsignacion %}
                        {% if arPlanesRecogidas.codigoPlanRecogidaPk == arRecogidasAsignacion.codigoPlanRecogidaFk %}
                            <tr>
                                <td><input type="hidden" name="LblCodigoRecogida[]" value="{{ arRecogidasAsignacion.codigoRecogidaPk }}">{{ arRecogidasAsignacion.codigoRecogidaPk }} </td>
                                <td>{{ arRecogidasAsignacion.fechaAnuncio |date("Y/m/d H:i")  }}</td>
                                <td>{{ arRecogidasAsignacion.terceroRel.nit  }}</td>
                                <td>{{ arRecogidasAsignacion.terceroRel.nombreCorto  }}</td>
                                <td style="text-align: right">{{ arRecogidasAsignacion.ctUnidades | number_format(0, '.', ',')}}</td>
                                <td style="text-align: right">{{ arRecogidasAsignacion.ctPesoReal | number_format(0, '.', ',')}}</td>
                                <td style="text-align: right">{{ arRecogidasAsignacion.ctPesoVolumen | number_format(0, '.', ',')}}</td>
                                <td style="text-align: right">{{ arRecogidasAsignacion.VrDeclarado | number_format(0, '.', ',')}}</td>                                
                                <td><button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">Reprogramar</button></td>
                                <td><input type="checkbox" name="ChkSeleccionarRecogida[]" value="{{ arRecogidasAsignacion.codigoRecogidaPk }}" /></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                <tr>
                    <td>{{ arPlanesRecogidas.ctRecogidas | number_format(0, '.', ',')}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right">{{ arPlanesRecogidas.ctUnidades | number_format(0, '.', ',')}}</td>
                    <td style="text-align: right">{{ arPlanesRecogidas.ctPesoReal | number_format(0, '.', ',')}}</td>
                    <td style="text-align: right">{{ arPlanesRecogidas.ctPesoVolumen | number_format(0, '.', ',')}}</td>
                    <td style="text-align: right"></td>
                    <td></td>
                    <td></td>
                </tr>                            
            </table>
            <div class="panel-footer">&nbsp
                <div class="btn-toolbar" style="float: right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" href="javascript:abrirVentana3('{{ path('brs_tte_recogidas_agregar', {'codigoPlanRecogida': arPlanesRecogidas.codigoPlanRecogidaPk}) }}', 'AgregarRecogida', 600, 900)">Agregar recogida</a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger btn-xs" type="submit" name="OpSubmit" value="OpRetirar">Retirar recogida</button>                        
                    </div>                    
                </div>
                <div class="btn-toolbar" style="float: left">
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs" href="{{ path('brs_tte_recogidas_planrecogida_nuevo', { 'codigoPlanRecogida': arPlanesRecogidas.codigoPlanRecogidaPk }) }}" style="float:left">Editar plan</a>
                        <a class="btn btn-default btn-xs" href="{{ path('brs_tte_recogidas_planrecogida_nuevo', { 'codigoPlanRecogida': arPlanesRecogidas.codigoPlanRecogidaPk }) }}" style="float:left">Imprimir</a>
                    </div>
                </div>                
            </div>            
        </div>
    {% endfor %}

    <!-- Fin Botones Menu Items -->
    <br /><br />
    <div class="page-header">
        <h3>Pendientes por asigar</h3>
    </div>
    <table  class="table table-striped table-bordered table-condensed">
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Nit</th>
            <th>Cliente</th>
            <th>Unidades</th>
            <th>P. Real</th>
            <th>P. Volumen</th>
            <th>Declarado</th>
        </tr>
            {% for arRecogidas in arRecogidas %}
        <tr>
            <td><input type="hidden" name="LblCodigoRecogida[]" value="{{ arRecogidas.codigoRecogidaPk }}">{{ arRecogidas.codigoRecogidaPk }} </td>
            <td>{{ arRecogidas.fechaAnuncio |date("Y/m/d H:i")  }}</td>
            <td>{{ arRecogidas.terceroRel.nit  }}</td>
            <td>{{ arRecogidas.terceroRel.nombreCorto  }}</td>
            <td style="text-align: right">{{ arRecogidas.ctUnidades | number_format(0, '.', ',')}}</td>
            <td style="text-align: right">{{ arRecogidas.ctPesoReal | number_format(0, '.', ',')}}</td>
            <td style="text-align: right">{{ arRecogidas.ctPesoVolumen | number_format(0, '.', ',')}}</td>
            <td style="text-align: right">{{ arRecogidas.VrDeclarado | number_format(0, '.', ',')}}</td>
        </tr>
            {% endfor %}
    </table>
{{ form_end(form) }}    
</div>
{% endblock %}
